<template>
    <div>
        <!-- 범례 -->
        <div class="custom-data-labels label-legend">
            <ul class="labels-list">
                <li><button class="txt">태양광발전량</button></li>
                <li><button class="txt">충전량</button></li>
                <li><button class="txt">방전량</button></li>
            </ul>
        </div>

        <line-chart :chartdata="chartdata" :chartoptions="chartoptions"></line-chart>
    </div>
</template>

<script>
    import LineChart from './LineChart'
    export default {
        name: 'LineChartCustomComponent',
        props:{
            chartdata: {
                type: Object,
                default: null
            },
            chartoptions: {
                type: Object,
                default: null
            }
        },
        components:{
            LineChart
        }
    }
</script>
