<template>
    <div>
        <!-- 범례 -->
        <div class="custom-data-labels label-legend">
            <ul class="labels-list">
                <li><button class="txt" @click="clickChartLegend">태양광발전량</button></li>
                <li><button class="txt" @click="clickChartLegend">충전량</button></li>
                <li><button class="txt" @click="clickChartLegend">방전량</button></li>
            </ul>
        </div>

        <line-chart :chartdata="chartdata" :chartoptions="chartoptions"></line-chart>
    </div>
</template>

<script>
    import LineChart from './LineChart'
    import { EventBus } from "@/common/EventBus"


    export default {
        name: 'LineChartCustomComponent',
        props:{
            chartdata: {
                type: Object,
                default: null
            },
            chartoptions: {
                type: Object,
                default: null
            }
        },
        components:{
            LineChart
        },
        mounted(){

        },
        methods:{
            clickChartLegend(e){

                EventBus.$emit('clickLegend', e.currentTarget)

                // var index = $(this).index();
                // var meta = chartObject.getDatasetMeta(index);
                //
                // $(this).toggleClass('off');
                // // See controller.isDatasetVisible comment
                // meta.hidden = meta.hidden === null ? !chartObject.data.datasets[index].hidden : null;
                //
                // // We hid a dataset ... rerender the chart
                // chartObject.update();
            }
        }
    }
</script>
