<template>
    <div>
        <b-row>
            <middle-content-component></middle-content-component>
        </b-row>
        <b-row>
            <b-col cols="12">
                <block-main-content-component></block-main-content-component>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import MiddleContentComponent from './section-contents/ControlChangeHistoryMiddleContent'
    import BlockMainContentComponent from './section-contents/ControlChangeHistoryContentMain'
    export default {
        name: "ControlChangeHistoryFrameComponent",
        components:{
            MiddleContentComponent,
            BlockMainContentComponent
        }
    }
</script>
