<template>
    <div class="input-group date form-input-calendar">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="i-icon icon-calendar"></i></span>
        </div>
        <input type="text" class="form-control" v-model="year">
        <span class="focus-panel"></span>
    </div>
</template>

<script>
    export default {
        name: "YearPicker",
        props:{
            year: String
        },
        data(){
            return {

            }
        },
        mounted(){
            let vm = this;

            $(this.$el).datepicker({
                'autoclose':true,
                'minViewMode':2,
                'maxViewMode':2,
                'format':'yyyy'
            }).on('chnangeDate', (e)=>{
                console.log('callback year', e)
                vm.$emit('change', e.date.getFullYear())
            });
        },
        updated(){
            $(this.$el).datepicker('update', this.year);
        }
    }
</script>

<style scoped>

</style>