<template>
    <div class="input-group date form-input-calendar">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="i-icon icon-calendar"></i></span>
        </div>
        <input type="text" class="form-control" v-model="rangeDate1">
        <input type="text" class="form-control" v-model="rangeDate2">
        <span class="focus-panel"></span>
    </div>
</template>

<script>
    export default {
        name: 'FullDatePicker',
        props: {
            rangeDate1: String,
            rangeDate2: String
        },
        data(){
            return{
                r1: this.rangeDate1,
                r2: this.rangeDate2,
            }
        },
        created(){

        },

        mounted: function() {

            var that = this;
            var inputDate = $(this.$el).find('input');
            inputDate.datepicker({
                'autoclose':true,
                'minViewMode':0, //day까지 선택할수 있게 선언
                'maxViewMode':2,
                'format':'yyyy.mm.dd' //날짜 포맷
            }).on('changeDate', function(e){
                var year = e.date.getFullYear();
                var month = e.date.getMonth() + 1;
                if(month < 10) month = '0' + month;
                var day = e.date.getDate();
                that.$emit('change',String(year)+'.'+String(month)+'.'+day);
            });
        },
        updated: function(){
            var inputDate = $(this.$el).find('input');
            inputDate.datepicker('update', this.fullDate);
        }
    }
</script>