<template>
    <div class="input-group date form-input-calendar">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="i-icon icon-calendar"></i></span>
        </div>
        <input type="text" class="form-control" v-model="yearmonth">
        <span class="focus-panel"></span>
    </div>
</template>
<script>
    export default {
        name: 'YearMonthPicker',
        props: {
            yearmonth: String
        },
        mounted: function() {
            var that = this;
            $(this.$el).datepicker({
                'autoclose':true,
                'minViewMode':1, //month까지 선택할수 있게 선언
                'maxViewMode':2,
                'format':'yyyy.mm' //날짜 포맷
            }).on('changeDate', function(e){
                var year = e.date.getFullYear();
                var month = e.date.getMonth() + 1;
                if(month < 10) month = '0' + month;
                that.$emit('change',String(year)+'.'+String(month));
            });
        },
        updated: function(){
            $(this.$el).datepicker('update', this.yearmonth);
        }
    }
</script>