<template>
    <div v-bar="{
        preventParentScroll: true,
        scrollThrottle: 5,
    }">
        <div>
            <!-- your scrollable content -->
            <slot name="scrollable-content"></slot>
        </div>
        <!-- dragger will be automatically added here -->
    </div>
</template>

<script>
    export default {
        name: "CustomScrollbarWrapper"
    }
</script>
