<template>
    <div>
        <vue-ctk-date-time-picker
        :id="'testB'"
        :no-label = "true"
        :right = "true"

        :noClearButton="true"
        :range="true"
        :color="'#7277dd'"

        :no-header="options.noHeader"
        :noShortcuts = "options.noShortcuts"
        :inline="options.inline"
        :only-date="options.onlyDate"
        :only-time="options.onlyTime"
        :disabled-dates="options.disabledDates"
        :format="options.format"
        v-model = dateRange
        >
        </vue-ctk-date-time-picker>
    </div>
</template>
<script>

    import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
    import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

    export default {
        props:{
            options:{
                type: Object,
                default(){
                    return{
                        noHeader: false,
                        inline: false,
                        format:'YYYY-MM-DD',
                        onlyDate: false,
                        onlyTime: false,
                        disabledDates: 'hh:mm a',
                        range: false,
                        noShortcuts:false,
                        locale:false,
                    }
                }
            }
        },
        data(){
            return{
                dateRange:'2018-04-07 20:26'
            }
        },
        created() {

        },
        mounted(){

        },
        components: {
            VueCtkDateTimePicker
        },
    }
</script>