.chart-holder{
    canvas{
        position: relative;
        z-index: 2;
        width:100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    //커스텀 범례
    .custom-data-labels{
        ul > li{
            display: inline-block;
            cursor:default;

            .txt{
                padding:0;
                background: transparent;
                border:none;
                font-size:13px;
                line-height:1.15;
                color:#a4b0bf;
                vertical-align: middle;
            }
        }

        &.label-legend{
            ul > li{
                margin-right:26px;
                &:last-child{
                    margin-right:0;
                }

                &.off{
                    opacity:0.5;
                    text-decoration:line-through;
                }

                .txt{
                    &:before{
                        display: inline-block;
                        width:10px; height:10px;
                        margin-right:6px;
                        background: gray;
                        border-radius: 50%;
                        //vertical-align: middle;
                        content:'';
                    }
                    &:focus{
                        outline: transparent;
                    }
                }
            }
        }

        &.label-badge{
            ul > li{
                margin-right:16px;
                &:last-child{
                    margin-right:0;
                }
                .txt{
                    margin-right:6px;
                }
                .badge{
                    padding:3px 7px;
                    font-size:12px;
                }
            }

        }
    }

    &.type-doughnut{
        canvas{
            width:100%; height:100%;//
        }
        .inner-txt{
            position:absolute;
            left:0; top:0;
            z-index:1;
            width:100%;
            height:100%;
            font-size:0.83vw;
            color:#fff;
            text-align:center;

            &:before{
                @extend %vertical-middle;
            }

            @media (min-width: $screen-xlg) {
                font-size:16px;
            }
            @include media-breakpoint-down(sm){
                font-size:2.13vw;
            }
        }

    }

}

//커스텀 툴팁
.chartjs-tooltip{
    position: absolute; left:0; top:40px; z-index: 9;
    min-width:110px;
    border:2px solid #565c66;
    background: rgba($white,0.85);
    padding:10px 20px;
    box-shadow:0 3px 10px rgba($black, 0.3);
    text-align: center;
    font-family:$font-kor;
    &.tooltip-bar{
        .title{
            font-size:13px;
            color:#45484c;
        }
        .desc{
            font-size:13px;
            color:$color-spot;
        }
    }

}


