// 콘텐츠에 영역에 사용되는 컴포넌트 모음
.alert-holder{
    height:20px;
    margin:10px 0;
    color:#ff406c;
    &:before{
        display: inline-block;
        width:20px;
        height:100%;
        background: url('/images/ui/icon_alert_msg.svg') no-repeat 0 0 / contain;
        content:'';
        vertical-align: middle;
    }
    span{
        vertical-align: middle;
        padding-left:10px;
    }
}
// 검색 폼 영역
.sch-form-wrap{
    width:100%;
    margin:0 15px;
    padding: 0 0 40px;
    text-align: center;

    .form-inline{
        margin:0 auto;
    }

    .form-group{
        padding-right:6px;
        margin: 3px 0;

        label{
            display: none;
        }
        label.title{
            padding-right:16px;
            color:#96a3b2;
        }
        .form-control{
            color:#fff;
        }
    }

    .selectbox-group{
        display: inline-block;
        vertical-align: middle;
    }

    .form-input-calendar{
        margin:0;
    }


    .btn{
        margin-right:2px;
        &:last-child{
            margin-right:0;
        }

        .i-icon{
            top:-1px;
            margin-right:8px;
        }
        em{
            top:-1px;
            font-weight:700;
        }
    }


}

// *********  Switchery *********
inpu[type="radio"], input[type="checkbox"]{
    & + .switchery {
        width: 36px;
        height: 18px;

        & > small {
            top:1px;
            width: 16px;
            height: 16px;
            margin-left:1px;
        }
    }

    &:checked{
        & + .switchery{
            & > small{
                margin-left:-1px;
            }
        }
    }

}


// ********* progress bar *********
.progress{
    background: #2a2d36;
    margin-bottom:0;
    border-radius:0;
    &-bar{
        background: #1ec1c9;
    }
}

// ********* tables styling *********
.scrollable-table {
    overflow: hidden;

}

.tbl-wrap{
    //@include break-point($mobile){
    //    &.scrollable-table{
    //
    //    }
    //}

    .table{
        &.mb-xscroll{



        }


    }

    @include media-breakpoint-down(xs){
        .mwrap{
            overflow: hidden;
            overflow-x: auto;
        }

        .table{
            &.type-data{
                th,td{
                    padding-left:2vw !important;
                    padding-right:2vw !important;
                }
            }

            &.mb-xscroll{
                width:200% !important;

                .select-checkbox{
                    width: 5%;
                }
            }
        }
    }
}

// 기본 테이블 스타일
table.table{
    margin-top:0 !important;
    margin-bottom:0 !important;
    color:#a4b0bf;

    caption{
        display: none;
    }
    > thead, > tbody, > tfoot{
        > tr > th, > tr > td{
            font-family:$font-kor;
            font-size:13px;
            line-height: 1.3;
            vertical-align: middle;
        }
    }


    tbody{
        tr{
            .cell-center{
                text-align: center;
            }

            .bul{
                &:before{
                    margin-right:8px;
                    content:'∙';
                }
            }

            label{
                margin-bottom:0;
            }
        }
    }

    &.type-data{
        thead{
            tr{
                th{
                    padding:9px 0.2vw 9px;
                    background: #2a2d36;
                    color:#a4b0bf;
                }
            }
        }
        tbody{
            tr{
                th,td{
                    padding:9px 0.2vw 9px;
                    background: #2f323c;
                    word-break: break-all;
                    &.none-data{
                        padding:50px 0;
                        text-align: center;
                    }
                }
            }
        }

        &-x1{
            tbody{
                tr{
                    td{
                        padding-left:1vw;
                        padding-right:1vw;
                        &:nth-of-type(1){
                            color:#a4b0bf;
                        }
                    }
                }

                span.txt{
                    float: left;
                    display:inline-block;
                    width:80%;
                    vertical-align: middle;
                    & + span{
                        float: right;
                    }
                }
            }
        }

        
    }

    // table-style-defined
    // cell-hover
    &.tbl-cell-hover{
        tbody{
            tr{
                &:hover, &.selected{
                    th, td{
                        background: #32353f;
                    }
                }
            }
        }
    }

    // border-type
    &.table-bordered{
        border:none;
        border-radius: 3px;
        border-collapse: collapse !important;
        thead, tbody, tfoot{
            tr{
                th, td{
                  border:1px solid #3e424d;
                    &:last-child{
                        border-right-width: 1px !important;
                    }
                }
            }
        }
        thead{
            tr{
                &:last-child > th{
                    border-bottom-width:2px;
                }
            }

        }


    }


    &.table-cell-underline{
        thead, tbody, tfoot{
            tr{
                th, td{
                    padding:9px 0.2vw 9px;
                    border:none;
                    border-bottom:1px solid #3e424d;
                    font-weight:normal;

                    &.bul{
                        padding-left:0.3vw;
                    }
                }

            }
        }
        &.cell-txt-align-1{
            tr{
                th,td{
                    text-align: center;
                    &:nth-child(1){
                        padding-left:1.15vw;
                        text-align: left;
                    }
                }

                td:nth-child(1){
                    color:#fff;
                }
            }

        }
    }

    // text alignment type in cell
    &.cell-txt-align-1{ // 첫번째 셀 좌측 정렬 나머지 중앙 정렬
        tr{
            th{
                text-align: center;
                &:nth-child(1){
                    padding-left:1vw;
                    text-align: left;
                }
            }
            td{
                text-align: center;
                color:#fff;
                &:nth-child(1){
                    padding-left:1vw;
                    color:#a4b0bf;
                    text-align: left;
                }
            }
        }
    }
    &.cell-txt-align-2{ // 첫번째 셀 중앙 정렬, 나머지 좌측 정렬. td컬러만 white
        thead,tbody{
            tr{
                th{
                    padding-left:1vw;
                    &:nth-child(1){
                        padding-left:0.2vw;
                        text-align: center;
                    }
                }
                td{
                    padding-left:1vw;
                    color:#fff;
                    &:nth-child(1){
                        padding-left:0.2vw;
                        text-align: center;
                    }
                }
            }
        }
    }

    &.cell-txt-align-3{ // 셀 모두 좌측 정렬, 큰 테이블에 사용
        thead{
            tr{
                th{
                    padding-left:1vw;
                    padding-right:1vw;
                    padding-top:16px;
                    padding-bottom:15px;
                }
            }
        }

        tbody{
            tr{
                td{
                    padding-left:1vw;
                    padding-right:1vw;
                    padding-top:13px;
                    padding-bottom:13px;
                    color:#a4b0bf;
                }
            }
        }
        
        &.x-1{
            tr{
                th, td{
                    text-align: center;
                    &:first-child{
                        text-align: left;
                    }
                }
            }
        }
        &.x-2{
            tr{
                th, td{
                    text-align: center;
                }
            }
        }

    }

    &.cell-txt-align-4 { // 셀 모두 좌측 정렬, 큰 테이블에 사용
        thead {
            tr {
                th {
                    padding-left: 1vw;
                    padding-right: 1vw;
                    padding-top:9px;
                    padding-bottom:10px;
                    border-bottom-width:1px;
                    text-align: center;
                }
            }
        }

        tbody {
            tr {
                &:first-child{
                    td{
                        border-top-width:2px;
                    }
                }

                td {
                    padding-left: 1vw;
                    padding-right: 1vw;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    color: #a4b0bf;
                    text-align: right;
                }
            }
        }
        tfoot{
            th,td{
                padding-left: 1vw;
                padding-right: 1vw;
                padding-top: 16px;
                padding-bottom: 17px;
                background: #2a2d36;
                color: #a4b0bf;
            }
            tr{
                th{
                    text-align: center;
                }
                td{
                    text-align: right;
                }

                &:first-child{
                    th,td{
                        border-top-width:2px;
                    }
                }
            }

        }
    }



    // layout type
    &.table-none-border{
        tbody{
            tr{
                th, td{
                    border:none;
                }
            }
        }
    }



    // 셀안에 정렬
    .align-left-right{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lft, .rgt{
            display: block;
        }
    }


    // 테이블 쉘 내 스타일 적용
    .txt-overflow {
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .align-left-right{
        .rgt{
            .i-icon{
                opacity:0.5;
                vertical-align: top;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

}

//white version(popup에서 사용되는 데이터 테이블 스타일)
.type-table-white{
    .table{
        thead{
            tr{
                th,td{
                    background: #8a8f99;
                }
            }
        }
        tbody{
            tr{
                th,td{
                    background: #fff;
                }
            }
        }

        &.table-bordered{
            thead, tbody, tfoot{
                tr{
                    th, td{
                        border-color:#dfe2e5;
                    }
                }
            }
            thead{
                &:first-child > tr:first-child > th{
                    border-top-color: #dfe2e5;
                }
            }
        }
        &.cell-txt-align-1,
        &.cell-txt-align-2{
            thead{
                th{
                    color:#fff;
                }
            }
            tbody{
                th{
                    color:#45484c;
                    &:nth-child(1){
                        color:#8a8f99;
                    }
                }
                td{
                    color:#45484c;
                    &:nth-child(1){
                        color:#8a8f99;
                    }
                }
            }
        }

    }
}

// 테이블 상단
.cap-content{
    @include clearfix;
}

.tbl-etc-left{
    @include media-breakpoint-only(xs){
        width:100%;
    }
}
.tbl-etc-right{
    position: absolute; right:10px; top:18px;

    @include media-breakpoint-only(xs){
        position: static;
        width:100%;
    }
}

.board-list-count{
    padding: 9px 0 11px;
    color:#adbbcc;
    font-weight:400;

    .current{
        color:#fff;
    }
}

.board-top-btns{
    padding:6px 0 7px;

    .btn{
        margin-left:0;
        margin-right:18px;
        &:last-of-type{
            margin-right:0;
        }
        .i-icon{
            margin-right:10px;

        }
        em{
            font-weight:500;
        }


    }

    @include media-breakpoint-only(xs){
        padding-top:0;
        margin-left:-12px;
    }

}



// ********* pagination *********
.pagination{
    margin-bottom:0;
    & > li {
        & > a, & > span{
            min-width:36px;
            padding:9px 4px 7px;
            border-color:#3e424d;
            background: transparent;
            font-size:13px;
            color:#b8bfcc;
        }
        & > a:hover, & > a:focus{
            border-color:#3e424d;
            background: transparent;
            color:#fff;
            text-decoration: underline;
        }
        &:first-child,
        &:last-child{
            span{
                display:inline-block;
                width:6px; height:10px;
                background: url('/images/ui/icon_arr_triangle.svg') no-repeat center center;
                opacity: 0.5;
            }

            &:hover, &:focus{
                span{
                    opacity:1;
                }
            }
        }
        &:last-child{
            span{
                transform:rotate(180deg);
            }
        }
    }
}

.chk-title{
    padding-bottom:16px;
    font-size:18px;
    line-height:1;
    font-weight:500;
    color:#b2b6ff;

    &:before{
        @extend %vertical-middle;
        @extend .icon-arr-1;
        width:13px; height:10px;
        margin-right:12px;
        background-repeat: no-repeat;
        background-size:contain;
    }

    span{
        vertical-align: middle;
    }
}

// 항목 테이블 컴포넌트
.tbl-setup-list{
    padding: 40px 0 37px;
    border-bottom:1px solid #383c45;
    &.first{
        padding-top:20px;
    }
    &.none-border{
        border-bottom:none;
    }

    h2{
        @extend .chk-title;
    }

    > table{
        width:100%;
        table-layout: fixed;
        > thead, > tbody{
          > tr{
              > th{
                  padding:3px 0 3px 10px;
                  color:#a4b0bf;
                  &:before{
                      display: inline-block;
                      background: #3e424d;
                      width:6px; height:6px;
                      margin-right:10px;
                      border-radius:50%;
                      content:'';
                      vertical-align: middle;
                  }
                  label{
                      vertical-align: middle;
                  }
              }

              > td{
                  padding:3px 0;
                  .form-control{
                      display: inline-block;
                      width:140px;
                      vertical-align: middle;
                  }

                  .sm-txt{
                      padding-left:12px;
                      color:#a4b0bf;
                      vertical-align: middle;
                  }
              }
          }
        }
    }

    //출력용 테이블
    &.type-none-form{
        > table{
            > thead, > tbody{
                > tr{
                    > th, > td{
                        padding-top:13px;
                        padding-bottom:13px;
                        vertical-align: top;
                    }
                    > th{
                        &:before{
                            margin-top:-3px;
                        }
                    }
                }
            }
        }
    }

}


// ********* form design *********

.input-group {
    margin-bottom: 10px;
    &-prepend{
        & > .input-group-text{
            background-color: transparent;
            border-color: transparent;
        }
    }

}

span.section {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.form-inline{

}

.form-group{

}

.form-control {
    border-color:#484d59;
    background: transparent;
    border-radius: 4px;
    width: 100%;
    height:36px;
    box-shadow: none;
    font-size:13px;
    color:white;

    &:focus {
        border-color: #CCD0D7;
        box-shadow: none !important;
        color:$color-base !important;
    }

    &.type-w{
        background: #fff;
        border-color:#dfe3e9;
        color:$color-base;
        &:focus{
            border-color: #999;
        }
    }
}

.form-control[readonly], .form-control[disabled] , fieldset[disabled] .form-control {
    background-color: transparent;
    border-color:#484d59;
    opacity: 1;

    &.type-w{
        background: #fff;
        border-color:#dfe3e9;
    }
}

.form-control[disabled], fieldset[disabled] .form-control{
    color:#222;
    &.type-w{
        color:#bbb;
    }
}
.form-control[readonly]{
    color:#cacaca;
    &.type-w{
        color:#999;
    }
}

.form-horizontal .control-label {
    padding-top: 8px
}


.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.form-control-feedback {
    margin-top: 8px;
    height: 23px;
    color: #bbb;
    line-height: 24px;
    font-size: 15px;
}

.form-group {
    margin-bottom: 10px;
}
.form-inline .form-group{

}



// checkbox
//bootstrap ui
.custom-control{
    //.custom-control-input{
    //    &:checked + label{
    //        &:after{
    //            border-color:#ff406c;
    //            background: #ff406c;
    //        }
    //
    //        &:before{
    //            background-image: url('/images/ui/icon_check.svg');
    //        }
    //    }
    //
    //    &[disabled]{
    //        &:checked~ .custom-control-label:after{
    //            background: rgba(#ff406c, 0.7);
    //        }
    //        & + label{
    //            cursor: not-allowed
    //        }
    //    }
    //}



    .custom-control-label{
        &:before,
        &:after{

        }
        &:before{
            border-color: #dfe3e9;
        }
        &:after{
            background-image: url('/images/ui/icon_check.svg')
        }
        em{
            color: #8a8f99;
            line-height: 1.9;
        }
    }


    &.type-w{
        .custom-control-input{
            &:checked + .custom-control-label{
                &:before{
                    border-color: #dfe3e9;
                    background-color: #fff;
                }
                &:after{
                    background-image: url('/images/ui/icon_check_c.svg')
                }
            }
            &:focus:not(:checked) ~ .custom-control-label{
                &:before{
                    //border-color: #e2f2fd;
                    //outline-color: rgba(#e2f2fd ,0.3);
                }
            }
        }

    }
}



.custom-chk-rdo{
    display: inline-block;
    margin-bottom:0;
    margin-right:20px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;

    input[type = radio], input[type = checkbox] {
        display: block;
        position: absolute;
        left:-16px; top:0;
        width:12px; height:12px;

        & + label{
            > i {
                display: inline-block;
                border: 1px solid #484d59;
                background: #2a2d36;
                width: 16px;
                height: 16px;
                margin-bottom: 0;
                vertical-align: middle;
            }
            > em{
                padding-left:9px;
                vertical-align: middle;
                font-weight:400;
            }
        }

        &[disabled]{
            &[checked]{
                & + label{
                    i{
                        background: rgba(#ff406c, 0.7);
                    }
                }
            }
            & + label{
             cursor: not-allowed
            }
        }
    }

    input[type = radio] {
        & + label > i{
            border-radius:50%;
            background: #2a2d36;
        }

        &:checked + label > i{
            border-color:#ff406c;
            background: #ff406c;

            &:before{
                display: block;
                width:100%; height:100%;
                margin:-1px 0 0 0;
                content:'';
                background: url('/images/ui/icon_check.svg') no-repeat center center / auto 50%;
            }
        }
    }

    input[type=checkbox] {
        & + label > i{
            border-radius:4px;
            background: #2a2d36;
        }

        &:checked + label > i{
            border-color:#ff406c;
            background: #ff406c;

            &:before{
                display: block;
                width:100%; height:100%;
                margin:-1px 0 0 0;
                content:'';
                background: url('/images/ui/icon_check.svg') no-repeat center center / auto 50%;
            }
        }
    }

    &.type-w{
        input[type = radio], input[type = checkbox] {
            & + label {
                > i {
                    border-color:#dfe3e9;
                    background: #fff;

                    &:before{
                        background-image: url('/images/ui/icon_check_c.svg');
                    }
                }

                em{
                    color:#8a8f99;
                }
            }

            &[disabled] {
                & + label {
                    i {
                        background: rgba(#fff, 0.7);
                    }
                }
            }
        }
    }

    &.only-input{
        margin-right:0;
        label{
            em{
                display: none;
            }
        }
    }
}

.custom-chk-sticky {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    vertical-align: middle;

    input[type=checkbox] {
        position: absolute;
        left:-16px; top:0;

        & + label em{
            display: none;
        }

        & + label > i{
            display: inline-block;
            position: relative;
            border-radius: 10px;
            background: #212430;
            width: 38px;
            height: 20px;
            margin-bottom: 0;
            vertical-align: middle;
            transition:all 0.3s;

            &:before{
                display: block;
                position: absolute; left:3px; top:2px;
                width:16px; height:16px;
                border-radius: 50%;
                background: #fff;
                content: '';
                transition:all 0.3s;
            }
        }

        &:checked + label > i{
            background: #7277dd;
            transition:all 0.3s;

            &:before{
                left:20px;
                transition:all 0.3s;
            }
        }
    }
}

// selectbox
.selectbox{
    width:110px;
    height:36px;
    line-height:36px;
    padding:0 15px;
    border:1px solid #484d59;
    border-radius: 4px;
    background: transparent;
    background: url('/images/ui/icon_arr_selectbox.png');
    background-repeat:no-repeat;
    background-position: right 0;
    background-size:auto 100%;
    color:#a4b0bf;
    font-size:12px;

    &.type-w{
        border-color: #dfe3e9;
        background-color: #fff;
        color: #45484c
    }

    &[disabled]{
        opacity: 0.5;
        cursor: not-allowed
    }
}


/* alerts (when validation fails) */

.item .alert {
    float: left;
    margin: 0 0 0 20px;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 3px 4px 4px 3px;
    background-color: #CE5454;
    max-width: 170px;
    white-space: pre;
    position: relative;
    left: -15px;
    opacity: 0;
    z-index: 1;
    transition: 0.15s ease-out;
}
.item .alert::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    position: absolute;
    left: -13px;
    top: 1px;
}
.item.bad .alert {
    left: 0;
    opacity: 1;
}

.inl-bl {
    display: inline-block;
}
.well .markup-heading {}
.well .markup {
    background: #fff;
    color: #777;
    position: relative;
    padding: 45px 15px 15px;
    margin: 15px 0 0 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
}
.well .markup::after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* *********  form textarea  **************************** */

textarea {
    padding: 10px;
    vertical-align: top;
    width: 200px;
}
textarea:focus {
    outline-style: solid;
    outline-width: 2px;
}


// ********* buttons styling *********
.btns-group{
    position: relative;
    font-size:0;

    .btn{

    }
    &.double{
        .btn{
            margin: 0 3px;
        }
    }

    .pull-left{
        position: relative;
        z-index:2;
    }
    .pull-center{
        position: absolute;
        left:0; top:0;
        width:100%;
        text-align: center;
    }
    .pull-right{
        position: relative;
        z-index:2;
    }
}


.btn {
    height:36px;
    padding:0 12px;
    border-radius: 4px;
    font-weight:300;
    line-height:1;
    &:before{
        @extend %vertical-middle;
    }

    &:hover, &:focus{
        text-decoration: none;
        color:#fff;
    }

    em{
        display: inline-block;
        position: relative;
        //top:-1px;
        font-size:13px;
        font-weight:300;
        color:#e2e7ee;
        vertical-align: middle;
    }

    .i-icon{
        position: relative;
        //top:-1px;
        height:100%;
        margin-right: 8px;
    }
}

.btn-txt{
    padding-left:27px;
    padding-right:27px;
    em{
        top:0;
        font-size:14px;
        font-weight:500;
    }
}

a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
    color: #fff;
}

.btn-default{
    border-color: #565c66;
    background: #565c66;
    em{
        color:#fff;
    }
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    @at-root .desktop &{
        border: 1px solid #646a75;
        background: #646a75;
    }
}

.btn-link{
    color:#a4b0bf;
}

.btn-hot{
    color:#ff5980;
}

.btn-ok-1 {
    background: #ff406c;
    border: 1px solid #ff406c;
    em{
        color:#fff;
    }
}
.btn-ok-1:hover, .btn-ok-1:focus, .btn-ok-1:active, .btn-ok-1.active, .open .dropdown-toggle.btn-ok-1 {
    @at-root .desktop &{
        border: 1px solid #fe5d82;
        background: #fe5d82;
    }
}
.btn-ok-2 {
    background: #7277dd;
    border: 1px solid #7277dd;
    em{
        color:#fff;
    }

    &[disabled]{
        &{
            opacity: 1;
            background: #f0f3f7;
            border-color:#f0f3f7;
        }
        @at-root .desktop &{
            &:hover, &:focus{
                opacity: 1;
                background: #f0f3f7;
                border-color:#f0f3f7;
            }
        }
    }
}
.btn-ok-2:hover, .btn-ok-2:focus, .btn-ok-2:active, .btn-ok-2.active, .open .dropdown-toggle.btn-ok-2 {
    @at-root .desktop &{
        border: 1px solid #7c81ec;
        background: #7c81ec;
    }
}

.btn-ok-3 {
    background:#545fb3;
    border:1px solid #545fb3;
}

.btn-white {
    background: #fff;
    border: 1px solid #d4d9e1;
    em{
        color:#45484c;
    }
}
.btn-white:hover, .btn-white:focus, .btn-white.active{
    @at-root .desktop &{
        background: #f9f9f9;
    }
}

.btn-primary{
    background: #3e4b59;
    border-color:#516173;
}

.btn-dark {
    color: #E9EDEF;
    background-color: #4B5F71;
    border-color: #364B5F;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
    color: #FFFFFF;
    background-color: #394D5F;
    border-color: #394D5F;
}
.btn-group-xs>.btn, .btn-xs{
    height:20px;
    border-radius: 3px;
    em{
        font-size: 12px;
        line-height: 1.5;
    }
}
.btn-group-sm > .btn, .btn-sm{
    height:30px;
    border-radius: 3px;
    em{
        font-size: 12px;
    }
}

.btn-group-lg > .btn, .btn-lg{
    min-width:140px;
    height:50px;
    padding:0 0;
    border-radius:5px;
    text-align:center;
    em{
        font-size: 14px;
        font-weight:500;
    }
}






//아이콘 정의
.i-icon{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position:0 center;
    background-size: contain;

    &:before{

    }
}
.icon-arr-small-g{
    background-image:url('/images/ui/icon_arr_small_g.svg');
}
.icon-arr-1{
    background-image:url('/images/ui/icon_arr_1.svg');
}
.icon-arr-left{
    background-image:url('/images/ui/icon_arr_left.png');
}
.icon-arr-left-bold{
    background-image:url('/images/ui/icon_arr_left_bold.svg');
}
.icon-volume{
    background-image: url('/images/ui/icon_volume_off.svg');
}

.icon-calendar{
    width: 18px;
    height: 15px;
    background-image:url('/images/ui/icon_calendar.png');
}

.icon-repeat{
    width:16px; height:18px;
    background-image:url('/images/ui/icon_repeat.svg');
    &-w{
        width:13px; height:16px;
        background-image:url('/images/ui/icon_repeat_w.svg');
    }
}

.icon-zoom{
    width:14px; height:14px;
    background-image:url('/images/ui/icon_zoom.svg');
    &-w{
        width:14px; height:14px;
        background-image:url('/images/ui/icon_zoom_w.svg');
    }
}

.icon-plus{
    width:20px; height:20px;
    background-image:url('/images/ui/icon_plus.svg');
}
.icon-edit{
    width:20px; height:20px;
    background-image:url('/images/ui/icon_edit.svg');
}
.icon-delete{
    width:20px; height:20px;
    background-image:url('/images/ui/icon_delete.svg');
}

.icon-info{
    width:16px; height:16px;
    background-image:url('/images/ui/icon_info.png');
}
.icon-info-hot{
    width:16px; height:16px;
    background-image:url('/images/ui/icon_info_hot.png');
}
.icon-exell{
    width:20px; height:20px;
    background-image:url('/images/ui/icon_exell.png');
    &-b{
        width:20px; height:20px;
        background-image:url('/images/ui/icon_exell_b.png');
    }
    &-w{
        width:20px; height:20px;
        background-image:url('/images/ui/icon_exell_w.png');
    }
}
.icon-print{
    width:20px; height:20px;
    //background-image:url('/images/ui/icon_print.png');
    &-b{
        width:20px; height:20px;
        background-image:url('/images/ui/icon_print_b.png');
    }
}


.icon-save-w{
    width:17px; height:15px;
    background-image:url('/images/ui/icon_save_w.png');
}

.icon-cancel-w{
    width:12px; height:12px;
    background-image:url('/images/ui/icon_cross_w.svg');
}
.icon-sq-w{
    width:20px; height:16px;
    background-image:url('/images/ui/icon_sq_w.svg');
}
.icon-bt-w{
    width:20px; height:14px;
    background-image:url('/images/ui/icon_bt_w.svg');
}

.icon-out{
    background-image:url('/images/ui/icon_out.png');
}

.icon-ms-critical{
    background-image:url('/images/ui/icon_ms_critical.svg');
}
.icon-ms-major{
    background-image:url('/images/ui/icon_ms_major.svg');
}
.icon-ms-minor{
    background-image:url('/images/ui/icon_ms_minor.svg');
}
.icon-ms-warning{
    background-image:url('/images/ui/icon_ms_warning.svg');
}

.icon-money-1{
    background-image:url('/images/ui/icon_money_1.svg');
}

.icon-money-2{
    background-image:url('/images/ui/icon_money_2.svg');
}
.icon-restart{
    width:16px; height:17px;
    background-image:url('/images/ui/icon_restart.png');
}

.icon-docu-1{
    background-image:url('/images/ui/icon_docu_1.svg');
}
.icon-docu-2{
    background-image:url('/images/ui/icon_docu_2.svg');
}
.icon-docu-3{
    background-image:url('/images/ui/icon_docu_3.svg');
}

.icon-cross{
    width:50px;
    &:before, &:after{
        display: block;
        position: absolute;
        left:50%; top:50%;
        background: #8a94a1;
        content:'';
    }
    &:before{
        width:20px; height:2px;
        margin-left:-9px;
    }
    &:after{
        width:2px; height:20px;
        margin-top:-9px;
    }
}


// 라벨

.label{
    &.badge{
        font-family:Helvetica, Arial, sans-serif;
        font-size:10px;
        font-weight:300;
        padding: 0.16em 0.7em 0.25em;
        color:#fff;
    }

    &-running{
        width:62px;
        background:#36af47;
        padding:0.5em 0.6em 0.6em;
    }
    &-standby{
        width:62px;
        background: #dfe1e5;
        padding:0.5em 0.6em 0.6em;
        color:#000;
    }
}

// 알림 라벨 정의
.label-led{
    display:inline-block;
    width:13px; height:13px;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;

    &.normal{
        background-image:url('/images/ui/led_normal.png');
    }
    &.warning{
        background-image:url('/images/ui/led_warning.png');
    }
    &.danger{
        background-image:url('/images/ui/led_danger.png');
    }
}

// 뱃지
.badge{
    font: 12px $font-eng;
    font-weight:300;
    &-hot{
        background: $color-hot !important;
        color:$white !important;
    }
}

// 인포 메시지
.info-msg{
    display: block;
    margin-left: 25px;
    .i-icon{
        margin-left:-25px;
    }
    em{
        margin-left:6px;
        font-size:12px;
        vertical-align: middle;
        color:#a4b0bf;
    }
}

// 달력 입력폼
.form-input-calendar, .single-datepicker{

    &.use-time-all{
        width:350px;
    }

    .vue-daterange-picker{
        min-width: auto;
        display: block;

        .reportrange-text{

        }
    }


}

.tooltip{

    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    &.top .tooltip-arrow {
        border-top-color: #fff;
    }
    &.top-left .tooltip-arrow {
        border-top-color: #fff;
    }
    &.top-right .tooltip-arrow {
        border-top-color: #fff;
    }
    &.right .tooltip-arrow {
        border-right-color: #fff;
    }
    &.left .tooltip-arrow {
        border-left-color: #fff;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: #fff;
        border-width: 0 6px 6px;
    }
    &.bottom-left .tooltip-arrow {
        border-bottom-color: #fff;
    }
    &.bottom-right .tooltip-arrow {
        border-bottom-color: #fff;
    }
    .tooltip-inner{
        padding:10px 16px 10px;
        background: #fff;
        border:1px solid #373f52;
        border-radius:5px;
        font:12px $font-kor;
        color:#373f52;
    }

}

