body{
    background: #2a2d36;
}
#app{
    height: inherit;
    & > .container{
        max-width:none !important;
        height:inherit;
    }
}


//site logo
.site-logo {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    a{
        display: inline-block;
        vertical-align: middle;
        &:before {
            display: block;
            width:100%;
            height:100%;
            background:{image:url(/images/common/hlogo2x.png); repeat:no-repeat; position:0 0; size:contain}
            content:'';

        }
    }
}


// 변수
$build-src: '/build/images/';
$font-eng:'Noto Sans';
$font-kor:'Noto Sans KR';
// 컬러
$black: #000;
$white: #fff;
$color-base: #45484c;
$color-2: #373e48;
$color-3: #273142;
$color-4: #2f3a4d;
$color-5: #313d4f;
$color-6: #acbbc3; //font-color
$color-7: #7f8fa4;
$color-8: #1b2431;
$color-9: #565c66;

$color-spot:#7277dd;
$color-hot: #ff406c;
$color-light-yl:#ffffcc;
$color-orange:#ff9900;
$color-green:#39b84a;
$color-green-x1:#1cb36e;
$color-aqua:#1ec1c9;
$color-velvet:#8e53be;
$color-light-gray:#bdc1c6;
$color-light-crimson:#e04e4f;

// 테이블 스타일
$cell-bg-color:$color-3;
$cell-bg-hover:$color-4;
$cell-border-color:$color-5;

//chart Colors
$chart-color-a:#1ec1c9;
$chart-color-b:#42c154;
$chart-color-c:#ac7efa;
$chart-color-d:#fa587e;


//미디어쿼리 구간
$screen-xxs:      320px;
$screen-xxs-max:   479px;
$screen-xs:    480px;
$screen-xs-max:    767px;
$screen-sm:    768px;
$screen-sm-max:   1023px;
$screen-md:       1024px;
$screen-md-max:   1279px;
$screen-lg:    1280px;
$screen-mlg:   1440px;
$screen-xlg:   1920px;

$mobile: ($screen-xs-max, max);//~775px
$tablet: ($screen-sm $screen-md-max); //768px~1279px
$pc:     ($screen-lg, min); //1280px~

/* f2018.0505 폰트 추가 */
@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/noto-sans-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-v7-latin-regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/noto-sans-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-v7-latin-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/noto-sans-v7-latin-700.woff2") format("woff2"),
    url("../fonts/noto-sans-v7-latin-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Thin.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

// 기본
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    //-webkit-appearance: button;
    cursor: pointer
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    //-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    //-webkit-appearance: none
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input,button,textarea,select {
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: button;
    border-radius: 0;
    resize: none;
}

input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none
}

input::-ms-clear {
    display: none
}

[role=button],a,area,button,input,label,select,summary,textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

select{
    vertical-align: middle;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { display: none; }

iframe[name^='google_'] {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    visibility: hidden
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
    font-size:13px;
    font-weight:500;
}
a {
    color:#a4b0bf;
    text-decoration: none;
}
a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}
a:hover, a:focus {
    color:#fff;
    text-decoration: none;
}

em, i{
    font-style: normal;
}

legend {
    display:none;
    padding-bottom: 0;
}

ul, ol, dl, p{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
label{
    font-weight:300;
    margin-bottom:0
}

strong, dt, th, b{
    font-weight:400;
}

br._m{
    display: none;
}

/// 전역 클래스 ///
// 기본 컨테이너
.row {margin:0;}

// helper
.border-line-top{
    border-top:1px solid $white;
}
.border-line-btm{
    border-bottom:1px solid $white;
}

.border-color-1{
    border-color:$black;
}

// 정렬
.talign-left{
    text-align: left;
}
.talign-center{
    text-align: center;
}
.talign-right{
    text-align: right;
}

.float-l{
    float:left
}
.float-r{
    float:right
}

.underline{
    text-decoration: underline;
    color:#fff;
}

.color-hot{
    color:$color-hot !important;
}
.color-point-y{
    color:$color-light-yl !important;
}

// 공통
.currency{
    font-family:$font-eng;
}

.dropdown-backdrop{ //모바일 디바이스 타입일때 부트스트랩에서 생성되는 엘리먼트
    display: none;
}



//placeholder
%vertical-middle{
    display: inline-block;
    height:100%; width:1px;
    margin-left:-1px;
    vertical-align: middle;
    content:'';
}

%icon-closs-x{
    position: relative;
    width:22px; height:22px;
    padding:0;
    border-radius:50%;
    transform:rotate(45deg);

    &:before, &:after{
        display: block;
        position: absolute;
        left:50%; top:50%;
        content:'';
    }
    &:before{
        width:16px; height:1px;
        margin-left:-8px;
    }
    &:after{
        width:1px; height:16px;
        margin-top:-8px;
    }
}

%blind{
    position: absolute; left:-9999px; top:-9999px;
    font-size: 0;
    text-indent:-9999px;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}


// 기본사항
html, body{
    height:100%;
    min-height:100%;
}
body {
    max-width:none;
    //margin:0 auto;
    color: #a4b0bf;
    background:#fff;
    font-family: "Noto Sans","Noto Sans KR", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;

}
// font weight: 100,300,400,500,700,900

.container {
    width: 100%;
    height:100%;
    min-height:100%;
    padding: 0;
    background: #2a2d36;

    .main-container{
        background: #2a2d36;
    }
}



.nav-sm .profile {
    display: none;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: transparent;
}

//placeholder
%icon-closs-x{
    position: relative;
    width:22px; height:22px;
    padding:0;
    border-radius:50%;
    transform:rotate(45deg);

    &:before, &:after{
        display: block;
        position: absolute;
        left:50%; top:50%;
        content:'';
    }
    &:before{
        width:16px; height:1px;
        margin-left:-8px;
    }
    &:after{
        width:1px; height:16px;
        margin-top:-8px;
    }
}
