// dataTables.custom style
.dataTables_wrapper{
    .dt-buttons{
        display: none;
    }
    .dataTables_info{
        padding-top: 0 !important;
        padding-bottom: 10px;
        text-align: left !important;
    }

    .dataTable{
        width:100% !important;
        th,td{
            &.select-checkbox{
                width: 20px !important;
                text-align: center;

                &:before{
                    top: 50%;
                }
                &:after{
                    margin-top: 0 !important;
                }
            }
        }

        &.has-edit-btn{
            tr{
                th,td{
                    &:nth-child(1){
                        display:none;
                    }
                    &:nth-child(2){
                        display:none;
                        width:10% !important;
                    }

                }
            }
        }


    }

}
.dataTables_paginate{
    margin-top:20px !important;
    text-align:center !important;

    .pagination{
        margin:0 !important;
        justify-content: center !important;
    }

    .paginate_button {
        position: relative;
        //display: inline-block;
        //min-width: 36px;
        //margin-left: -1px;
        //padding: 9px 4px 7px;
        //border: 1px solid #3e424d;
        //font-size: 13px;
        //line-height: 1.42857143;
        //text-decoration: none;
        //color: #b8bfcc;
        //cursor:pointer;

        .page-link{
            &:hover,
            &:focus {
                border-color: #3e424d;
                background: transparent;
                color: #fff;
                text-decoration: underline;
            }
        }


        &.active{
            .page-link{
                background-color: transparent;
                border-color: lighten(#3e424d, 20);
                color:#fff;
                cursor:default;
                text-decoration:none;
            }
        }

        &.previous{
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &.next{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            .page-link:before{
                transform: rotate(180deg);
            }
        }

        &.previous, &.next {
            .page-link{
                text-indent:-9999px;
                &:before{
                    position: absolute;
                    left:50%; top:0;
                    width: 6px;
                    height: 100%;
                    margin-left:-3px;
                    background: url('/images/ui/icon_arr_triangle.svg') no-repeat center center;
                    content:'';
                    opacity: 0.5;
                }

                &:hover:before,
                &:focus:before{
                    opacity: 1;
                }
            }

            &.disabled{
                .page-link{
                    background-color: transparent;
                    border-color: #3e424d;
                }
            }
        }

        &.disabled{
            .page-link{
                cursor:default;
                text-decoration: none;
                background-color: darken(#3e424d, 6);
                border-color: darken(#3e424d, 0);

                &:hover:before,
                &:focus:before{
                    opacity: 0.5;

                }
            }
        }

    }
}



