.form-input-calendar{
    line-height: 1;
    .field{
        position: relative;
        width:245px;
        margin:0 15px ;

        &:before{
            @extend .i-icon;
            @extend .icon-calendar;
            position: absolute; left:16px; top:50%;
            width:18px;
            height:15px;
            margin-top: -7px;
            content:'';
        }
        &:after{
            @extend .i-icon;
            @extend .icon-arr-small-g;
            position: absolute; right:16px; top:50%;
            width:7px; height:4px;
            margin-top: -2px;
            content:'';
        }

        .field-input{
            display: inline-block;
            height:36px;
            padding:0 16px 0 42px;
            border-radius:5px;
            text-align: left;
            background: transparent;
            line-height: 34px;
            border:1px solid #484d59;
            color: #a4b0bf;
        }
    }

    .datetimepicker{
        .custom-button{
            height: 32px;
            &.is-selected{
                .custom-button-effect{
                    background: $color-hot !important;
                }
            }
        }

        .datepicker-container-label{
            & > span{
                &:first-child {
                    .custom-button {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &:last-child{
                    .custom-button{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                .custom-button{

                }
            }
        }

        .datepicker{
            background-color: #f0f3f7;
            .header-picker{
                background-color: #5055C3!important;
            }
            .pickers-container{
                background-color: #f0f3f7;
            }

            .datepicker-day{
                .datepicker-day-effect{

                }
                .datepicker-day-text{
                    color: #a0adbc;
                }

                .datepicker-today{
                    background-color:#5055C3;
                }

                &.between{
                    &.first, &.last{
                        .datepicker-day-effect{
                            background-color: $color-hot !important;
                        }
                    }
                    .datepicker-day-effect{
                        background-color: #fff !important;
                    }
                    .datepicker-day-text{
                        color: #73879c;
                    }
                }

                &.selected {
                    .datepicker-day-text{
                        color: #fff;
                    }
                }
            }

            .datepicker-buttons-container .datepicker-button {
                svg{
                    fill: $color-hot;
                }
                .datepicker-button-effect{
                    background-color:$color-spot;
                }
            }
        }

        button{

        }
    }





    .daterangepicker{
        background: #f0f3f7;
        padding:10px 6px;
        z-index: 999;

        &:after{
            border-bottom-color: #f0f3f7;
        }
        .input-mini{
            background: $white;
            color:$color-base;
            &.active{
                border-color:$color-spot;
            }
        }

        .calendar-table{
            background: #f0f3f7;
            border:none;
        }


        .calendar{
            .calendar-time{
                margin:10px 0 0;
                line-height:15px;
            }

            select{
                border-color:#ccc;
                border-radius: 3px;
                padding: 3px 3px;
                background:rgba(#fff,0.5);
                color:$color-base;

                &.monthselect{
                    width:40px;
                }

                &.yearselect{
                    width:50px;
                }

                &.hourselect, &.minuteselect, &.secondselect, &.ampmselect{
                    width:40px;
                }
            }

            th,td{
                color:#73879c;

                &.available:hover{
                    background: darken(#f0f3f7,10%);
                    color:#73879c;
                }
            }

            td{
                color:lighten(#73879c,15%);
                &.in-range{
                    background: $white;
                    color:#73879c;
                }
                &.active, &.active:hover{
                    background: $color-hot;
                    color: $white;
                }
                &.off, &.off.in-range, &.off.start-date, &.off.end-date{
                    background: #f0f3f7;
                    color:lighten(#73879c,30%);

                    &:hover{
                        background: darken(#f0f3f7,10%);
                        color:#73879c;
                    }
                }
            }
        }




        .ranges{
            li{
                background: darken(#f0f3f7,5%);
                border-color: darken(#f0f3f7,5%);
                color:#73879c;
                &:hover{
                    color:$white;
                    background: $color-hot;
                    border-color:$color-hot;
                }
                &.active{
                    background: $color-hot;
                    border-color:$color-hot;
                    color:$white;
                }

            }
        }



        .btn{
            height:30px;
            line-height: 28px;
            color:#fff;
            &.btn-primary{
                background: $color-spot ;
                border-color: $color-spot;
                @at-root .desktop &{
                    &:hover, &:focus{
                        border: 1px solid #7c81ec;
                        background: #7c81ec;
                    }
                }
            }
        }
    }
}
