//placeholder
%vertical-middle{
    display: inline-block;
    height:100%; width:1px;
    margin-left:-1px;
    vertical-align: middle;
    content:'';
}

%icon-closs-x{
    position: relative;
    width:22px; height:22px;
    padding:0;
    border-radius:50%;
    transform:rotate(45deg);

    &:before, &:after{
        display: block;
        position: absolute;
        left:50%; top:50%;
        content:'';
    }
    &:before{
        width:16px; height:1px;
        margin-left:-8px;
    }
    &:after{
        width:1px; height:16px;
        margin-top:-8px;
    }
}

%blind{
    position: absolute; left:-9999px; top:-9999px;
    font-size: 0;
    text-indent:-9999px;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}