// navigation toggle
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //position: relative;
    //position: sticky;
    position: fixed;
    top:0;
    background: #fff;
    width: 100%; height:70px;
    z-index: 1000;
    a{
        text-decoration: none;
    }
    .site-logo {
        order:2;
        opacity: 0.05;
    }

    .navbar-weather{
        order:3;
        flex: 1 0 auto;
        text-align: center;

        .inner{
            display: inline-block;
            text-align: left;
            .skycon{
                vertical-align: middle;
                width:40px;height:40px;
                background: pink;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                font-family:'Noto Sans';
                font-size:18px;
                line-height:1;
                &.temper{
                    padding-left:16px;
                    &:after{
                        display: inline-block;
                        position: relative; top:1px;
                        width:1px; height:14px;
                        margin-left:12px;
                        background: #dcdcdc;
                        content: '';
                    }
                }
                &.date{
                    padding-left:8px;
                    color:#8a8f99;
                }
            }

        }

        @include media-breakpoint-between(md, lg){
            .inner{
                span{
                    &.temper{
                        padding-left:0.2vw;
                        &:after{
                            display: none;
                        }
                    }
                    &.date{
                        display: none;
                    }
                }
            }
        }
    }


    .navbar-user-info {
        display: flex;
        order:4;
        align-items: center;
        height:100%;


        & > li {
            display: flex;
            align-items: center;
            height:100%;

        }

        .user-profile{
            position: relative;
            .dropdown{
                align-items: center;
            }

            .btn{
                background: pink;
                border:none;
                color: #555;

                &:before{
                    display: inline-block;
                    width:36px; height:36px;
                    background: $gray-200  url('/images/ui/icon_profile.svg') no-repeat center center;
                    background-size:60%;
                    margin-top: -3px;
                    margin-right:4px;
                    border-radius: 50%;
                    content:'';
                }

                &[aria-expanded=true]:after{
                    transform:rotate(-180deg);
                }

            }

            .dropdown-menu{
                padding: 0;
                margin:0;
                border-color:#dcdcdc;
                border-radius: 0 0 3px 3px;
                box-shadow: 0 3px 4px rgba(0, 0, 0, .13);

                > li{
                    > a{
                        position: relative;
                        padding:12px 23px;
                        font-size:13px;
                        line-height: 1;
                        color:#8a8f99;
                        span{
                            vertical-align: middle;
                        }
                        &:hover, &:focus{
                            color:#45484c;
                        }
                    }

                    &:last-child{
                        a{
                            .icon{
                                display: block;
                                position: absolute; right:20px; top:12px;
                                width:15px; height:15px;
                            }
                        }
                    }
                }
            }

        }

        .ctrl-alarm{
            p{
                position: relative;
                width: 100%;
                height:100%;
                input{
                    width:1px; height:1px;
                    position: absolute; left:-1px; top:-1px;

                    &:focus{
                        & + label{
                            //background: darken($color-spot, 6);
                        }
                    }
                }
                label{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height:100%;
                    padding-left:17px;
                    padding-right:17px;
                    cursor: pointer;

                    border:none;
                    background: $color-spot;

                    .icon-box{
                        text-align: center;
                        width:36px; height:36px;
                        border-radius: 50%;

                        .i-icon{
                            width:18px; height:100%;
                            margin:0 auto;
                        }
                    }
                }

                input:checked + label{
                    .icon-box{
                        background: #fff;
                        .i-icon{
                            width:24px;
                            background-image:url('/images/ui/icon_volume_on.svg') ;
                        }
                    }
                }
            }
        }

        .alarm-count{
            .dropdown-toggle{
                display: block;
                position: relative;
                padding: 16px 25px;
                height:100%;
                background: #545fb3;
                border:none;
                border-radius: 0;
                font-size:14px;
                color:#fff;

                &:before, &:after{
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% auto;
                    content:'';
                    vertical-align: middle;
                }

                &:before{
                    height:100%;
                    background-image: url('/images/ui/icon_alarm_bell.svg');
                }
                &:after{
                    display: none;
                    width:7px; height:3px;
                    background-image: url('/images/ui/icon_arr_small_w.svg');
                }

                span{
                    vertical-align: middle;
                    &.badge{
                        position: absolute;
                        padding:1px 7px 2px;
                        background: #ff406c;
                        margin-right:13px;
                        font-weight:normal;
                        border-radius: 1rem;
                    }
                }

                &.show{
                    &:after{
                        transform: rotate(-180deg);
                    }

                    & + .alarm-content-wrap{
                        visibility: visible;
                        right:0;
                    }
                }
            }

            .alarm-content-wrap{
                display: block;
                visibility: hidden;
                position: fixed;
                left:auto; right:-100%; top:70px; bottom:0;
                width:460px;
                margin:0;
                padding:0;
                background: #fff;
                border:1px solid #dfe2e5;
                border-radius: 0;

                &.open{
                    visibility: visible;
                    z-index: 1;
                }

                &:before{
                    position: absolute; right:62px; top:-20px;
                    border:10px solid transparent;
                    border-bottom:10px solid #e3e3e4;
                    content:'';
                }
                &:after{
                    position: absolute; right:63px; top:-18px;
                    border:9px solid transparent;
                    border-bottom:9px solid #fff;
                    content:'';
                }

                .content-head {
                    display: none;

                    .title {
                        &:before {
                            //@extend %vertical-middle
                        }
                    }
                }

                & > .tabs{
                    & > .card-header{
                        padding:0;
                        background-color: transparent;
                        border-bottom:1px solid #dfe2e5;
                        .card-header-tabs{
                            margin:0;
                            padding:0 30px;
                            > li{
                                padding:0 30px;
                                > a{
                                    position: relative;
                                    height:69px;
                                    line-height: 69px;
                                    padding:0;
                                    background-color: transparent;
                                    border:none;
                                    font-size:15px;
                                    font-weight:400;
                                    color:#555;

                                    span{
                                        vertical-align: middle;
                                        &.badge{
                                            margin-left:4px;
                                            padding:1px 8px;
                                            font-size:12px;
                                            font-weight:400;
                                            border-radius: 10px;
                                        }
                                    }

                                    &:after{
                                        display: none;
                                        position: absolute; left:0; bottom:0;
                                        width:100%; height:4px;
                                        background: $color-spot;
                                        content:'';
                                    }

                                    &:hover, &:focus{
                                        border:none;
                                        color:#555;

                                        &:after{
                                            display: block;
                                        }
                                    }

                                    &.active{
                                        &:after{
                                            display: block;
                                        }
                                    }
                                }

                            }
                        }

                        & + .tab-content{
                            & > .card-body{
                                padding:0;
                            }
                        }
                    }
                }

                .btn-close{
                    position: absolute; top:24px; right:15px;

                    //@extend %icon-closs-x;
                    width:22px; height:22px;

                    &:before, &:after{
                        background:#45484d;
                    }
                    &:before{
                        width:22px; height:2px;
                        margin-left:-10px;
                    }
                    &:after{
                        width:2px; height:22px;
                        margin-top:-10px;
                    }
                }
            }

            // 뎁스1 첫번째 탭
            .alarm-list-content{
                .scrolling{
                    overflow: hidden;
                    overflow-y: auto;
                    margin-bottom:80px;
                }

                .alarm-list{
                    padding:23px 0;
                    > li {
                        padding:7px 40px;
                    }
                    .bnt-alarm-list{
                        display: flex;
                        align-items:center;
                        position: relative;
                        width:100%; height:76px;
                        padding:0;

                        &:after{
                            display: block;
                            position: absolute; left:0; right:0; top:0; bottom:0;
                            border:1px solid #e3e3e4;
                            border-radius: 5px;
                            content:'';
                        }


                        .status-icon{
                            display: flex;
                            align-items: center; //세로
                            justify-content:center; //가로
                            width:80px; height:inherit;
                            background: #f0f3f7;
                            border-radius: 5px 0 0 5px;

                            .label-status{
                                width:40px; height:40px;
                                line-height: 40px;
                                border-radius:50%;
                                text-align: center;
                                background: gray;

                                .i-icon{
                                    //width:100%; height:100%;
                                    //background-position: center center;
                                }
                            }

                            &.sta-alert{
                                .label-status{
                                   // background: $color-hot;
                                }
                            }
                            &.sta-warning{
                                .label-status{
                                   // background: $color-orange;
                                }
                            }
                            &.sta-normal{
                                .label-status{
                                   // background: $color-green;
                                }
                            }
                        }

                        .status-desc{
                            width:260px;
                            padding: 0 15px;
                            text-align: left;
                            .txt{
                                display: block;
                                padding:2px 0;
                                &.summary{
                                    font-size:14px;
                                    color:#45484c;
                                }
                                &.time{
                                    font-size:13px;
                                    color:#8a8f99;
                                }
                            }
                        }

                        .btn-del{
                           // @extend %icon-closs-x;
                            z-index: 5;
                            display: none;
                            position: absolute; top: 50%; right:10px;
                            width:28px; height:28px;
                            margin-top:-14px;
                            background: none;
                           // border:2px solid $color-spot;

                            &:before, &:after{
                                //background:$color-spot;
                            }
                            &:before{
                                width:18px; height:1px;
                                margin-top:-1px;
                                margin-left:-9px;
                            }
                            &:after{
                                width:1px; height:18px;
                                margin-top:-9px;
                                margin-left:-1px;
                            }
                        }

                        @at-root .desktop &{
                            &.active, &:hover, &:focus{
                                &:after{
                                   // border-color:$color-spot;
                                }
                                .btn-del{
                                    display: block;
                                }
                            }
                        }

                        @at-root .mobile &{
                            .btn-del{
                                display: block;
                            }
                        }

                    }
                }

                .delete-all-btn-area{
                    position: fixed; right:0; bottom:0;
                    width:460px;
                    background:#f0f3f7;
                    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02);
                }

                .btn-delete-all{
                    display: flex;
                    align-items: center; //세로
                    justify-content:center; //가로
                    height:80px;
                    margin:0 auto;
                    padding:0;
                    border:none;
                    background: none;
                    text-align: left;

                    .icon-list-del{
                        //@extend %icon-closs-x;
                        width:22px; height:22px;
                        margin-right:8px;
                        background: #b8bfcc;

                        &:before, &:after{
                            background:#f0f3f7;
                        }
                        &:before{
                            width:16px; height:1px;
                            margin-left:-8px;
                            margin-top:-0.5px;
                        }
                        &:after{
                            width:1px; height:16px;
                            margin-top:-8px;
                            margin-left:-0.5px;
                        }
                    }

                    .txt{
                        color:#45484c;
                        font-size:16px;
                        font-weight:400;
                    }
                }
            }

            // 뎁스2 두번째 탭
            .alarm-setting-content{
                border:none;
                border-radius:0;

                & > .tabs {
                    & > .card-header {
                        padding:30px 0 0 ;
                        background: #f0f3f7;

                        .card-header-tabs{
                            margin:0;
                            padding:0 0 0 40px;

                            li{
                                margin-right:4px;

                                a{
                                    min-width:122px;
                                    background: #8a94a1;
                                    text-align: center;
                                    font-family:$font-eng;
                                    font-size:14px;
                                    font-weight:700;
                                    color:#fff;
                                    &:not(.active):hover, &:not(.active):focus{
                                        background-color: lighten(#8a94a1, 10);
                                        border-color: transparent;
                                        &:after{
                                            display: block;
                                        }
                                    }

                                    &.active{
                                        background: #fff;
                                        border-bottom-color:#fff;
                                        color:#45484c;
                                    }
                                }

                            }
                        }
                    }
                }

                .scrolling{
                    padding-top:20px;
                    background:#fff;
                }
                .tab-content{
                    .tab-pane{
                        padding:20px 40px 40px;
                        overflow: hidden;
                        overflow-y: auto;

                        h3{
                            padding-bottom:16px;
                            font-size:18px;
                            line-height:1;
                            color:#45484c;
                        }

                        .tbl-wrap{
                            border-top:2px solid #d0d3db;
                            tr{
                                th,td{
                                    padding-top:7px;
                                    padding-bottom:7px;
                                    border-bottom:1px solid #d0d3db;
                                }

                                .bul{
                                    padding-left:11px;
                                    font-size:13px;
                                    color:#45484c;
                                    &:before{
                                        display: inline-block;
                                        position: relative;
                                        top:-2px;
                                        width:6px; height:6px;
                                        margin-right:10px;
                                        background: #dbdfe5;
                                        border-radius: 50%;
                                        content: '';
                                    }
                                }
                                td:last-child{
                                    padding-right:10px;
                                }

                                .custom-chk-sticky{
                                    input[type=checkbox]{
                                        &+label{
                                            i{
                                                background: #b8bfcc;
                                            }
                                        }
                                        &:checked{
                                            &+label{
                                                i{
                                                    background: #7277dd;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }
    }

    // toggle navigation
    .nav-toggle {
        order: 1;
        flex: 0 1 auto;
        border-right:1px solid #dbe0e2;

        & a {
            display: block;
            width:100%;
            height:100%;
            padding: 0;
            margin: 0;
            background: #e9edf1;
            cursor: pointer;
            text-align: center;
            font-size:0;

            &:before{
                display: inline-block;
                width:1px; height:100%;
                margin-left:-1px;
                vertical-align: middle;
                content:'';
            }

            .hbars {
                display: inline-block;
                width:22px; margin:0 auto;
                vertical-align: middle;

                &:before, &:after, i{
                    display: block;
                    width:22px; height:3px;
                    margin:4px 0;
                    background: #45484d;
                    content:'';
                }
            }

            &:hover .hbars {
                &:before, &:after, i{
                    //margin:1px 0;
                    //height:2px;
                }
            }
        }
    }

    .open>a, .open>a:focus, .open>a:hover{
        background: none;
    }
}

.overlay{
    display: none;
    position: fixed;
    left:0; top:0; bottom:0; right:0;
    z-index: 1050;
    opacity:0;
    background: rgba(black,0.8);
    transition: opacity 0.3s ease-in-out;
}

.frame-body{
    //height: 100vh;
    max-width:1920px;
    .main-menu-side{
        position: fixed;
        left:0; top: 0; bottom:0;
        padding: 0;

        .site-logo{
            display: none;

        }
        .navbar-weather{
            display: none;
        }

        .side-menu{
            & > li {
                display: block;
                position: relative;
                margin-top:-1px;

                &:after{
                    position: relative;
                    z-index: 1;
                    display: block;
                    width:100%;
                    height:1px;
                    margin: -1px auto 0;
                    content:'';
                }

                & > a {
                    display: block;
                    font-weight:400;

                    .nav-icon {
                        display: block;
                        position: absolute;
                        width: 20px;
                        height:100%;
                        background:{
                            repeat: no-repeat;
                            position: 0 center;
                            size: 100% auto;
                        }

                        span{
                            vertical-align: middle;
                        }
                    }
                }

            }
        }

        .btn-close-side-menu{
            .hbars{
                @extend %icon-closs-x;
            }
        }
    }
    .right-col{
        width:100%;
    }
}

@include media-breakpoint-down(sm){
    .top-nav{
        height:60px;
        background: #545fb3;
        .site-logo{
            a{
                width:180px; height:18px;

                &:before{
                    background-image: url('/images/common/hlogo_w.png');
                }
            }
        }

        .navbar-weather{
            display: none;
        }

        .navbar-user-info {

            & > li {

            }

            .user-profile{
                .btn{
                    font-size: 0;
                    height: 60px;
                    padding:0;
                    &:before{
                        margin-right: 0;
                        background-color: transparent;
                    }

                }
            }

            .ctrl-alarm{
                display: none;
            }

            .alarm-count{
                margin-right: 10px;
                .dropdown-toggle{
                    padding-left: 5px;
                    padding-right: 5px;
                    &:before{
                        width:18px;
                    }

                    span{
                        &.badge{
                            top:9px; right: -16px;
                        }
                    }
                }
            }
        }

        .nav-toggle {
            width:60px; height:60px;
            border-right:none;
            a{
                background: #545fb3;

                .hbars {
                    &:before, &:after, i{
                        width:22px; height:2px;
                        margin:5.5px 0;
                        background: #fff;
                    }
                }
            }
        }
    }

    .frame-body{
        padding-top: 60px;
        .main-menu-side {
            top: 0; left: -77vw;
            width: 77vw;
            height:100%;
            z-index: 1000;
            transition: left 0.3s ease-in-out;

            .inner-wrap{
                position: relative;
                height: 100%;
                background:#fff;
                z-index: 2;
            }

            .overlay{
                z-index: 1;
            }

            .site-logo{
                display: block;
                padding:50px 0 25px;
                background: #545fb3;
                text-align: center;
                a{
                    width:180px; height:18px;
                }
            }

            .navbar-weather{
                display: block;
                .inner{
                    padding-bottom:25px;
                    background: #545fb3;
                    text-align: center;

                    .skycon{
                        vertical-align: middle;
                        width:62px;height:59px;
                    }
                    span{
                        font-family:$font-eng;
                        &.temper{
                            vertical-align: middle;
                            padding-left:10px;
                            font-size:26px;
                            font-weight:500;
                            color:#fff;
                            line-height:1;
                        }
                        &.date{
                            display: block;
                            width:210px; height:30px;
                            margin:18px auto 0;
                            border:1px solid #7277dd;
                            border-radius:15px;
                            font-size:14px;
                            line-height: 28px;
                            color:#fff;
                        }
                    }

                }
            }

            .side-menu{
                padding-top:1px;

                & > li{
                    &:after{
                        background: #f0f2f5;
                    }

                    & > a{
                        height:61px;
                        padding:20px 25px 21px 94px;
                        color:rgba(#45484c, 0.8);
                        font-size:15px;

                        .nav-icon{
                            left:35px; top:0;
                            opacity:0.7;

                            &.shuffle{
                                background-image: url('/images/ui/icon_shuffle_b.svg');
                            }
                            &.gear{
                                background-image: url('/images/ui/icon_gear_b.svg');
                            }
                            &.cross-square{
                                background-image: url('/images/ui/icon_cross_square_b.svg');
                            }
                            &.line-dot{
                                background-image: url('/images/ui/icon_line_dot_b.svg');
                            }
                            &.monitor{
                                background-image: url('/images/ui/icon_monitor_b.svg');
                            }

                        }

                        &:hover, &:focus{
                            background: lighten(#45484c, 65%);
                            color:#45484c;
                            .nav-icon{
                                opacity: 1;
                            }
                        }

                        &.router-link-active {
                            color:#45484c;
                            .nav-icon{
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .btn-close-side-menu{
                display: block;
                position: absolute; top: 0; right:0;
                z-index: 1051;
                height: 60px;
                padding: 18px 16px;
                //transition: right 0.6s ease-in-out;
                background: rgba(0,0,0,0.1);

                .hbars{
                    display: block;

                    &:before{
                        width:23px; height:2px;
                        margin-left:-11px;
                        margin-top:-1px;
                        background: #fff;
                    }
                    &:after{
                        width:2px; height:23px;
                        margin-top:-11px;
                        margin-left:-1px;
                        background: #fff;
                    }
                }
            }

        }

        .right-col{
            .page-title h1 {
                text-align: center;
                font-size:18px;
            }
            .subpg-tab-menu{

            }



            .x-panel{
                height:auto !important;
            }

            .x-title{
                .panel-toolbox{
                    float:right;
                }
            }

            .x-content {
                float: none;
                padding-bottom:15px;
            }
        }


    }

    //GNB메뉴가 닫혔을때
    .nav-sm{
        .top-nav {
            .nav-toggle{
                opacity: 1;
            }
        }

        .frame-body{

        }
    }

    // GNB메뉴가 열렸을때
    .nav-md{
        overflow: hidden;
        .top-nav {
            .nav-toggle{
                opacity: 0;
                transition: all 0.3s;
            }
        }

        .frame-body{
            .main-menu-side {
               left:0;

                .overlay{
                    display: block;
                    opacity: 1;
                }

                .btn-close-side-menu{
                    right: -54px;
                }
            }

            .right-col {
                padding:0 10px;
                margin-left:0;
            }


        }


    }
}


@include media-breakpoint-up(md){
    .top-nav{
        .site-logo {
            margin-left: 3%;
            a{
                width:265px;height:28px;
            }
        }

        .navbar-weather{
            flex: 1 0 auto;
            text-align: center;

            .inner{
                display: inline-block;
                text-align: left;
                .skycon{
                    vertical-align: middle;
                    width:40px;height:40px;
                    background: pink;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    font-family:'Noto Sans';
                    font-size:18px;
                    line-height:1;
                    &.temper{
                        padding-left:16px;
                        &:after{
                            display: inline-block;
                            position: relative; top:1px;
                            width:1px; height:14px;
                            margin-left:12px;
                            background: #dcdcdc;
                            content: '';
                        }
                    }
                    &.date{
                        padding-left:8px;
                        color:#8a8f99;
                    }
                }

            }

            @include media-breakpoint-between(md, lg){
                .inner{
                    span{
                        &.temper{
                            padding-left:0.2vw;
                            &:after{
                                display: none;
                            }
                        }
                        &.date{
                            display: none;
                        }
                    }
                }
            }
        }


        .navbar-user-info {
            display: flex;
            align-items: center;
            height:100%;

            & > li {
                display: flex;
                align-items: center;
                height:100%;

            }

            .user-profile{
                position: relative;
                .dropdown{
                    align-items: center;
                }

                .btn{
                    background: pink;
                    border:none;
                    font-size: 0;

                    &:before{
                        display: inline-block;
                        width:36px; height:36px;
                        background: $gray-200  url('/images/ui/icon_profile.svg') no-repeat center center;
                        background-size:60%;
                        margin-top: -3px;
                        margin-right:4px;
                        border-radius: 50%;
                        content:'';
                    }

                    &:after{
                        font-size: 1rem;
                        vertical-align: middle;
                    }

                    &[aria-expanded=true]:after{
                        transform:rotate(-180deg);
                    }

                }

                .dropdown-menu{
                    top: 17px !important;
                    width:218px;
                    padding: 0;
                    margin:0;
                    border-color:#dcdcdc;
                    border-radius: 0 0 3px 3px;
                    box-shadow: 0 3px 4px rgba(0, 0, 0, .13);

                    > li{
                        > a{
                            position: relative;
                            padding:12px 23px;
                            font-size:13px;
                            line-height: 1;
                            color:#8a8f99;
                            span{
                                vertical-align: middle;
                            }
                            &:hover, &:focus{
                                color:#45484c;
                            }
                        }

                        &:last-child{
                            a{
                                .icon{
                                    display: block;
                                    position: absolute; right:20px; top:12px;
                                    width:15px; height:15px;
                                }
                            }
                        }
                    }
                }

            }

            .ctrl-alarm{
                p{
                    position: relative;
                    width: 100%;
                    height:100%;
                    input{
                        width:1px; height:1px;
                        position: absolute; left:-1px; top:-1px;

                        &:focus{
                            & + label{
                                //background: darken($color-spot, 6);
                            }
                        }
                    }
                    label{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height:100%;
                        padding-left:17px;
                        padding-right:17px;
                        cursor: pointer;

                        border:none;
                        background: $color-spot;

                        .icon-box{
                            text-align: center;
                            width:36px; height:36px;
                            border-radius: 50%;

                            .i-icon{
                                width:18px; height:100%;
                                margin:0 auto;
                            }
                        }
                    }

                    input:checked + label{
                        .icon-box{
                            background: #fff;
                            .i-icon{
                                width:24px;
                                background-image:url('/images/ui/icon_volume_on.svg') ;
                            }
                        }
                    }
                }
            }

            .alarm-count{
                .dropdown-toggle{
                    &:before{
                        width:16px; height:100%;
                    }

                    &:after{
                        display: block;
                    }

                    span{
                        &.txt{
                            padding-left:10px;
                            padding-right:1px;
                        }
                        &.badge{
                            top: 17px;
                            right: 0;
                        }
                    }


                    //@include break-point($screen-lg, max){
                    //    span{
                    //        &.txt{
                    //            display: none;
                    //        }
                    //        &.badge{
                    //            position:absolute;
                    //        }
                    //    }
                    //}

                    &.show{
                        &:after{
                            transform: rotate(-180deg);
                        }

                        & + .alarm-content-wrap{
                            visibility: visible;
                            right:0;
                        }
                    }
                }

                .alarm-content-wrap{
                    display: block;
                    visibility: hidden;
                    position: fixed;
                    left:auto; right:-100%; top:70px; bottom:0;
                    width:460px;
                    margin:0;
                    padding:0;
                    background: #fff;
                    border:1px solid #dfe2e5;
                    border-radius: 0;

                    &.open{
                        visibility: visible;
                        z-index: 1;
                    }

                    &:before{
                        position: absolute; right:62px; top:-20px;
                        border:10px solid transparent;
                        border-bottom:10px solid #e3e3e4;
                        content:'';
                    }
                    &:after{
                        position: absolute; right:63px; top:-18px;
                        border:9px solid transparent;
                        border-bottom:9px solid #fff;
                        content:'';
                    }

                    .content-head {
                        display: none;

                        .title {
                            &:before {
                                //@extend %vertical-middle
                            }
                        }
                    }

                    & > .tabs{
                        & > .card-header{
                            padding:0;
                            background-color: transparent;
                            border-bottom:1px solid #dfe2e5;
                            .card-header-tabs{
                                margin:0;
                                padding:0 30px;
                                > li{
                                    padding:0 30px;
                                    > a{
                                        position: relative;
                                        height:69px;
                                        line-height: 69px;
                                        padding:0;
                                        background-color: transparent;
                                        border:none;
                                        font-size:15px;
                                        font-weight:400;
                                        color:#555;

                                        span{
                                            vertical-align: middle;
                                            &.badge{
                                                margin-left:4px;
                                                padding:1px 8px;
                                                font-size:12px;
                                                font-weight:400;
                                                border-radius: 10px;
                                            }
                                        }

                                        &:after{
                                            display: none;
                                            position: absolute; left:0; bottom:0;
                                            width:100%; height:4px;
                                            background: $color-spot;
                                            content:'';
                                        }

                                        &:hover, &:focus{
                                            border:none;
                                            color:#555;

                                            &:after{
                                                display: block;
                                            }
                                        }

                                        &.active{
                                            &:after{
                                                display: block;
                                            }
                                        }
                                    }

                                }
                            }

                            & + .tab-content{
                                & > .card-body{
                                    padding:0;
                                }
                            }
                        }
                    }

                    .btn-close{
                        position: absolute; top:24px; right:15px;

                        //@extend %icon-closs-x;
                        width:22px; height:22px;

                        &:before, &:after{
                            background:#45484d;
                        }
                        &:before{
                            width:22px; height:2px;
                            margin-left:-10px;
                        }
                        &:after{
                            width:2px; height:22px;
                            margin-top:-10px;
                        }
                    }
                }

                // 뎁스1 첫번째 탭
                .alarm-list-content{
                    .scrolling{
                        overflow: hidden;
                        overflow-y: auto;
                        margin-bottom:80px;
                    }

                    .alarm-list{
                        padding:23px 0;
                        > li {
                            padding:7px 40px;
                        }
                        .bnt-alarm-list{
                            display: flex;
                            align-items:center;
                            position: relative;
                            width:100%; height:76px;
                            padding:0;

                            &:after{
                                display: block;
                                position: absolute; left:0; right:0; top:0; bottom:0;
                                border:1px solid #e3e3e4;
                                border-radius: 5px;
                                content:'';
                            }


                            .status-icon{
                                display: flex;
                                align-items: center; //세로
                                justify-content:center; //가로
                                width:80px; height:inherit;
                                background: #f0f3f7;
                                border-radius: 5px 0 0 5px;

                                .label-status{
                                    width:40px; height:40px;
                                    line-height: 40px;
                                    border-radius:50%;
                                    text-align: center;
                                    background: gray;

                                    .i-icon{
                                        //width:100%; height:100%;
                                        //background-position: center center;
                                    }
                                }

                                &.sta-alert{
                                    .label-status{
                                        // background: $color-hot;
                                    }
                                }
                                &.sta-warning{
                                    .label-status{
                                        // background: $color-orange;
                                    }
                                }
                                &.sta-normal{
                                    .label-status{
                                        // background: $color-green;
                                    }
                                }
                            }

                            .status-desc{
                                width:260px;
                                padding: 0 15px;
                                text-align: left;
                                .txt{
                                    display: block;
                                    padding:2px 0;
                                    &.summary{
                                        font-size:14px;
                                        color:#45484c;
                                    }
                                    &.time{
                                        font-size:13px;
                                        color:#8a8f99;
                                    }
                                }
                            }

                            .btn-del{
                                // @extend %icon-closs-x;
                                z-index: 5;
                                display: none;
                                position: absolute; top: 50%; right:10px;
                                width:28px; height:28px;
                                margin-top:-14px;
                                background: none;
                                // border:2px solid $color-spot;

                                &:before, &:after{
                                    //background:$color-spot;
                                }
                                &:before{
                                    width:18px; height:1px;
                                    margin-top:-1px;
                                    margin-left:-9px;
                                }
                                &:after{
                                    width:1px; height:18px;
                                    margin-top:-9px;
                                    margin-left:-1px;
                                }
                            }

                            @at-root .desktop &{
                                &.active, &:hover, &:focus{
                                    &:after{
                                        // border-color:$color-spot;
                                    }
                                    .btn-del{
                                        display: block;
                                    }
                                }
                            }

                            @at-root .mobile &{
                                .btn-del{
                                    display: block;
                                }
                            }

                        }
                    }

                    .delete-all-btn-area{
                        position: fixed; right:0; bottom:0;
                        width:460px;
                        background:#f0f3f7;
                        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02);
                    }

                    .btn-delete-all{
                        display: flex;
                        align-items: center; //세로
                        justify-content:center; //가로
                        height:80px;
                        margin:0 auto;
                        padding:0;
                        border:none;
                        background: none;
                        text-align: left;

                        .icon-list-del{
                            //@extend %icon-closs-x;
                            width:22px; height:22px;
                            margin-right:8px;
                            background: #b8bfcc;

                            &:before, &:after{
                                background:#f0f3f7;
                            }
                            &:before{
                                width:16px; height:1px;
                                margin-left:-8px;
                                margin-top:-0.5px;
                            }
                            &:after{
                                width:1px; height:16px;
                                margin-top:-8px;
                                margin-left:-0.5px;
                            }
                        }

                        .txt{
                            color:#45484c;
                            font-size:16px;
                            font-weight:400;
                        }
                    }
                }

                // 뎁스2 두번째 탭
                .alarm-setting-content{
                    border:none;
                    border-radius:0;

                    & > .tabs {
                        & > .card-header {
                            padding:30px 0 0 ;
                            background: #f0f3f7;

                            .card-header-tabs{
                                margin:0;
                                padding:0 0 0 40px;

                                li{
                                    margin-right:4px;

                                    a{
                                        min-width:122px;
                                        background: #8a94a1;
                                        text-align: center;
                                        font-family:$font-eng;
                                        font-size:14px;
                                        font-weight:700;
                                        color:#fff;
                                        &:not(.active):hover, &:not(.active):focus{
                                            background-color: lighten(#8a94a1, 10);
                                            border-color: transparent;
                                            &:after{
                                                display: block;
                                            }
                                        }

                                        &.active{
                                            background: #fff;
                                            border-bottom-color:#fff;
                                            color:#45484c;
                                        }
                                    }

                                }
                            }
                        }
                    }

                    .scrolling{
                        padding-top:20px;
                        background:#fff;
                    }
                    .tab-content{
                        .tab-pane{
                            padding:20px 40px 40px;
                            overflow: hidden;
                            overflow-y: auto;

                            h3{
                                padding-bottom:16px;
                                font-size:18px;
                                line-height:1;
                                color:#45484c;
                            }

                            .tbl-wrap{
                                border-top:2px solid #d0d3db;
                                tr{
                                    th,td{
                                        padding-top:7px;
                                        padding-bottom:7px;
                                        border-bottom:1px solid #d0d3db;
                                    }

                                    .bul{
                                        padding-left:11px;
                                        font-size:13px;
                                        color:#45484c;
                                        &:before{
                                            display: inline-block;
                                            position: relative;
                                            top:-2px;
                                            width:6px; height:6px;
                                            margin-right:10px;
                                            background: #dbdfe5;
                                            border-radius: 50%;
                                            content: '';
                                        }
                                    }
                                    td:last-child{
                                        padding-right:10px;
                                    }

                                    .custom-chk-sticky{
                                        input[type=checkbox]{
                                            &+label{
                                                i{
                                                    background: #b8bfcc;
                                                }
                                            }
                                            &:checked{
                                                &+label{
                                                    i{
                                                        background: #7277dd;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }

        // toggle navigation
        .nav-toggle {
            width: 70px; height:70px;

            & a {
                &:hover .hbars {
                    &:before, &:after, i{
                        //margin:1px 0;
                        //height:2px;
                    }
                }
            }
        }

        .open>a, .open>a:focus, .open>a:hover{
            background: none;
        }
    }

    .frame-body{
        position: relative;
        display: flex;
        min-height: 600px;
        padding-top: 70px;

        .main-menu-side{
            left:0; top: 70px;
            flex: 1 0 auto;
            background: #212430;

            .side-menu{
                //position: sticky; top:0;
                padding-top:1px;
                overflow: hidden;
                & > li {
                    &:after{
                        width:200px;
                        background: #343742;
                    }

                    & > a {
                        height:70px;
                        padding:26px 25px 25px 80px;
                        color:rgba(#fff,0.3);
                        font-size:14px;

                        .nav-icon {
                            left:25px; top:0;
                            opacity: 0.3;

                            &.shuffle{
                                background-image: url('/images/ui/icon_shuffle.svg');
                            }
                            &.gear{
                                background-image: url('/images/ui/icon_gear.svg');
                            }
                            &.cross-square{
                                background-image: url('/images/ui/icon_cross_square.svg');
                            }
                            &.line-dot{
                                background-image: url('/images/ui/icon_line_dot.svg');
                            }
                            &.monitor{
                                background-image: url('/images/ui/icon_monitor.svg');
                            }
                        }

                        &:hover, &:focus {
                            background: lighten(#343742, 3%);
                            color:rgba(white,0.6);
                            .nav-icon{
                                opacity: 0.5;
                            }
                        }

                        &.router-link-active {
                            background: #343742;
                            color:#fff;
                            .nav-icon{
                                opacity: 1;
                            }
                        }
                    }



                }
            }
            .btn-close-side-menu{
                display: none;
            }
        }

        .right-col {
            padding: 0 20px;

            .page-title h1 {
                margin:0 15px;
                padding: 38px 0 23px;
                font-size:28px;
                font-weight:400;
                color:#fff;
            }

            // 3뎁스 탭메뉴
            .subpg-tab-menu{
                position: relative;
                border-bottom: 1px solid #373e48;
                margin:0 15px 40px 15px;

                ul.nav-tabs {
                    //padding-bottom: 18px;
                    overflow: visible;
                    width: 100%; height:52px;
                    border-bottom:none;

                    & > li {
                        padding:0 24px 0 30px;
                        &:first-child{
                            padding-left:0;
                        }
                        &:before{
                            display: block;
                            position: absolute;
                            left:0; top:10px;
                            width:1px; height:13px;
                            background: #3e424d;
                            content:'';
                        }

                        a {
                            position: relative;
                            display: block;
                            padding: 10px 0 28px;
                            margin: 0;
                            border:none;
                            font-size:15px;
                            font-weight:100;
                            color: #b8bfcc;
                            line-height:1;
                            transition:0.15s all;
                            text-decoration: none;

                            &:after{
                                display:block;
                                position: absolute; left:0; bottom:0;
                                width:0; height:3px;
                                background: $color-spot;
                                content:'';
                                transition:0.3s width;
                            }

                            @at-root .desktop &{
                                &:hover, &:focus {
                                    color: #fff;
                                    transition:0.15s all;
                                    &:after{
                                        width:100%;
                                        transition:0.3s width;
                                    }
                                }
                            }
                        }

                        &.active {
                            a{
                                border:none;
                                color: #fff;
                                &:after{
                                    width:100%;
                                }
                            }
                        }

                        &:first-child{
                            &:before{
                                display: none;
                            }
                            a{
                                padding-left:2px;
                            }
                        }
                    }
                }

                @include media-breakpoint-only(xs) {
                    display: flex;
                    flex-wrap: nowrap;
                    margin:0 15px 40px 15px;
                    overflow: hidden;
                    overflow-x:auto;

                    @at-root .desktop &{
                        &::-webkit-scrollbar {
                            display: none;
                            width: 6px;
                            height: 6px;
                        }
                        &:hover::-webkit-scrollbar{
                            display: block;
                        }
                        &::-webkit-scrollbar-button {
                            width: 0;
                            height: 0;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #666;
                            border-radius: 6px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: #888;
                        }
                        &::-webkit-scrollbar-thumb:active {
                            background: #888;
                        }
                        &::-webkit-scrollbar-track {
                            background: transparent;
                            border-radius: 6px;
                        }
                        &::-webkit-scrollbar-track:hover {
                            background: #444;
                        }
                        &::-webkit-scrollbar-track:active {
                            background: #333333;
                        }
                        &::-webkit-scrollbar-corner {
                            background: transparent;
                        }
                    }
                    ul.nav-tabs {
                        display: flex;
                        flex-wrap: nowrap;
                        overflow: visible;
                        width: 100%;
                        border-bottom:none;

                        & > li {
                            & a {
                                font-size:14px;
                                white-space: nowrap;
                            }
                        }
                    }
                }

                .bar{
                    display:none;
                    position: absolute; left:0; bottom:0;
                    width:100px; height:3px;
                    background: $color-spot;
                }

            }
        }
    }

    //데스크탑, 타블릿
    //기본 화면, GNB
    .nav-md{
        .frame-body{
            .main-menu-side {
                display: block;
                width: 240px;
            }
            .right-col {
                margin-left: 240px;
            }
        }

    }

    //접혀진 메뉴
    .nav-sm{
        .frame-body{
            .main-menu-side {
                display: block;
                width: 70px;

                .side-menu{
                    > li{
                        &:after{
                            left:0;
                            width:100%;
                        }
                        a{
                            padding-left:0;
                            padding-right:0;
                            span{
                                display: none;
                            }
                        }
                    }

                }
            }
            .right-col {
                margin-left: 70px;
            }
        }

    }
}

@include media-breakpoint-up(lg){
    .top-nav{
        .navbar-user-info {
            .user-profile{
                .btn{
                    font-size: 13px;
                    line-height: 2.8;
                    color: #555;
                }
            }
        }
    }
}








// 중앙정렬 레이아웃 정의
.flex-middle-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;

    //@include break-point(600px, minH){
    @include media-breakpoint-only(600px){
        height:100%;
    };

    @media all and(orientation: portrait){
        height:100%;
    }
}
