/** login **/
//@include media-breakpoint-only(xs) { ... }
//@include media-breakpoint-only(sm) { ... }
//@include media-breakpoint-only(md) { ... }
//@include media-breakpoint-only(lg) { ... }
//@include media-breakpoint-only(xl) { ... }

// root container
.container {
    &.login {
        background: #f0f3f7;

        .main-container {
            @extend .flex-middle-center;
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .top-nav {
            position: static;
            justify-content: center;
            height: auto;
            padding-left: 0;
            background: transparent;

            .site-logo {
                display: block;
                height: auto;
                margin-bottom: 50px;
                margin-left: 0;
                text-align: center;

                &:before {
                    display: none;
                }

                a {
                    width: 304px;
                    height: 30px;
                }
            }
        }


        .login-wrapper {
            width: 90%;
            max-width: 640px;
            margin: 0 auto;

            @media (min-height: 600px) {
                //padding:0;
                //margin-top:-4vh;
            }


            .msg-holder {
                padding-bottom: 20px;
                text-align: center;
                color: #000;

                &.filled {
                    max-width: 480px;
                    padding: 24px 10px;
                    background: #d8e9c6;
                    margin: 0 auto 40px;


                    @include media-breakpoint-only(xs) {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    //@include break-point($screen-xs, max){
                    //    width:100%;
                    //}
                }
            }
        }

        .login-content {
            width: 100%;

            legend {
                display: none;
            }

            .inner-wrap {
                width: 90%;
                max-width: 360px;
                margin: 0 auto;

                //@include break-point(480px, max){
                //    width:100%;
                //}
            }

            .login-form {
                .inline-field {
                    label {
                        @extend %blind;
                    }

                    &:last-of-type {
                        margin-bottom: 16px;
                    }
                }

                .form-control {
                    height: 42px;
                }
            }

            .login-btm {
                padding-top: 44px;

                .btn-ok-2 {
                    padding-left: 70px;
                    padding-right: 70px;
                }

                .fn-menu {
                    padding: 15px 0;
                    text-align: center;

                    &.divider-menu {
                        a {
                            display: inline-block;
                            padding: 5px 0;


                            span {
                                position: relative;
                                display: inline-block;
                                margin: 0 15px;
                                vertical-align: middle;
                                color: #565656;
                                line-height: 1;
                                font-size: 15px;
                                transform: scale(1);
                                transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;

                                &:before, &:after{
                                    position: absolute; bottom:-2px;
                                    display: block;
                                    width:0;
                                    height:1px;
                                    border-bottom: 1px solid #000;
                                    content:'';
                                    transition: width 0.25s ease-in-out;
                                }
                                &:before{
                                    left:50%;
                                }
                                &:after{
                                    right:50%;
                                }
                            }

                            &:before {
                                @extend %vertical-middle;
                                height: 12px;
                                background: #808387;
                            }

                            &:first-of-type {
                                &:before {
                                    display: none;
                                }
                            }

                            // hover
                            @at-root .desktop &:hover {
                                span{
                                    color: #000;
                                    transform: scale(1.05);

                                    &:before, &:after{
                                        width:50%;
                                    }
                                }
                            }

                        }
                    }

                    &.underline-menu {
                        a {
                            text-decoration: underline;
                        }
                    }

                }
            }

            &.register-ok {
                .inner-wrap {
                    max-width: 540px;
                }

                .top-cont {
                    text-align: center;
                    padding-top: 28px;

                    h1 {
                        &:before {
                            display: inline-block;
                            width: 95px;
                            height: 91px;
                            margin-bottom: 40px;
                            background: url('/images/graphics/graphic_mail.png') no-repeat 0 0 / 100% auto;
                            content: '';
                        }

                        span {
                            display: block;
                            margin-bottom: 40px;
                            font-size: 18px;
                            font-weight: 400;
                            color: #000;
                        }


                    }

                    .desc {
                        padding: 0 6% 40px;
                        border-bottom: 1px solid #dfe2e5;
                        font-size: 14px;
                        color: #000;
                        line-height: 1.857;

                        strong {
                            font-weight: 400;
                        }

                        //@include break-point(480px, max){
                        //    padding:0 2% 10%;
                        //    br{
                        //        display: none;
                        //    }
                        //};
                    }
                }

                .login-btm {
                    .txt {
                        display: block;
                        padding-bottom: 20px;
                        font-size: 15px;
                        text-align: center;
                        font-weight: 400;
                        color: #000;
                    }
                }
            }

        }

        &.login-landing {
            background-image: url('/images/common/bg_login_elem.png'), url('/images/common/bg_login.png');
            background-repeat: no-repeat, no-repeat;
            background-position: right bottom, 0 0;
            background-size: 100% auto, cover;

            .login-content {
                background: #f2f8fc;
                border-radius: 5px;
                border: 1px solid #fff;

                .inner-wrap {
                    width: 90%;
                    max-width: 360px;
                    margin: 0 auto;
                    padding: 58px 0;
                }


            }


        }

        &.profile {
            .container {
                .right-col {
                    background: #f0f3f7;

                    .subpg-tab-menu {
                        padding-top: 50px;
                        border-bottom-color: #dfe2e5;

                        ul.nav-tabs > li {
                            &:before {
                                background: #dfe2e5;
                            }

                            a {
                                color: #8a8f99;
                                @at-root .desktop & {
                                    &:hover, &:focus {
                                        color: $color-base;
                                    }
                                }
                            }

                            &.active {
                                a {
                                    color: $color-base;
                                }
                            }
                        }

                    }
                }
            }

            .profile-wrap {
                background: #fff;
                border: 1px solid #dfe2e5;
                padding: 60px 80px 0;
                margin: 0 15px 80px;
                border-radius: 3px;

                .id-holder {
                    width: 200px;
                    padding: 0 0 40px 40px;

                    span {
                        display: block;
                    }
                }

                .txt-tit {
                    display: block;
                    padding-bottom: 12px;
                    color: #45484c;
                    font-size: 14px;
                }

                .txt-name {
                    display: block;
                    color: #000;
                    font-size: 16px;
                }

                .login-form {
                    position: relative;
                    padding: 40px 40px 50px;
                    border-top: 1px solid #dfe2e5;

                    //@include clearfix;

                    .col-block {
                        float: left;

                        &.first {
                            width: 30.4%;

                            .title {
                                display: block;
                                padding-bottom: 13px;
                                color: #45484c;
                                font-size: 14px;
                            }

                            .form-group {
                                margin-bottom: 10px;
                            }

                            .form-control {
                                width: 88%;
                            }

                            .name-holder {
                                padding-bottom: 40px;
                            }
                        }

                        &.second {
                            width: 39.3%;
                            padding-top: 27px;

                            .msg-holder {
                                width: 51%;
                                color: #8a8f99;
                                font-size: 13px;
                                line-height: 1.538;
                            }
                        }

                        &.third {
                            width: 30.3%;
                            padding-top: 27px;
                            text-align: right;

                            .btn {
                                width: 100%;
                                max-width: 240px;
                            }
                        }

                    }

                    &.re-phone {
                        .col-block {
                            &.third {
                                position: absolute;
                                right: 40px;
                                bottom: 50px;
                            }
                        }
                    }
                }

                //@include break-point($tablet){
                //    padding:60px 40px 0;
                //
                //    .id-holder{
                //        padding-left:20px;
                //    }
                //
                //    .login-form{
                //        padding-left:20px;
                //        padding-right:20px;
                //
                //        .col-block{
                //            &.second{
                //                .msg-holder{
                //                  width:80%;
                //                }
                //            }
                //        }
                //    }
                //}

                @include media-breakpoint-only(xs) {
                    padding: 40px 0 0;
                    margin-bottom: 50px;

                    .id-holder {
                        padding: 0 22px 40px;

                        .txt-id {
                            padding-bottom: 12px;
                        }
                    }

                    .txt-tit {
                        padding-bottom: 14px;
                    }

                    .login-form {
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-bottom: 60px;

                        .col-block {
                            width: 100% !important;

                            &.first {
                                .form-control {
                                    width: 100%;
                                }
                            }

                            &.second {
                                padding-top: 7px;

                                .msg-holder {
                                    width: 78%;
                                }
                            }

                            &.third {
                                padding-top: 37px;

                                .btn {
                                    max-width: 100%;
                                }
                            }
                        }

                        &.re-phone {
                            .col-block {
                                &.third {
                                    position: static;
                                    padding-top: 40px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}



