.page-code-main {
    .x-title{
        h2{
            span{
                margin-right:10px;
            }
        }
    }

    .total-summary-wrap {
        .list-wrap {
            display: flex;
            flex-wrap: wrap;
            padding: 45px 0 15px;


            li {
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;

                .list-item {
                    padding: 0 22px;

                    .total-data {
                        @include clearfix;
                        padding-bottom: 17px;

                        &:before {
                            display: block;
                            float: left;
                            width: 65px;
                            height: 65px;
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            background-size: cover;
                            content: '';
                        }

                        .data-wrap {
                            float: right;

                            padding-right: 10px;

                            .tit {
                                font-size: 15px;
                                color: #a4b0bf;
                            }

                            .value {
                                display: flex;
                                justify-content: flex-end;
                                .data {
                                    margin-right: 8px;
                                    color: #fff;
                                    font-size: 32px;
                                }

                                .unit {
                                    padding-top: 15px;
                                    color: #a4b0bf;
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .tbl-wrap {
                        tr {
                            th.bul {
                                padding-left: 10px;
                            }

                            td{
                                &:last-child {
                                    padding-right: 10px;
                                }
                                .data{
                                    margin-right: 4px;
                                }
                            }


                            &:last-child {
                                th, td {
                                    border-bottom: none;
                                }
                            }
                        }

                    }

                }

                &:nth-child(1) {
                    .total-data:before {
                        background-image: url('/images/graphics/graphic_main_sm1.svg');
                    }
                }

                &:nth-child(2) {
                    .total-data:before {
                        background-image: url('/images/graphics/graphic_main_sm2.svg');
                    }
                }

                &:nth-child(3) {
                    .total-data:before {
                        background-image: url('/images/graphics/graphic_main_sm3.svg');
                    }
                }

                &:nth-child(4) {
                    .total-data:before {
                        background-image: url('/images/graphics/graphic_main_sm4.svg');
                    }
                }
            }

            @include media-breakpoint-only(md){
                li {
                    width: 100%;
                    .list-item {
                        .total-data {
                            .data-wrap {
                                //width:170px;
                            }
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                padding: 0;
                margin: 30px 15px 15px;
                border: 1px solid #3e424d;
                background: #343742;
                border-radius: 5px;
                li {
                    width: 100%;
                    padding: 20px 22px 15px;
                    border-bottom: 2px solid #3e424d;

                    &:last-child {
                        border-bottom: none;
                    }

                    .list-item {
                        padding: 0;

                        .total-data {

                            &:before {
                                width: 17.333vw;
                                max-width: 65px;
                                height: 17.333vw;
                                max-height: 65px;
                            }

                            .data-wrap {
                                width: 56vw;
                                max-width: 208px;
                            }
                        }
                    }
                }
            }

            @include media-breakpoint-up(md){
                li {

                    .list-item {
                        .total-data {
                            .data-wrap {

                            }
                        }
                    }
                }
            }

        }
    }

    .sblock-main-01{
        height:calc(100% - 30px);
        .img-holder{
            padding:0 50px;
            padding:0 6.8%;
            img{
                width:100%;
            }
        }

        .label-status{
            padding:20px 0 0;
            text-align: center;
            li{
                display: inline-block;
                margin-right:21px;
                &:before{
                    display: inline-block;
                    width:40px; height:6px;
                    border-radius: 3px;
                    vertical-align: middle;
                    background: gray;
                    content:'';
                }
                span{
                    padding-left:7px;
                    color:#a4b0bf;
                    font-size:13px;
                    vertical-align: middle;
                }

                &:last-child{
                    margin-right:0;
                }

                &:nth-child(1){
                    &:before{
                        background-color: $chart-color-a;
                    }
                }
                &:nth-child(2){
                    &:before{
                        background-color: #39b84a;
                    }
                }
                &:nth-child(3){
                    &:before{
                        background-color: $chart-color-c;
                    }
                }
                &:nth-child(4){
                    &:before{
                        background-color: #f65177;
                    }
                }
            }
        }

        //@include break-point($screen-md-max, max){
        //    height:30vw;
        //    .img-holder {
        //        padding:5% 5% 0;
        //    }
        //}
        //
        //@include break-point($screen-md, max){
        //    height:34vw;
        //}

        @include media-breakpoint-down(sm){
            .img-holder {
                padding:8px 0;
            }
            .label-status{
                padding:15px 0 10px;
                li{
                    margin-right:5%;
                    &:before{
                        width:16px; height:8px;
                        border-radius:4px;
                    }
                }

            }
        }
    }

    .sblock-main-03{
        height:calc(100% - 30px);

        .chart-holder{
            position: relative;
            margin-top:0;
            .custom-data-labels{
                text-align: right;
                padding-bottom:1.04vw;

                li:nth-child(1){
                    &:before{
                        background: $chart-color-a;
                    }
                }
                li:nth-child(2){
                    &:before{
                        background: $chart-color-b;
                    }
                }
                li:nth-child(3){
                    &:before{
                        background: $chart-color-c;
                    }
                }

                @media (min-width: $screen-xlg) {
                    padding-bottom:20px;
                }
            }

            canvas{
                //padding-right: 8px;
            }
        }

        //@include break-point($screen-md-max, max){
        //    height:30vw;
        //}
        //
        //@include break-point($screen-md, max){
        //    height:34vw;
        //}
    }

    .sblock-main-02{
        .panel-toolbox{
            padding-right:5px;
            li{
                border-left:none;
            }
            .led-txt{
                padding:0 15px;
                color:#fff;
                font-size:14px;
                span, i{
                    vertical-align: middle;
                }
                span{
                    margin-right:10px;
                }
            }
        }
        .x-content{
            padding-bottom: 20px;
        }
        .status-system{
            padding:10px 12%;
            text-align: center;
            font-size:0;
            li{
                display: inline-block;
                position: relative;
                margin: 0 3%;

                .i-icon{
                    margin-right:10px;
                    //margin-right:10%;
                    &.icon-ms-critical{
                        width:30px; height:30px;
                    }
                    &.icon-ms-major{
                        width:25px; height:30px;
                    }
                    &.icon-ms-minor{
                        width:25px; height:30px;
                    }
                    &.icon-ms-warning{
                        width:25px; height:31px;
                    }
                }

                .txt{
                    position: relative;
                    top: -6px;
                    color:#7f8fa4;
                    font: 14px $font-eng;
                    letter-spacing:-0.25px;
                    vertical-align: middle;
                }
                .badge{
                    position: absolute; left:20px; top:14px;
                    width:20px; height:20px;
                    border-radius:50%;
                    padding:1px 0 0 1px; line-height:20px;
                    background: $color-hot;
                    color:white;
                }
            }

        }


        @include media-breakpoint-down(xs){ //480미만
            .status-system{
                li{
                    margin:0 5% 10px;
                }

            }
        }


    }

    .sblock-main-04{
        @include clearfix;
        height:250px;
        .content-wrap{
            padding:20px 4% 15px;
            @include clearfix;

            .lft-content{
                float: left;
                width:50%;
                margin-bottom:10px;
                .img-holder{
                    display: inline-block;
                    width:61%;
                    max-width:160px;
                    img{
                        width:100%;
                    }
                }
                .desc{
                    display: inline-block;
                    padding:60px 0 0 6px;
                    vertical-align: top;
                    .tit{
                        display: block;
                        padding-bottom:5px;
                        font-size:13px;
                        color:#a4b0bf;
                    }
                    .txt{
                        font-size:16px;
                        color:#fff;
                    }
                }
            }
            .rgt-content{
                float: right;
                width:50%;
            }
        }


        @media (max-width: 1800px) {
            height:360px;
            .content-wrap{
                .lft-content{
                    width:100%;
                }
                .rgt-content{
                    width:100%;
                }
            }
        }

        @include media-breakpoint-down(sm){
            .content-wrap{
                padding-left:6.55%;
                padding-right:6.55%;

                .lft-content{
                    .img-holder{
                        max-width:260px;
                    }
                    .desc{
                        padding-top:24%;
                    }
                }
            }
        }
    }

    .sblock-main-05{
        height:250px;

        .content-wrap{
            @include clearfix;
            //padding:0 60
            padding:15px 4% 12px;
            .lft-content{
                float: left;
                width:60%;
                margin-bottom:5px;

                .doughnut-list{
                    li{
                        display: inline-block;
                        margin-right:30px;

                        .chart-holder{
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 100px;
                            height: 100px;
                        }

                        .title{
                            display: block;
                            padding-top:15px;
                            font-size:13px;
                            line-height:1;
                            color:#a4b0bf;
                        }
                    }
                }

            }
            .rgt-content{
                float: right;
                width:40%;
                padding-top:5px;
            }

        }

        @media (max-width: 1800px) {
            height:360px;
            .content-wrap{
                .lft-content{
                    width:100%;
                }
                .rgt-content{
                    width:100%;
                }
            }
        }
        //@include break-point($screen-sm $screen-sm-max){
        //    .content-wrap {
        //        padding-left:4%;
        //        //padding-right:4%;
        //        .lft-content {
        //            .doughnut-list {
        //                li {
        //                    &:first-child {
        //                        margin-right:0;
        //                    }
        //                    &:last-child{
        //                        float: right;
        //                    }
        //                }
        //            }
        //        }
        //    }
        //}

        @include media-breakpoint-down(sm){
            .content-wrap{
                padding-left:6.55%;
                padding-right:6.55%;
                .lft-content {
                    .doughnut-list {
                        li {
                            &:first-child {
                                margin-right: 11%;
                            }
                            .chart-holder{
                                width:26.66vw;
                                height:26.66vw;
                                max-width: 100px;
                                max-height: 100px;
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(xs){
            .content-wrap{
                .lft-content {
                    .doughnut-list {
                        li {
                            &:first-child {
                                margin-right: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}