// 페이지별 스타일 정의
// 페이지 구분 코드 .page-code-[구분코드] : 0101 ==> 메인 메뉴 - 서브 첫번째 메뉴
// 팝업 구분 코드  .popup-code-[구분코드] : 본문 페이지의 레이어 팝업과 연관된 고유 코드 생성
// HTML 페이지 파일 접두사명:  ctrl- (페이지명 변경 2018.01.02)
.page-code-0201{
    $sb-block-name:sblock-0201;
    .sch-form-wrap{
        .form-inline{
            justify-content: center;
        }
        .form-group{
            flex: 1 1 0%;
            max-width:600px;
        }
        .form-control{
            width:100%;
        }

        @include media-breakpoint-down(xs){
            .form-inline{
                justify-content: space-between;
            }

            .form-group{
                flex-basis:100%;
                padding-right: 0;
                margin-bottom: 10px;
            }

            button{
                width: 49%;
                margin-right: 0;
            }
        }
    }

    .#{$sb-block-name}{
        .board-list-count{
            padding-top:22px;

            @include media-breakpoint-down(sm){
                padding-top:9px;
            }
        }

        .table{
            thead{
                .align-left-right{
                    .rgt{
                        .i-icon{
                            opacity:0.5;
                            vertical-align: top;
                        }

                    }
                }
            }

        }
    }
}

.page-code-0202 {
    $sb-block-name: sblock-0202;
    .sch-form-wrap {
        .form-inline{
            max-width: 800px;
            justify-content: center;
        }

        .form-group{
            flex: 0 1 auto;
            width: 100%;

            .form-control{
                width: 100%;
            }

            &:nth-of-type(1){

            }

            &:nth-of-type(2) {
                padding-right: 0;

                .selectbox-group{
                    display: inline-flex;
                    width:100%;
                }
                .selectbox{
                    flex-grow: 1;
                    margin-right: 6px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

            &:nth-of-type(3){
                margin-right:0;
                .form-input-calendar{
                    width:100%;

                    .field{
                        width:100%;
                        margin: 0;

                        &-input{
                            min-height: auto;
                        }
                    }
                }
            }

        }



        @include media-breakpoint-down(sm){
            .form-group{
                padding-right: 0;
            }
            .btn-wrap{
                margin-top: 3px;
            }
        }

        @include media-breakpoint-only(md){
            .form-inline{

            }
            .form-group{
                width: 50%;
                &:nth-of-type(3) {
                    width: 330px;
                }
            }
        }

        @include media-breakpoint-up(lg){
            .form-inline{
                width: 80%;
            }

            .form-group{
                width: 50%;
                &:nth-of-type(3) {
                    width: 330px;
                }
            }
        }


    }

    .table{
        .txt-overflow{
            width:10vw;
            @include media-breakpoint-up(lg){
                width:9vw;
            }
            @include media-breakpoint-up(md){
                width:30vw;
            }
        }
    }
}

.page-code-0203{
    .env-setup-wrap{
        padding:0 2.08vw 50px;

        .tbl-setup-list{
            colgroup{
                col{
                    &:nth-child(1){
                        width:18%;
                    }
                    &:nth-child(2){
                        width:24%;
                    }
                    &:nth-child(3){
                        width:58%;
                    }


                }
            }

            td{
                .form-control{

                }
            }

        }
        
        .btns-group{
            padding:60px 0;
            text-align: center;
        }

        @include media-breakpoint-between(sm,md){
            .tbl-setup-list{
                colgroup {
                    col {
                        &:nth-child(1){
                            width:26%;
                        }
                        &:nth-child(2){
                            width:30%;
                        }
                        &:nth-child(3){
                            width:44%;
                        }
                    }
                }
                td{
                    .form-control, .selectbox{
                        width:66%;
                    }
                }
            }
        }

        @include media-breakpoint-down(sm){
            padding-left:15px;
            padding-right:15px;
            .tbl-setup-list{
                table{
                    display: block;
                }
                tbody{
                    display: block;
                }
                tr{
                    display: block;
                    font-size:0;
                }
                th{
                    display: inline-block;
                    width:49%;
                    font-size:13px;
                    vertical-align: middle;
                }
                td{
                    display: inline-block;
                    font-size:13px;
                    vertical-align: middle;

                    &:nth-of-type(1){
                        width:51%;

                        .sm-txt{
                            padding-left:2%;
                        }
                    }
                    &:nth-of-type(2){
                        padding:0;

                        .info-msg{
                            padding:0 10px 10px 5px;
                        }
                    }
                    .form-control, .selectbox{
                        width:66%;
                    }
                }
            }

            .btns-group{
                padding:40px 7.46%;

                .btn{
                    width:100%;
                    margin:0 0 8px;
                }
            }
        }
    }
}

.page-code-0204{
    $sb-block-name:sblock-0204;
    .sch-form-wrap{
        .form-inline{
            justify-content: center;
        }
        .form-group{
            flex: 1 1 0%;
            max-width:600px;
        }
        .form-control{
            width:100%;
        }

        @include media-breakpoint-down(xs){
            .form-inline{
                justify-content: space-between;
            }

            .form-group{
                flex-basis:100%;
                padding-right: 0;
                margin-bottom: 10px;
            }

            button{
                width: 49%;
                margin-right: 0;
            }
        }
    }

    .#{$sb-block-name}{
        .board-list-count{
            padding-top:22px;

            @include media-breakpoint-down(sm){
                padding-top:9px;
            }
        }

        .table{
            thead{
                .align-left-right{
                    .rgt{
                        .i-icon{
                            opacity:0.5;
                            vertical-align: top;
                        }

                    }
                }
            }

            tbody{
                td{
                    .label{
                        display: block;
                    }
                }
            }

        }

    }
}