// 페이지 구분 코드 .page-code-[구분코드] : 0101 ==> 메인 메뉴 - 서브 첫번째 메뉴
// 팝업 구분 코드  .popup-code-[구분코드] : 본문 페이지의 레이어 팝업과 연관된 고유 코드 생성
//
// 페이지 구분 접두사명:  status- (페이지명 변경 2018.01.02)
.page-code-0101{
    $sb-block-name:sblock-0101;

    .#{$sb-block-name}{
        .x-title{
            .panel-toolbox {
                li:first-child {
                    border-left: none;
                }
            }
        }


        .content-wrap{
            // 1540, 45 80 40 55
            // 1404
            padding:2.92% 5.19% 2.59% 3.57%;
            @include clearfix;

            .lft-content{
                float:left;
                width:71%;
                .custom-data-labels{
                    text-align: right;
                    padding-bottom:1.458vw;

                    li:nth-child(1) {
                        .txt:before{
                            background: $chart-color-a;
                        }
                    }
                    li:nth-child(2){
                        .txt:before{
                            background: $chart-color-b;
                        }
                    }
                    li:nth-child(3){
                        .txt:before{
                            background: $chart-color-c;
                        }
                    }

                    @include media-breakpoint-up($screen-xlg){
                        padding-bottom:28px;
                    }
                }
            }
            .rgt-content{
                float: right;
                width:22%;
                .present-energy-data{
                    padding-top:calc(18px + 1.458vw);
                    .data-list{
                        position: relative;
                        height:5.2vw;
                        margin:0 0 3.125vw;
                        padding:1.46vw 0 0 5.2vw;
                        line-height:1;
                        text-align: right;

                        &:last-child{
                            margin-bottom:0;
                        }

                        dt{
                            display: inline-block;
                            width:7.1825vw;
                            padding-bottom:0.3vw;
                            color:#a4b0bf;
                            font-size:0.78vw;
                            line-height: 1;
                            font-weight:normal;
                            text-align: left;
                            vertical-align: top;
                        }
                        dd.data{
                            font-size:1.35vw;
                            font-weight:300;
                            line-height: 1;
                            color:#fff;
                            text-align: right;
                            vertical-align: top;
                        }
                        dd.chart-holder{
                            position: absolute;left:0; top:0;
                            width:5.2vw; height:5.2vw;
                        }
                    }
                }
            }

            @media (min-width: $screen-xlg) {
                .lft-content{

                }
                .rgt-content{
                    background: skyblue;
                    .present-energy-data{
                        padding-top:50px;
                        .data-list{
                            height:100px;
                            margin:0 0 60px;
                            padding:28px 0 0 100px;

                            dt{
                                width:150px;
                                padding-bottom:6px;
                                font-size:15px;
                            }
                            dd.data{
                                font-size:26px;
                            }
                            dd.chart-holder{
                                width:100px; height:100px;
                            }
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm){
                padding-left:0;
                padding-right:0;

                .lft-content{
                    float: none;
                    width:100%;
                    .custom-data-labels{
                        padding-bottom:3.73vw;
                    }
                }
                .rgt-content{
                    float:none;
                    width:100%;
                    padding-bottom:20px;

                    .present-energy-data{
                        padding-top:6.66vw;
                        .data-list{
                            height:13.33vw;
                            margin-bottom:4vw;
                            padding:3.73vw 0 0;

                            dt{
                                width:20vw;
                                padding-bottom:0.8vw;
                                font-size:2vw;
                            }
                            dd.data{
                                font-size:3.2vw;
                            }
                            dd.chart-holder{
                                width:13.33vw; height:auto;
                                .inner-txt{
                                    font-size:2.13vw;//16px
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.page-code-0102{
    $sb-block-name:sblock-0102;

    .#{$sb-block-name}{
        .x-title{
            .panel-toolbox {
                li:first-child {
                    border-left: none;
                }
            }
        }

        .content-wrap{
            // 1540, 45 55 40 55
            // 1448 | 1007, 364
            padding:2.92% 3.57% 2.59%;
            @include clearfix;

            .lft-content{
                float:left;
                width:69.5%;
                .custom-data-labels{
                    text-align: right;
                    padding-bottom:1.04vw;

                    li:nth-child(1){
                        &:before{
                            background: $chart-color-a;
                        }
                    }

                    @include media-breakpoint-up($screen-xlg){
                        padding-bottom:20px;
                    }
                }
            }
            .rgt-content{
                float: right;
                width:25.14%;

                .present-energy-data{
                    padding-top:5.2vw;
                    .data-list{
                        margin-bottom:3.65vw;
                        &:last-of-type{
                            margin-bottom:0;
                        }
                        dt{
                            padding-bottom:0.73vw;
                            color:#a4b0bf;
                            font-size:0.78vw;
                            line-height: 1;
                            font-weight:normal;
                        }

                        dd.chart-progress{
                            @include clearfix;
                            .progress{
                                float:left;
                                width:65%; height:1.04vw;
                                margin-bottom:0;
                                border-radius:0;
                            }
                            .data{
                                float: right;
                                font-size:1.04vw;
                                line-height: 1;
                                color:#fff;
                                text-align: right;
                            }
                        }
                    }
                }

            }

            @include media-breakpoint-up($screen-xlg){
                .lft-content{

                }
                .rgt-content{
                    .present-energy-data{
                        padding-top:100px;
                        .data-list{
                            margin-bottom:70px;
                            dt{
                                padding-bottom:14px;
                                font-size:15px;
                            }
                            dd.chart-progress{
                                .progress{
                                    height:20px;
                                }
                                .data{
                                    font-size:20px;
                                }
                            }
                        }
                    }
                }
            }

            @include media-breakpoint-down(xs){
                padding-left:0;
                padding-right:0;

                .lft-content{
                    float: none;
                    width:100%;
                    .custom-data-labels{
                        padding-bottom:3.73vw;
                    }
                }
                .rgt-content{
                    float:none;
                    width:100%;
                    padding-bottom:20px;

                    .present-energy-data{
                        padding-top:9.33vw;
                        .data-list{
                            margin-bottom:6.66vw;
                            dt{
                                padding-bottom:1.86vw;
                                font-size:2vw;
                            }
                            dd.chart-progress{
                                .progress{
                                    width:58%;
                                    height:2.67vw;
                                }
                                .data{
                                    font-size:2.67vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-code-0103{
    $sb-block-name:sblock-0103;

    .#{$sb-block-name}-01{
        height:637px;

       .panel-toolbox{
           li:first-child{
               padding:0 15px;
               border-left:none;
           }
       }

        .img-holder{
            padding:75px 58px 0;
            img{
                width:100%;
            }
        }

        .info-status{
            position: absolute; bottom:0; left:0;
            width:100%;
            background:#2f323c;

            @include clearfix;

            li{
                float:left;
                width:33.333%;
                padding:36px 4.13% 38px;
                text-align: center;
            }

            .info-status-item{
                .status-tit{
                    display: block;
                    padding-bottom:20px;
                    border-bottom:1px solid #3e424d;

                    &:before{
                        display: inline-block;
                        width:42px; height:42px;
                        margin-bottom:15px;
                        content:'';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size:contain;
                    }
                    em{
                        display: block;
                        color:#a4b0bf;
                        font-size:14px;
                    }
                }
                .status-name{
                    display: block;
                    padding-top:20px;
                    font-size:20px;
                    font-weight:400;
                    color:$white;
                }

                // 상태
                &.status-run{
                    .status-tit:before{
                        background-image: url('/images/ui/icon_status_run.svg');
                    }
                }
                &.status-standby{
                    .status-tit:before{
                        background-image: url('/images/ui/icon_status_standby.png');
                    }
                }
                &.status-remote{
                    .status-tit:before{
                        background-image: url('/images/ui/icon_status_remote.png');
                    }
                }
            }


        }
    }
    .#{$sb-block-name}-02{
        height: 226px;
    }
    .#{$sb-block-name}-03{
        height: 381px;
    }
    .#{$sb-block-name}-04{
        height:296px;
        .scrollable-table{
            height:211px;
        }
    }
    .#{$sb-block-name}-05{
        height:296px;
        .scrollable-table{
            height:211px;
        }
    }
    .#{$sb-block-name}-06{
        height:296px;
        .scrollable-table{
            height:211px;
        }
    }

    @include media-breakpoint-down(xs){
        .#{$sb-block-name}-01{
            .img-holder{
                padding:50px 10px 30px;
            }
            .info-status{
                position: static;
            }
        }
    }
}

.page-code-0104{
    $sb-block-name:sblock-0104;

    .#{$sb-block-name}-01{
        height:756px;
        .state-battery-graph{
            padding-bottom:30px;

            .updated-latest{
                padding-bottom:30px;
            }

            .battery-graph-row{
                margin-bottom:20px;
                font-size:0;
            }

            .graph-holder{
                display: inline-block;
                position: relative;
                width:60%;

                vertical-align: middle;

                .graph{
                    display: block;
                    position: relative;
                    width:12.5vw;
                    height:3.125vw;
                    background: url('/images/graphics/graph_battery.png') no-repeat 0 0 / cover;

                    > span{
                        display: block;
                        height:100%;
                        overflow: hidden;
                        //background-size: contain;

                        &:before{
                            display: block;
                            width:12.5vw;
                            height:100%;
                            background-position: 0 0;
                            background-size: contain;
                            background-repeat: no-repeat;
                            content: '';
                        }
                    }

                    &.color-type-1{
                        > span {
                            &:before{
                                background-image: url('/images/graphics/graph_battery_color_1.png');
                            }
                        }
                    }
                    &.color-type-2{
                        > span {
                            &:before{
                                background-image: url('/images/graphics/graph_battery_color_2.png');
                            }
                        }
                    }

                }
                .text-value{
                    position: absolute; left:0; top:0;
                    width:12.5vw;
                    height:100%;
                    text-align: center;
                    &:before{
                        @extend %vertical-middle;
                    }
                    > span {
                        vertical-align: middle;
                        font-size:0.93vw;
                        color:#fff;
                    }
                }
            }
            .bms-desc{
                display: inline-block;
                width:40%;
                text-align: right;
                vertical-align: middle;

                .tit{
                    display: block;
                    font-size:0.73vw;
                }
                .sub{
                    color:#fff;
                    font-size:1.35vw;
                }
            }

            @include media-breakpoint-up($screen-xlg){
                .graph-holder{
                    .graph{
                        width:240px;
                        height:60px;
                        > span{
                            &:before{
                                width:240px;
                            }
                        }
                    }
                    .text-value{
                        width:240px;
                        > span {
                            font-size:18px;
                        }
                    }
                }
                .bms-desc{
                    .tit{
                        font-size:14px;
                    }
                    .sub{
                        font-size:26px;
                    }
                }
            }

            @include media-breakpoint-down($screen-md-max){
                .graph-holder{
                    .graph{
                        width:240px;
                        height:60px;
                        > span{
                            &:before{
                                width:240px;
                            }
                        }
                    }
                    .text-value{
                        width:240px;
                        > span {
                            font-size:18px;
                        }
                    }
                }
                .bms-desc{
                    .tit{
                        font-size:14px;
                    }
                    .sub{
                        font-size:26px;
                    }
                }
            }
            @include media-breakpoint-down(xs){
                .graph-holder{
                    .graph{
                        width:37.5vw;
                        height:9.375vw;

                        > span{
                            &:before{
                                width:37.5vw;
                            }
                        }
                    }
                    .text-value{
                        width:37.5vw;
                        > span {
                            font-size:2.79vw;
                        }
                    }
                }
                .bms-desc{
                    .tit{
                        font-size:2.19vw;
                    }
                    .sub{
                        font-size:4.05vw;
                    }
                }
            }
        }

        .state-battery-info-1{
            margin-bottom:34px;
            > ul{
                font-size:0;
                > li {
                    display: inline-block;
                    width:33%;
                    height:7.29vw;
                    background:#2a2d36;
                    text-align: center;
                    vertical-align: middle;

                    &:nth-child(2){
                        margin-left:0.5%;
                        margin-right:0.5%;
                    }

                    &:before{
                        @extend %vertical-middle;
                    }
                    .txt-wrap{
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;

                        .tit{
                            display: inline-block;
                            width:3.64vw;
                            border-top:1px solid #3e424d;
                            border-bottom:1px solid #3e424d;
                            padding:7px 0 6px;
                            margin-bottom:1.2vw;
                            color:#a4b0bf;
                            font-size:13px;
                            font-size:0.6vw;
                        }
                        .value{
                            display: block;
                            color:#fff;
                            font-size:26px;
                            font-size:1.35vw;
                        }
                    }
                }
            }

            @include media-breakpoint-up($screen-xlg){
                > ul{
                    > li {
                        height:140px;

                        .txt-wrap{

                            .tit{
                                width:70px;
                                padding:7px 0 6px;
                                font-size:13px;
                            }
                            .value{
                                font-size:26px;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down($screen-md-max){
                > ul{
                    > li {
                        height:140px;

                        .txt-wrap{

                            .tit{
                                width:70px;
                                padding:7px 0 6px;
                                font-size:13px;
                            }
                            .value{
                                font-size:26px;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(xs){
                > ul{
                    > li {
                        height:21.87vw;
                        .txt-wrap{
                            .tit{
                                width:10.92vw;
                                margin-bottom:3.6vw;
                                font-size:1.8vw;
                            }
                            .value{
                                font-size:4.05vw;
                            }
                        }
                    }
                }
            }
        }

        .state-battery-info-2{
            tr{
                td:last-child{
                    font-weight:200;
                }
            }
        }
    }
    .#{$sb-block-name}-02{
        height:305px;
        .panel-toolbox{
            li:first-child{
                padding:0 15px;
                border-left:none;
            }
        }
        .custom-data-labels{
            padding-bottom:25px;
            text-align: right;

            ul > {
                li > .badge{
                    width:20px; height:20px;
                    padding:0;
                    line-height: 20px;
                }
            }
        }


    }
    .#{$sb-block-name}-03{
        height:231px;
        .tbl-wrap{
            height:141px;
        }
    }
    .#{$sb-block-name}-04{
        height:160px;
    }
    .#{$sb-block-name}-05{
        height:368px;
        margin-bottom:20px;
        .chart-holder{
            margin-top:10px;
        }
    }
    .#{$sb-block-name}-06{
        height:368px;
        .panel-toolbox{
            li:first-child{
                padding-right: 15px;
                border-left:none;

                select{
                    width:120px;
                    margin-top:-3px;
                }
            }
        }
        .chart-holder{
            margin-top:10px;
        }
    }

    @include media-breakpoint-down($screen-md-max){
        .col-sm-4{
            width:100%;
        }
        .x-panel{
            height:auto !important;
        }
    }
}

.page-code-0105{
    $sb-block-name:sblock-0105;

    .#{$sb-block-name}-01{
        height:365px;
        margin-bottom:20px;
        .chart-holder{
            //width:465px; width:24.21vw;
            width:90%;
            margin:0 auto;

            canvas{
                margin-top:-10px;
            }
            .goal-wrapper{
                display: none;
            }

            @include media-breakpoint-down($screen-md-max){
                width:100%;
            }
        }

        .tbl-wrap{
            tr{
                td:last-child{
                    font-weight:200;
                }
            }
        }
    }
    .#{$sb-block-name}-02{
        height:242px;

        .tbl-wrap{
            height:150px;
            tr{
                td{
                    font-weight:200;
                    &:first-child{
                        .txt{
                            display: inline-block;
                            width:48%;
                            vertical-align: middle;
                        }
                        .progress{
                            display: inline-block;
                            width:50%;
                            height:8px;
                            vertical-align: middle;
                        }

                    }
                }
            }
            @include media-breakpoint-down(1600px){
                tr{
                    td{
                        &:first-child{
                            .txt, .progress{
                                width:90%;
                            }
                        }
                    }
                }

            }

            @include media-breakpoint-down(xs){
                height:auto;
            }
        }

    }
    .#{$sb-block-name}-03{
        height:627px;

        .panel-toolbox{
            li:last-child{
                padding: 0 15px;
                border-left:none;

                fieldset{
                    border:1px solid #484d59;
                    margin-top:6px;
                    border-radius:5px;
                    line-height:1;
                    overflow: hidden;
                }
                .form-group{
                    display: inline-block;
                    width:160px;
                    margin-bottom:0;
                    vertical-align: top;
                    .form-control{
                        border-color:transparent;
                        background: transparent;
                        border-radius:0;

                        &:focus{
                            border-color:#fff;
                        }
                    }
                }
                .btn{
                    padding:0;
                    background: transparent;
                    vertical-align: top;
                }
            }
        }

        .board-list-count{
            color:#fff;
        }
        .tbl-wrap{
            height:482px;

            @include media-breakpoint-down($screen-xxs-max){
                .mb-xscroll{
                    width:200%;
                }
            }
        }
    }
    .#{$sb-block-name}-04{
        height:382px;
    }

    .#{$sb-block-name}-05{
        height:381px;
        .content-wrap{
            @include clearfix;
            padding-top:20px;
        }
        .lft-content{
            float: left;
            width:73.85%;
        }
        .rgt-content{
            float: right;
            width:20.15%;
            .data-list{
                position: relative;
                padding-left:60px;
                padding-left:3.125vw;
                margin-bottom:40px;
                margin-bottom:2.083vw;
                dt{
                    padding-bottom:8px;
                    padding-bottom:0.416vw;
                    font-size:15px;
                    font-size:0.78vw;
                    color:#a4b0bf;
                    line-height:1;
                }
                dd.data{
                    color:#fff;
                    font-size:26px;
                    font-size:1.35vw;
                    line-height:1;
                }
                dd.circle{
                    position: absolute; left:0; top:10px; top:0.52vw;
                    width:35px; height:35px;
                    width:1.82vw; height:1.82vw;
                    border-radius:50%;
                }

                &:nth-child(1){
                    dd.circle{
                        background: $chart-color-a;
                    }
                }
                &:nth-child(2){
                    dd.circle{
                        background: $chart-color-b;
                    }
                }
                &:nth-child(3){
                    dd.circle{
                        background: $chart-color-c;
                    }
                }
            }
        }

        @include media-breakpoint-up($screen-xlg){
            .rgt-content{
                .data-list{
                    padding-left:60px;
                    margin-bottom:40px;
                    dt{
                        padding-bottom:8px;
                        font-size:15px;
                    }
                    dd.data{
                        font-size:26px;
                    }
                    dd.circle{
                        top:10px;
                        width:35px; height:35px;
                    }

                }
            }
        }

        @include media-breakpoint-down(md){ //1023px
            .lft-content{
                float: none;
                width:100%;
            }
            .rgt-content{
                float: none;
                width:100%;
                padding-top:10px;
                margin-bottom:0;
                text-align: center;
                .data-list{
                    display: inline-block;
                    margin-right:30px;
                    margin-right:2.9vw;
                    text-align: left;
                }
            }
        }

        @include media-breakpoint-down(xs) {

            .rgt-content {
                .data-list{
                    padding-left:32px;
                    padding-left:4.26vw;
                    margin-left:4vw;
                    dt{
                        padding-bottom:4px;
                        padding-bottom:0.53vw;
                        font-size:12px;
                        font-size:1.6vw;
                    }
                    dd.data{
                        font-size:20px;
                        font-size:2.666vw;
                    }
                    dd.circle{
                        top:7px;
                        top:0.933vw;
                        width:24px; height:24px;
                        width:3.2vw; height:3.2vw;
                    }
                }
            }
        }
    }
}