// popup contents
.modal{
    &-dialog{
        width:500px;
    }
    &-content{
        overflow: hidden;
        border:1px solid #dfe2e5;
    }
    &-header{
        padding-left: 40px;
        padding-right: 20px;
    }
    &-title{
        font-size:20px;
        color:#373f52;
    }
    &-toolbox{
        //position: absolute; right:20px; top:0;
        float: right;
        margin-right:44px;  //todo 0625
        padding:18px 21px;
        > li{
            float: left;
            min-width: 36px;
            height: 34px;
            margin-right:-1px;
            line-height: 34px;
            border: 1px solid #dfe2e5;

            .btn{
                width:34px; height:100%;
                padding:0;
                vertical-align: top;
                .i-icon{
                    top:0;
                    height:100%;
                    margin-right:0;
                    background-position:center center;
                }
                em.text-hide{
                    font-size:0;
                }

            }
        }
        .btn{

        }
    }

    &-body{
        padding:30px 30px 30px !important;
        background: #eff3f6;

        h2{
            padding:9px 0 12px;
            color:#45484c;
            font-size:14px;
            font-weight:400;
        }
    }
    &-footer{
        padding:15px 40px;
        background: #eff3f6;
        border-top:none;
        justify-content: center;

        .btns-group{
            //padding-bottom:25px;
        }
    }
    .btns-group{
        text-align: center;
        padding: 10px 0 30px;
    }
    
    button1.close{
        position: absolute;
        top:14px; right:-55px;
        width:40px;
        height:40px;
        border-radius:50%;
        background: #33c0cd;
        opacity:1;
        span{
            display: block;
            transform:rotate(0deg);
            transition:transform 0.3s;
            i{
                position: relative;
                display: block;
                width:20px;
                height:20px;
                margin:10px auto;
                &:before, &:after{
                    display: block;
                    position: absolute;
                    top:50%; left:0;
                    width:100%; height:2px;
                    margin-top:-1px;
                    background: #fff;
                    content:'';
                }
                &:before{
                    transform: rotate(-45deg);
                }
                &:after{
                    transform: rotate(45deg);
                }
            }
        }

        &:hover{
            span{
                transform:rotate(90deg);
            }
        }
    }

    @include media-breakpoint-down($mobile){
        &-dialog {
            width: calc(100% - 20px) !important;
        }
        &-body{
            padding-left:15px;
            padding-right:15px;
        }
    }


    // contents
    //form
    .form-control{
        width:220px;
        border-color:#dfe3e9;
        background-color: #fff;
        color:#45484c;
    }
    .selectbox{
        width:220px;
        border-color:#dfe3e9;
        background-color: #fff;
        color:#45484c;

        &[disabled]{
            opacity: 0.5;
            cursor: not-allowed;
        }

    }



    //pop-content
    .cap-content{
        padding:6px 0 12px;

        .board-list-count{
            padding:0;
            color:#45484c;
            b{
                font-weight:500;
            }
        }
        .updated-latest{
            color:#45484c;
        }
    }

    .col-content{
        @include clearfix;
    }

    // 항목 테이블
    .tbl-setup-list{
        padding:17px 0;
        border-bottom-color:#dfe2e5;
        &.first{
            padding-top:0;
        }
        &.last{
            border-bottom:none;
        }

        .sm-txt{
            color:#45484c;
        }

        > table {
            > thead, > tbody{
                > tr{
                    > th{
                        color:#45484c;
                        &:before{
                            background: #d4d9e1;
                        }
                        label{
                            font-weight:400;
                        }
                    }

                    > td{
                        .form-control{
                            color:#45484c;
                            &[disabled]{
                                color:#bbb;
                            }
                            &[readonly]{
                                color:#999;
                            }
                        }
                    }
                }
            }
        }

        &.type-none-form{
            padding:30px 0 20px;
            &.first{
                padding-top:0;
            }

            > table{
                > thead, > tbody{
                    > tr{
                        > th, > td{
                            padding-top:9px;
                            padding-bottom:9px;
                        }
                        > th{
                            &:before{
                                margin-top:-3px;
                            }
                        }
                    }
                }
            }
        }
    }


    &.popup-sblock-0103-01{
        .modal-dialog{
            width:580px;
        }

        .data-picker-wrap{
            position: relative;
            height:34px;
            &:before{
                display: block;
                position: absolute; top:50%; left:0;
                width:100%; height:1px;
                background: #dfe2e5;
                content: '';
            }
            .inner-wrap {
                position: relative; z-index:2;
                width:240px; height:100%;
                margin:0 auto;
                padding:4px 4px 4px 20px;
                border:1px solid #ced0da;
                border-radius:17px;
                background:#fff;

                .modal-datepicker{
                    display: inline-block;
                    width:182px;
                    height:100%;
                    border-right:1px solid #eff0f2;

                    .form-control{
                        display: inline-block;
                        width:159px;
                        height:100%;
                        padding:0 10px;
                        border-color:transparent;
                        line-height:24px;
                        color:#45484c;
                        vertical-align: middle;
                    }
                }
            }
        }
        .btn-search{
            width:28px;
            height:100%;
            padding:0;
            background: none;
            &:before{
                display: none;
            }
            .i-icon{
                margin-right:0;
                width:14px;
                height:14px;
                background-position:center center;
            }
            em{
                font-size:0;
            }
        }
        .info-pebb{
            padding:30px 0;
            > ul{
                font-size:0;
                > li {
                    display: inline-block;
                    width:32%;
                    background:#fff;
                    border:1px solid #dfe2e5;
                    border-radius: 5px;
                    text-align: center;
                    vertical-align: middle;
                    box-shadow: 0 3px 3px rgba($black,0.08);


                    &:nth-child(2){
                        margin-left:2%;
                        margin-right:2%;
                    }

                    .txt-wrap{
                        padding:18px 0 27px;
                        vertical-align: middle;
                        line-height: 1;

                        .tit{
                            display: block;
                            padding:0 0 16px;
                            color:#45484c;
                            font-size:14px;
                            font-weight:400;

                            &:after{
                                display: block;
                                width:12.5%;
                                height:1px;
                                background: #ced0da;
                                margin:15px auto 0;
                                content:'';
                            }
                        }
                        .value{
                            display: block;
                            color:$color-hot;
                            font-size:28px;

                            em{
                                line-height: 1;
                            }
                        }
                    }
                }
            }

        }
        .scrollable-table{
            max-height:400px;
            margin-bottom:30px;
        }
    }

    &.popup-sblock-0104-02{
        .modal-dialog{
            width:847px;
        }
        .tbl-wrap{
            float:left;
            width:24.1%;
            margin-right:1.2%;
            margin-bottom:10px;
            &:nth-child(4n+4){
                margin-right:0;
            }
            @include media-breakpoint-down($mobile){

            }
            @include media-breakpoint-down($screen-xs){
                width:49%;
                margin-right:2%;
                &:nth-child(2n+2){
                    margin-right:0;
                }
            }

            caption{
                height:36px;
                padding:0;
                background: #8a8f99;
                border:1px solid #dfe2e5;
                color:#fff;
                font-size:13px;
                font-weight:400;
                line-height:34px;
                text-align: center;
            }

            .label-led{
                vertical-align: top;
            }
        }
    }

    // 시스템 제어 관리 팝업
    &.popup-sblock-0201{
        .modal-dialog{
            width:760px !important;
            max-width: none !important;
        }

        .tbl-setup-list{
            &.first{
                position: relative;
                .form-control{
                    width:190px;
                }
                .selectbox{
                    width:190px;
                }

                table:nth-of-type(1){
                    th{
                        width:124px;
                    }
                    textarea{
                        width:100% !important;
                        height:56px !important;
                    }
                }
                table:nth-of-type(2){
                    position: absolute; bottom:17px; right:0;
                    width:330px;

                    th{
                        width:104px;
                    }
                }
            }
            &.second{
                > table{
                    > tbody{
                        > tr{
                            .form-control{
                                width:220px;
                            }
                        }
                    }
                }
            }
        }

        .btns-group{
            padding-bottom:10px;
        }

        .set-time-calendar{
            border:1px solid #dfe2e5;

            .calendar-body{
                @include clearfix;
                background: #fff;
                .set-calendar{
                    float: left;
                    width:433px;
                    width:59.47%;

                    .control-calendar{
                        position: relative;
                        padding:28px 40px 19px 35px;
                        line-height: 1;
                        .y-month{
                            color:#45484c;
                            font-size:16px;
                            font-weight:700;
                        }
                        .y-ctrl{
                            position: absolute; right:5.5%; top:17px;
                            font-size:0;
                            .btn{
                                background: none;
                                .i-icon{
                                    width:8px; height:12px;
                                    margin-right:0;
                                }
                                em{
                                    position: absolute;
                                    left:-9999px; top:-9999px;
                                    font-size:0;
                                }
                                &:first-child{
                                    margin-right:5px;
                                }
                                &:last-child{
                                    margin-left:5px;
                                    .i-icon{
                                        transform:rotate(180deg);
                                    }
                                }
                            }
                        }
                    }

                    .tbl-calendar{
                        padding:0 17px;

                        .date-time-picker{
                            .datepicker{
                                padding:0;
                            }
                            .datepicker-controls{
                                position: relative;
                                justify-content: flex-start !important;
                                height: 83px;
                                padding: 20px 15px 20px 0;
                                background: #fff;

                                .arrow-month{
                                    flex-basis: 10px;
                                    button{
                                        padding: 0 7px;
                                    }
                                    &:nth-of-type(1){
                                        order: 3;
                                    }
                                }

                                .datepicker-container-label{
                                    justify-content: flex-start !important;
                                    order:1;
                                    height:100%;
                                    & > span{
                                        flex: 0 0 50px;
                                    }

                                    button{
                                        span{
                                            font-family: "Noto Sans", "Noto Sans KR", serif;
                                            color: #45484c !important;
                                            font-weight: 700;
                                        }

                                        &:hover{
                                            span{
                                                color: #fff !important;
                                            }
                                        }
                                    }
                                    
                                    & + .arrow-month{
                                        order: 3;
                                    }
                                }
                            }

                            .week-days{
                                position: relative;
                                background: #fff;

                                &:before{
                                    display: block;
                                    position: absolute; left:0; right:0; top:0; bottom:0;
                                    border-top-left-radius: 4px;
                                    border-top-right-radius: 4px;
                                    background: darken(#f0f3f7, 5);
                                    content:'';
                                }

                                & > div{
                                    position: relative;
                                    z-index: 2;
                                }
                            }
                            .month-container{
                                margin-bottom: 20px;
                            }
                            .year-month-selector{
                                z-index: 10;
                            }
                            
                        }

                        //table{
                        //    width:100%;
                        //    th,td{
                        //        width:14.285%; height:47px;
                        //        font-family:$font-eng;
                        //        text-align: center;
                        //        //border:1px solid green;
                        //    }
                        //    th{
                        //        color:#7277dd;
                        //    }
                        //
                        //    .other-md, .btn-ccldar{
                        //        display: inline-block;
                        //        width:31px; height:31px;
                        //        font:12px/31px $font-eng;
                        //        text-align: center;
                        //    }
                        //
                        //    .other-md{
                        //        color:#8a8f99;
                        //    }
                        //
                        //    .btn-ccldar{
                        //        color:#45484c;
                        //        border:1px solid #d7dbe3;
                        //        border-radius:50%;
                        //        background: none;
                        //        line-height: 28px;
                        //        padding:0;
                        //        cursor:pointer;
                        //
                        //        @at-root .mobile &{
                        //            line-height:32px;
                        //        }
                        //
                        //        &.prev-day{
                        //            border-color: #fbadbf;
                        //        }
                        //        &.today{
                        //            border-color:$color-hot;
                        //            background:$color-hot;
                        //            color:#fff;
                        //        }
                        //    }
                        //}
                    }
                }
                .set-today{
                    float: right;
                    width:293px; width:40.53%; height:420px;
                    border-left:1px solid #dfe2e5;
                    overflow:hidden;
                    overflow-y:auto;

                    .inner-wrap{

                    }

                    .tit-today{
                        padding:28px 20px 40px;
                        font-size:15px;
                        color:#8a8f99;
                        font-weight:700;
                    }

                    .ctrl-set-mode{
                        padding:0 40px 0 33px;
                    }


                    ul{
                        li{
                            position: relative;
                            height:44px;
                            &.charge {
                                .time-wrap{
                                    .time-bars{
                                        .bar:before{height:100%; transition:height 0.3s;}
                                    }
                                }
                            }
                            &.discharge {
                                .time-wrap{
                                    .time-bars{
                                        .bar:after{height:100%; transition:height 0.3s;}
                                    }
                                }
                            }
                        }
                    }
                    .time-wrap{
                        display: inline-block;
                        position: relative;
                        width:104px; height:100%;
                        vertical-align: top;
                        font-size:0;

                        .time-bars{
                            display: block;
                            position: relative;
                            width:6px; height:100%;
                            vertical-align: top;
                            &:before{
                                display: block;
                                width:2px; height:100%;
                                margin:0 auto;
                                background: #d4d9e1;
                                content:'';
                            }
                            .bar{
                                display: block;
                                position: absolute; left:0; top:0;
                                width:100%; height:100%;
                                &:before{
                                    position: absolute; left:0; top:0;
                                    width:100%; height:1%;
                                    background: #39b84a;
                                    transition:height 0.3s;
                                    content:'';
                                }
                                &:after{
                                    position: absolute; left:0; top:0;
                                    width:100%; height:1%;
                                    background: #ac7efa;
                                    transition:height 0.3s;
                                    content:'';
                                }
                            }

                        }
                        .time{
                            display: block;
                            position: absolute; left:-3px; top:-6px;
                            line-height: 1;
                            //border:1px solid blue;
                            &:before{
                                display: inline-block;
                                width:12px; height:12px;
                                border:2px solid #d5dae2;
                                border-radius:50%;
                                background: #fff;
                                content: '';
                                vertical-align: middle;
                            }
                            em{
                                padding-left:20px;
                                vertical-align: middle;
                                color:#8a8f99;
                                font-size:13px;
                            }



                        }
                    }

                    .btns{
                        display: block;
                        position: absolute; right:0; top:7px;
                        width:120px; height:30px;
                        border:1px solid #d4d9e1;
                        border-radius:4px;
                        vertical-align: top;
                        font-size:0;

                        &:before{
                            display: block;
                            position: absolute; left:50%; top:0;
                            width:1px; height:100%;
                            background: #d4d9e1;
                            content:'';
                        }


                        .btn-toggle{
                            position: relative;
                            display: inline-block;
                            width:50%; height:100%;
                            overflow: hidden;
                            input{
                                position: absolute; left:-30px; top:0;
                            }
                            label{
                                display: block;
                                height:100%;
                                line-height:26px;
                                font-size:13px;
                                color:#8a8f99;
                                text-align: center;
                                cursor:pointer;
                            }

                            &:nth-child(1) input:checked + label{

                                color:#39b84a;
                            }
                            &:nth-child(2) input:checked + label{
                                color:#ac7efa;
                            }
                        }
                    }

                }
            }

            .calendar-foot{
                border-top:1px solid #dfe2e5;
                background: #fafbfc;
                text-align: center;
                padding:11px 16px;

                .btn{
                    width:25.86%;
                    margin-top: 3px;
                    margin-bottom: 3px;

                    &:nth-child(1){
                        .i-icon{
                           width:16px; height:18px;
                        }
                    }
                    &:nth-child(2){
                        .i-icon{
                            width:16px; height:18px;
                        }
                    }
                    &:nth-child(3){
                        .i-icon{
                            width:19px; height:17px;
                        }
                    }
                }
            }
        }

        //@include media-breakpoint-down(md){
        //    .modal-dialog{
        //        width:700px;
        //    }
        //
        //    .tbl-setup-list{
        //
        //        &.first {
        //            position: relative;
        //            table:nth-of-type(1) {
        //                th {
        //                    width: 114px;
        //                }
        //                .form-control:not(textarea){
        //                    width:160px;
        //                }
        //
        //                .selectbox{
        //                    width:160px;
        //                }
        //            }
        //            table:nth-of-type(2) {
        //                width:235px;
        //                th {
        //                    width: 84px;
        //                }
        //                .form-control{
        //                    width:130px;
        //                }
        //            }
        //            .sm-txt{
        //                padding-left:4px;
        //            }
        //        }
        //    }
        //
        //    .set-time-calendar {
        //
        //    }
        //}

        @include media-breakpoint-down(sm){
            .tbl-setup-list {
                &.first {
                    table{
                        &:nth-of-type(2) {
                            position: static;
                            width:100%;
                        }

                        th {
                            width: 36% !important;
                        }
                        .form-control,
                        .selectbox{
                            width:80% !important;
                        }
                    }
                    .sm-txt{
                        padding-left:12px;
                    }
                }
                &.second {
                    > table {
                        > tbody{
                            > tr{
                                > th {
                                    width: 36% !important;
                                }
                                > td{
                                    .selectbox{
                                        width:100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .set-time-calendar{
                .calendar-body {
                    .set-calendar{
                        float: none;
                        width: 100%;
                        padding-bottom:30px;

                    }
                    .set-today {
                        float: none;
                        width: 100%;
                        border-left:none;
                        border-top:1px solid #dfe2e5;

                        .tit-today{
                            padding-left:35px;
                        }
                        .ctrl-set-mode{
                            padding-left:40px;
                        }
                    }
                }
                .calendar-foot{
                    .btn{
                        margin-left:0;
                        margin-right:0;

                        &:nth-child(1){
                            float:left;
                            width:49%;
                        }
                        &:nth-child(2){
                            float:right;
                            width:49%;
                        }

                        &:last-child{
                            width:100%;
                        }
                    }
                }
            }


        }

        @include media-breakpoint-down(md){

        }
    }

    &.popup-sblock-0202{

        .tbl-setup-list{
            th{
                color:#45484c;
                &:before{
                    background: #d4d9e1;
                }
            }

            td{
                color:#45484c;
            }
        }
    }
    &.popup-sblock-0204{

        .tbl-setup-list{
            th{
                label{
                    display: inline-block;

                    @include media-breakpoint-down($mobile){
                        width:80%;
                    }
                }
            }
            .form-control{
                width:80%;
                max-width:220px;
            }
            .selectbox{
                width:80%;
                max-width:220px;
            }

        }
    }

    &.popup-sblock-0303{
        .form-control{
            width:70%;
            max-width:220px;
        }
    }

    &.popup-sblock-0503{

        .tbl-setup-list{
            th{
                label{
                    display: inline-block;

                    @include media-breakpoint-down($mobile){
                        width:80%;
                    }
                }
            }
            .form-group{
                margin-bottom:0;
            }
            .form-control{
                width:80%;
                max-width:220px;
            }
            .selectbox{
                width:80%;
                max-width:220px;
            }

        }
    }

}