@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';

@import "common";
@import "helper";
@import "layouts";
@import "popup";
@import "components";
@import "custom_vendor";
@import "main";
@import "login";
@import "page_1";
@import "page_2";
@import "charts";
@import "daterangepicker";
@import "custom_vendor_datatables";

body{

}
// CARD TYPE Panel
.x-panel {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 5px;
    background: #343742;
    border: 1px solid #3e424d;
    margin-bottom: 30px;
    overflow:hidden;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: top;
}
.x-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #3e424d;
    padding: 0;
    margin-bottom: 0;

    h2 {
        display: block;
        height:50px;
        line-height: 50px;
        font-size:14px;
        font-weight:300;
        margin:0;
        padding-left: 20px;
        padding-right: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color:#fff;

        span, i{
            vertical-align: middle;
        }
    }


}


.panel-toolbox {
    border-left:1px solid #3e424d;

    .nav>li>a{

    }

    & > li {
        display: flex;
        align-items: center;
        min-width:50px;
        height:50px;
        line-height: 50px;

        & > a, & > button {
            &.btn-sm{
                padding: 0 10px;
            }
            &:not(.btn){
                width:100%;
                height:inherit;
                padding:0;
                line-height: inherit;
                background: transparent;
                color: #b8bfcc;
                font-size: 14px;
                text-align: center;
                border:none;
                vertical-align: top;
            }

            .i-icon{
                position: relative;
            }
            .icon-exell{
                top:-1px;
            }
            .icon-cross{
                top:-2px;
            }
            .icon-repeat{
                top: -2px;
                width:16px;
                height:18px;
                transform:rotate(0deg);
                transition:transform 0.3s;
                transform-origin: center 10px;

            }

            &:hover {
                .icon-repeat{
                    transform:rotate(90deg);
                    transition:transform 0.3s;
                }
            }
        }
    }
}

.x-content {
    position: relative;
    float: left;
    clear: both;
    padding: 15px 20px 40px;
    //padding: 15px 1.04vw;
    width: 100%;

    .updated-latest{
        padding:5px 0;
        color:#a4b0bf;
        line-height: 1;
        text-align: right;
    }

    hr{
        border-top:2px solid #3e424d;
        margin:30px -20px;
    }
}
