<template>
    <XpanelFrame class="sblock-0204" :isToolbox=true>
        <template slot="panel-title">
            장비등록관리
        </template>
        <template slot ="panel-toolbox">
            <xpanel-toolbox-exell></xpanel-toolbox-exell>
        </template>

        <template slot="panel-content">
            <data-table-header :header-link = "dtHeaderLink"></data-table-header>
            <data-table :dataOptions="dtOptions" :dataFields="dtFields" :useCheckbox = "useDtCheckbox" :useActionTag="useActionTag"></data-table>
        </template>
    </XpanelFrame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolboxExell from '@/views/layout/page-frame/dashboard-components/XpanelToolboxExell'

    import DataTableHeader from '@/views/components/datatables/DataTableHeader'
    import DataTable from '@/views/components/datatables/BasicDatatable'

    import { createNamespacedHelpers } from 'vuex'
    const { mapActions, mapGetters } = createNamespacedHelpers("datatable");


    export default {
        name: "ControlDeviceMainContent",
        props:{

        },
        data(){
            return{
                useDtCheckbox:true,
                useActionTag: true,
                dtHeaderLink:{
                    modal:{
                        modalCode:'popup-sblock-0204',
                        componentName: 'ModalControlDevice',
                        title:'장비등록'
                    }
                },
                dtOptions:{
                    ajax:{
                        url:'https://next.json-generator.com/api/json/get/4Jzw5JKGO',
                        dataSrc: (json) => {
                            let tmpArr =  [];

                            json.forEach((obj, index) =>{
                                const statusMode = `
                                   <span class="label badge label-running">RUNNING</span>`;

                                const statusAvailable = `
                                    <p class="custom-chk-sticky">
                                      <input type="checkbox" id="check-tc-s${index}" ${ obj.is_available ? 'checked' : ''}>
                                      <label for="check-tc-s${index}"><i></i><em>사용 ${ obj.is_available ? '가능' : '불가'} </em></label>
                                    </p>`;


                                tmpArr.push({
                                    id: obj.index + 1,
                                    plant: obj.plant,
                                    terrain: obj.terrain,
                                    equipment: obj.equipment,
                                    company: obj.company,
                                    datasize: (obj.datasize/1024).toFixed(1),
                                    ip: obj.ip,
                                    status_mode: statusMode,
                                    status_available: statusAvailable,
                                })
                            });

                            return tmpArr.reverse();
                        }
                    },
                    dom: 'B<".tbl-etc-left1"<".board-list-count" i>><".mwrap"t>pr',
                },
                dtFields:{
                    id: { label: 'No.', sortable: true, searchable: true, width: '8%'  },
                    plant: { label: '발전소명', sortable: true, searchable: true, width: '21%'  },
                    terrain: { label: '지역', width:'13%' },
                    equipment:{ label:'장비명', width:'13%'},
                    company:{ label:'제조사', width:'15%'},
                    datasize:{ label:'용량 (GB)', width:'9%'},
                    ip:{ label:'IP : Port', width:'10%'},
                    status_mode:{ label:'상태', width:'10%', },
                    status_available:{ label:'사용여부', width:'7%'},
                    // actions: {
                    //     isLocal: true,
                    //     label: 'Actions',
                    //     defaultContent: `
                    //                 <div>
                    //                     <button data-action="edit" class="btn btn-primary btn-sm"><i class="mdi mdi-square-edit-outline"></i> Edit</a></button>
                    //                     <span data-action="delete" class="btn btn-danger btn-sm"><i class="mdi mdi-delete"></i>Delete</span>
                    //                 </div>
                    //                `,
                    //     width:'auto'
                    // },
                },
            }
        },
        computed:{

        },

        created(){

        },
        methods:{


        },

        components:{
            XpanelFrame,
            XpanelToolboxExell,

            DataTableHeader,
            DataTable
        }
    }
</script>
