<template>
    <div class="sch-form-wrap">
        <form @submit.stop.prevent="doSearch">
            <fieldset>
                <legend>검색</legend>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="sch-txt-form" class="title">Search by : </label>
                        <input type="search" id="sch-txt-form" class="form-control" placeholder="발전소명 / 장비명 / 지역명 / 제조사" v-model="quickSearch">
                    </div>
                    <button type="submit" class="btn btn-ok-2"><i class="i-icon icon-zoom-w"></i><em>Search</em></button>
                    <button type="reset" class="btn btn-default"><i class="i-icon icon-repeat-w"></i><em>Reset</em></button>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
    export default {
        name: "ControlDeviceMiddleContent",
        data(){
            return{
                quickSearch:'',
            }
        },
        methods:{
            doSearch(){
                this.$EventBus.$emit('dataSearch', this.quickSearch)
                this.quickSearch = '';
            }
        }
    }
</script>
