<template>
    <form action="" method="post" novalidate>
        <!-- 첫번째 섹션 -->
        <fieldset class="tbl-setup-list first">
            <legend>장비등록 기본정보</legend>
            <table>
                <colgroup>
                    <col style="width:36%">
                    <col style="width:64%">
                </colgroup>
                <tbody>
                <tr>
                    <th><label for="mpc-fm-02-0401">장비분류</label></th>
                    <td>
                        <select id="mpc-fm-02-0401" class="selectbox">
                            <option>장비를 선택하세요.</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0402">장비ID</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0402" class="form-control" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0403">지역설정</label></th>
                    <td>
                        <select id="mpc-fm-02-0403" class="selectbox">
                            <option>지역을 선택하세요.</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0404">사용여부</label></th>
                    <td>
                        <select id="mpc-fm-02-0404" class="selectbox">
                            <option>사용 여부를 선택하세요.</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0405">장비명</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0405" class="form-control" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0406">제조사</label></th>
                    <td>
                        <select id="mpc-fm-02-0406" class="selectbox">
                            <option>제조사를 선택하세요.</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0407">용량</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0407" class="form-control" placeholder="ex) 250kW, 1kW">
                        <span class="sm-txt">%</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <!-- 두번째 섹션 -->
        <fieldset class="tbl-setup-list last">
            <legend>장비등록 추가 정보</legend>
            <table>
                <colgroup>
                    <col style="width:36%">
                    <col style="width:64%">
                </colgroup>
                <tbody>
                <tr>
                    <th><label for="mpc-fm-02-0411">Protocol</label></th>
                    <td>
                        <select id="mpc-fm-02-0411" class="selectbox">
                            <option value="">Modbus TCP</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0412">IP</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0412" class="form-control" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0413">Port</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0413" class="form-control" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0414">Connect Timeout</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0414" class="form-control" placeholder="">
                        <span class="sm-txt">ms</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0415">Response Timeout</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0415" class="form-control" placeholder="">
                        <span class="sm-txt">ms</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <!-- 하단 버튼 -->
        <div class="btns-group talign-center double">
            <button type="submit" class="btn btn-txt btn-ok-2"><em>Save</em></button>
            <a href="" class="btn btn-txt btn-default" data-dismiss="modal"><em>Cancel</em></a>
        </div>
    </form>
</template>

<script>
    export default {
        name: "ModalControlDevice",
        props:{
        },
        data(){
            return{

            }
        },
        created(){

        },
        mounted(){

        },
        methods:{

        },
        components:{

        }
    }
</script>