<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <XpanelFrame class="sblock-0101">
                <h2 slot="title">{{ contentMain.blockPanel1.title }}</h2>
                <ul slot="panel-toolbox" class="nav navbar-right panel-toolbox">
                    <li>

                    </li>
                </ul>

                <template slot="panel-content" class="d-none" >
                    <div class="content-wrap">
                        <div class="lft-content">
                            <div class="chart-holder">
                                <!-- 범례 -->
                                <div class="custom-data-labels label-legend">
                                    <ul class="labels-list">
                                        <li><span class="txt">태양광발전량</span></li>
                                        <li><span class="txt">충전량</span></li>
                                        <li><span class="txt">방전량</span></li>
                                    </ul>
                                </div>

                                <!--<canvas id="ctx-0101-01"></canvas>-->
                                <line-chart />
                            </div>
                        </div>

                        <div class="rgt-content">
                            <div class="present-energy-data">
                                <DoughnutChart />
                                <!--<dl class="data-list">
                                    <dt>총 태양광발전량</dt>
                                    <dd class="data">
                                        <span>9999.99</span>
                                        <span>MWh</span>
                                    </dd>
                                    <dd class="chart-holder type-doughnut">
                                        <canvas id="ctx-doughnut-1" height="10" width="10"></canvas>
                                        <div class="inner-txt"><span>86%</span></div>
                                    </dd>
                                </dl>
                                <dl class="data-list">
                                    <dt>총 충전량</dt>
                                    <dd class="data">
                                        <span>179.14</span>
                                        <span>MWh</span>
                                    </dd>
                                    <dd class="chart-holder type-doughnut">
                                        <canvas id="ctx-doughnut-2" height="10" width="10"></canvas>
                                        <div class="inner-txt"><span>73%</span></div>
                                    </dd>
                                </dl>
                                <dl class="data-list">
                                    <dt>총 방전량</dt>
                                    <dd class="data">
                                        <span>333.26</span>
                                        <span>MWh</span>
                                    </dd>
                                    <dd class="chart-holder type-doughnut">
                                        <canvas id="ctx-doughnut-3" height="10" width="10"></canvas>
                                        <div class="inner-txt"><span>72%</span></div>
                                    </dd>
                                </dl>-->
                            </div>
                        </div>

                    </div>
                </template>

            </XpanelFrame>
        </div>

    </div>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import LineChart from '@/views/components/charts/LineChart'
    import DoughnutChart from '@/views/components/charts/DoughnutChart'


    export default {
        name: "chartSample",
        props:{
            contentMain:{
                type: Object,
                required: true
            }

        },

        data () {
            return {

            }
        },
        mounted() {

        },
        methods:{

        },
        components:{
            XpanelFrame,

            LineChart,
            DoughnutChart
        }
    }
</script>