<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <XpanelFrame class="sblock-0101">
                <h2 slot="title">{{ contentMain.blockPanel1.title }}</h2>
                <ul slot="panel-toolbox" class="nav navbar-right panel-toolbox">
                    <li>

                    </li>
                </ul>

                <template slot="panel-content">
                    <div class="d-flex align-content-center">
                        <span>연도 컴포넌트</span>
                        <year-picker
                                :year="currentYear"
                                @change="changeFromYear"
                        />
                        &nbsp;&nbsp;

                        <span>연도 월 컴포넌트</span>
                        <year-month-picker
                                :yearmonth="currentYearMonth"
                                @change="changeFromYear"
                        />
                        &nbsp;&nbsp;

                        <span>년/월/일 전체 Date 컴포넌트</span>
                        <year-month-date-picker
                                :fullDate="currentFullDate"
                                @change="changeFromYear"
                        />
                    </div>
                    <div class="d-flex">
                        <span>기간 선택 Date 컴포넌트</span>
                        <div class=" form-input-calendar">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="i-icon icon-calendar"></i></span>
                            </div>
                            <year-range-date-picker
                                    :rangeDate1="rangeDate1"
                                    :rangeDate2="rangeDate2"
                                    @change="changeRange"
                            />
                        </div>
                    </div>

                </template>

            </XpanelFrame>
        </div>

    </div>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import YearPicker from '@/views/components/datepicker/YearPicker'
    import YearMonthPicker from '@/views/components/datepicker/YearMonthPicker'
    import YearMonthDatePicker from '@/views/components/datepicker/YearMonthDatePicker'
    import YearRangeDatePicker from '@/views/components/datepicker/YearRangeDatePicker'



    export default {
        name: "etcSample",
        props:{
            contentMain:{
                type: Object,
                required: true
            }

        },

        data () {
            return {
                year_from: '',
                currentYear: '',
                currentYearMonth : '',
                currentFullDate: '',
                rangeDate1:'',
                rangeDate2:'',
            }
        },
        mounted() {
            console.log('DateRangePicker11', this.moment.format())

            var d = new Date();
            var toYear = d.getFullYear();
            var getMonth = d.getMonth() + 1;
            var getDate = d.getDate();

            if(getMonth < 10) getMonth = '0' + getMonth;
            if(getDate < 10) getDate = '0' + getDate;
            var toMonthYear = d.getFullYear() +'.'+ getMonth;
            var toFullDate = d.getFullYear() + '.'+ getMonth + '.' + getDate;
            var fromYear = toYear - 1;
            this.year_from = String(fromYear); //10년 전 년도
            this.currentYear = String(toYear); //현재 년도
            this.currentYearMonth = String( toMonthYear );
            this.currentFullDate = String(toFullDate); //FullDateFormat
            var startDate =  String(fromYear) + '.'+ getMonth + '.' + (getDate + 1);
            this.rangeDate1 = startDate + ' ~ '; //FullDateFormat
            this.rangeDate2 = toFullDate; //FullDateFormat
        },
        methods:{
            changeFromYear(year) {
                console.log('parent', year)
                this.currentYear = year;
            },
            changeRange(year) {
                console.log('yyyyy', year)
                this.currentYear = year;
            }
        },
        components:{
            XpanelFrame,

            YearPicker,
            YearMonthPicker,
            YearMonthDatePicker,
            YearRangeDatePicker,


        }
    }
</script>