<template>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <XpanelFrame class="sblock-0103-01">
                <h2 slot="title">{{ contentMain.blockPanel1.title }}</h2>
                <ul slot="panel-toolbox" class="nav navbar-right panel-toolbox">
                    <li>
                        <b-button size="sm" varient="default" @click="showModal1"><em>PEBB 정보</em></b-button>
                    </li>
                </ul>

                <template slot="panel-content" >
                    <div class="updated-latest">
                        <span class="tit">최종수집일시</span>
                        <span class="sub">2017-10-23 19:22:41</span>
                    </div>
                    <div class="img-holder">
                        <img src="/assets/images/graphics/graphic_pcs_status.png" alt="pcs 현황">
                    </div>
                </template>

                <template slot="panel-content-btm">
                    <ul class="info-status">
                        <li>
                            <div class="info-status-item status-run">
                    <span class="status-tit">
                      <em>운전상태</em>
                    </span>
                                <span class="status-name">RUN</span>
                            </div>
                        </li>
                        <li>
                            <div class="info-status-item status-standby">
                    <span class="status-tit">
                      <em>충방전상태</em>
                    </span>
                                <span class="status-name">Stand-by</span>
                            </div>
                        </li>
                        <li>
                            <div class="info-status-item status-remote">
                    <span class="status-tit">
                      <em>제어모드</em>
                    </span>
                                <span class="status-name">Remote Mode</span>
                            </div>
                        </li>
                    </ul>
                </template>
            </XpanelFrame>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <XpanelFrame class="sblock-0103-02">
                <h2 slot="title">{{ contentMain.blockPanel2.title }}</h2>
                <ul slot="panel-toolbox" class="nav navbar-right panel-toolbox">
                    <li>
                        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" @click="showModal2"><em>PEBB 정보</em></a>
                    </li>
                </ul>
                <template slot="panel-content">
                    <div class="tbl-wrap">
                        <table class="table table-bordered type-data cell-txt-align-1">
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:35%">
                                <col style="width:35%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>배터리</th>
                                <th>DC링크</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>전압 (V)</td>
                                <td>425.5</td>
                                <td>411.1</td>
                            </tr>
                            <tr>
                                <td>전류 (A)</td>
                                <td>-</td>
                                <td>914.8</td>
                            </tr>
                            <tr>
                                <td>전력 (kW)</td>
                                <td>-</td>
                                <td>94.8</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
            </XpanelFrame>

            <XpanelFrame class="sblock-0103-06">
                <h2 slot="title">{{ contentMain.blockPanel3.title }}</h2>
                <template slot="panel-content">
                    <CustomScrollbar class="tbl-wrap scrollable-table">
                        <table class="table table-bordered type-data cell-txt-align-1" slot="scrollable-content" style="margin-bottom:10px;">
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:20%">
                                <col style="width:20%">
                                <col style="width:20%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>R</th>
                                <th>S</th>
                                <th>T</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>전압 (V)</td>
                                <td>425.5</td>
                                <td>411.1</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>전류 (A)</td>
                                <td>15</td>
                                <td>14.8</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>전압 (V)</td>
                                <td>425.5</td>
                                <td>411.1</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>전류 (A)</td>
                                <td>15</td>
                                <td>14.8</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>전압 (V)</td>
                                <td>425.5</td>
                                <td>411.1</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>전류 (A)</td>
                                <td>15</td>
                                <td>14.8</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>전압 (V)</td>
                                <td>425.5</td>
                                <td>411.1</td>
                                <td>422</td>
                            </tr>
                            <tr>
                                <td>전류 (A)</td>
                                <td>15</td>
                                <td>14.8</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>주파수 (H)</td>
                                <td colspan="3">599.9/0.007</td>
                            </tr>
                            <tr>
                                <td>온도 (°C)</td>
                                <td colspan="3">0</td>
                            </tr>
                            <tr>
                                <td>입력전압 (V) / 전류 (A)</td>
                                <td colspan="3">10.74</td>
                            </tr>
                            </tbody>
                        </table>
                    </CustomScrollbar>


                    <div class="tbl-wrap">
                        <table class="table table-bordered type-data cell-txt-align-1">
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:20%">
                                <col style="width:20%">
                                <col style="width:20%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>구분</th>
                                <th>최소</th>
                                <th>최대</th>
                                <th>평균</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PEBB (°C)</td>
                                <td>0</td>
                                <td>9.1</td>
                                <td>5.3</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
            </XpanelFrame>
        </div>
    </div>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import CustomScrollbar from '@/views/components/common/CustomScrollbarWrapper';

    export default {
        name: "subSample2",
        props:{
            contentMain:{
                type: Object,
                required: true
            }

        },
        data(){
            return{

            }
        },
        created(){

        },
        methods:{
            showModal1(){
              let modalContent = {
                  componentName: 'sample1',
                  contents:{
                      title:'첫번째 모달 제목',
                      blockContent:'첫뻔째 모달에 들어가는 컨테츠...'
                  }
              }

              this.$EventBus.$emit('showModalPopup', modalContent);
          },

            showModal2(){
                let modalContent = {
                    componentName: 'sample2',
                    contents:{
                        title:'두번째 모달 타이틀',
                        blockContent:'두번째 모달에 들어가는 컨테츠...'
                    }
                }

                this.$EventBus.$emit('showModalPopup', modalContent);
            }
        },
        components:{
            XpanelFrame,
            CustomScrollbar,
        }
    }
</script>

<style scoped>

</style>