<template>
    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <XpanelFrame class="sblock-0201">
                    <h2 slot="title">{{ contentMain.blockPanel1.title }}</h2>
                    <ul slot="panel-toolbox" class="nav navbar-right panel-toolbox">
                        <li>
                            <a href=""><i class="i-icon icon-exell"></i><em class="text-hide">엑셀받기</em></a>
                        </li>
                    </ul>

                    <template slot="panel-content" >
                        <div class="cap-content">
                            <div class="tbl-etc-left">
                                <div class="board-list-count">
                                    <span class="current">10</span> / <span class="total">255</span>
                                </div>
                            </div>
                            <div class="tbl-etc-right">
                                <div class="btns-group board-top-btns">
                                    <!-- 180102 팝업 호출용 타켓 속성 추가 -->
                                    <a href="#" class="btn btn-link btn-hot" data-toggle="modal" data-target="#popup-content-0201"><i class="i-icon icon-plus"></i><em>Add</em></a>
                                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#popup-content-0201"><i class="i-icon icon-edit"></i><em>Edit</em></a>
                                    <a href="#" class="btn btn-link"><i class="i-icon icon-delete"></i><em>Delete</em></a>
                                </div>
                            </div>
                        </div>

                        <div class="tbl-wrap">
                            <!-- 180102 모바일 버전  테이블 스타일 클래스 추가  mb-xscroll -->
                            <table class="table table-bordered type-data tbl-cell-hover cell-txt-align-3 mb-xscroll">
                                <colgroup>
                                    <col style="width:4%">
                                    <col style="width:8%">
                                    <col style="width:21%">
                                    <col style="width:13%">
                                    <col style="width:13%">
                                    <col style="width:15%">
                                    <col style="width:9%">
                                    <col style="width:10%">
                                    <col style="width:7%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="talign-center">
                                        <p class="custom-chk-rdo only-input">
                                            <input type="checkbox" id="check-all">
                                            <label for="check-all"><i></i><em>전체선택</em></label>
                                        </p>
                                    </th>
                                    <th>No.</th>
                                    <th>발전소명</th>
                                    <th>지역</th>
                                    <th>장비명</th>
                                    <th>
                                        <div class="align-left-right">
                                            <span class="lft">제어모드</span>
                                            <span class="rgt">
                                            <i class="i-icon icon-info"></i>
                                        </span>
                                        </div>
                                    </th>
                                    <th>SOC Limit (%)</th>
                                    <th>Active Power (kW)</th>
                                    <th class="talign-center">사용여부</th>
                                </tr>
                                </thead>

                                <tbody>
                                <!-- tr 블록 반복 -->
                                <tr>
                                    <td class="talign-center">
                                        <p class="custom-chk-rdo only-input">
                                            <input type="checkbox" id="check-tc-1">
                                            <label for="check-tc-1"><i></i><em>선택</em></label>
                                        </p>
                                    </td>
                                    <td>121000040</td>
                                    <td>진도 태양광발전소</td>
                                    <td>전남진도</td>
                                    <td><a href="" class="underline">PMS</a></td>
                                    <td>
                                        <div class="align-left-right">
                                            <span class="lft">PCS Control</span>
                                            <span class="rgt" data-toggle="tooltip" data-placement="bottom" title="9월중 충방전 스케쥴 완료">
                                            <i class="i-icon icon-info"></i>
                                        </span>
                                        </div>
                                    </td>
                                    <td>3 ~ 95</td>
                                    <td>300</td>
                                    <td class="talign-center">
                                        <p class="custom-chk-sticky">
                                            <input type="checkbox" id="check-tc-s1">
                                            <label for="check-tc-s1"><i></i><em>선택</em></label>
                                        </p>
                                    </td>
                                </tr>
                                <!-- //tr 블록 반복 -->
                                </tbody>
                            </table>
                        </div>
                    </template>
                </XpanelFrame>

                <!--<h2>{{ contentMain.blockPanel1.title }}</h2>-->
                <!--<div v-html="contentMain.blockPanel1.content"></div>-->
            </div>
        </div>

        <div class="row">
            <!--<XpanelFrame />-->
            <!--<XpanelFrame />-->
        </div>
    </div>

</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'

    export default {
        name: "subSample1",
        props:{
            contentMain:{
                type: Object,
                required: true
            }
        },
        data(){
          return{

          }
        },
        components:{
            XpanelFrame,
        }
    }
</script>

<style scoped>

</style>