<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 도움되는 콘솔 경고를 포함한 개발 버전 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <anchored-heading :level="1">my-----jong jin!</anchored-heading>

    <roop>
        <p slot="foo">
            first
        </p>
        <p>papapapapdoooo </p>


        <!--<ul v-if="items.length">-->
        <!--<li v-for="item in items">{{ item.name }}</li>-->
        <!--</ul>-->
        <!--<p v-else>No items found.</p>-->
    </roop>

    <!-- 자식 컴포넌트 사용 -->
    <div>
        <child-component>
            <template slot-scope="scopeProps">
                {{ scopeProps.message }}
            </template>
        </child-component>
    </div>

    <tab-example/>

</div>

<script>
    var getChildrenTextContent = function (children) {
        return children.map(function (node) {
            return node.children
                ? getChildrenTextContent(node.children)
                : node.text
        }).join('')
    }

    Vue.component('anchored-heading', {
        render: function (createElement) {
            // kebabCase id를 만듭니다.
            var headingId = getChildrenTextContent(this.$slots.default)
                .toLowerCase()
                .replace(/\W+/g, '-')
                .replace(/(^\-|\-$)/g, '')

            return createElement(
                'h' + this.level,
                // Array.apply(null, {length:20}).map(()=>{
                //     return createElement('p','hi!!!!')
                // }),
                [
                    createElement('a', {
                        attrs: {
                            name: headingId,
                            href: '#' + headingId
                        }
                    }, this.$slots.default)
                ]
            )
        },
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })

    Vue.component('roop', {
        data() {
            return {
                msg: 'slot-----data',
                items: [
                    {name: '이름1'},
                    {name: '이름2'},
                    {name: '이름3'},
                    {name: '이름4'}
                ]
            }
        },
        render(createElement) {
            if (this.items.length) {
                return createElement('ul', this.items.map((item) => {
                    return createElement('li', item.name)
                }))
            } else {
                //return createElement('div', this.$slots.default)
                console.log(this.$slots.default);
                return createElement('div', [
                    this.$scopedSlots.default({
                        text: this.msg
                    })
                ])
            }
        }
    })

    //부모 컴포넌트
    Vue.component('parent',{
        template:`
            <input type="text" v-model="world" placeholder="이름.." />
            <child>
                <span slot="hello">안녕, </span>
                <span slot="world">{{world}}</span>
                <div>
                    <button @click="helloworld()">눌러보세요!</button>
                </div>
            </child>
        `,
        data(){
            return {
                world: ''
            }
        },
        methods: {
            helloworld () {
                alert('입력한 내용은 ' + this.world);
            }
        },
    });

    Vue.component('child-component', {
        template: `
               <div>
                 <h1>Child Component</h1>
                 <slot :message="message"></slot>
               </div>
              `,
        data(){
            return{
                message: 'Hello1'
            }
        }
    });


    // tab components
    Vue.component('tab-example', {
        data() {
            return {
                activeIndex: 0,
                items: [{
                    'button': 'tab01',
                    'contents': 'tab01 contents'
                }, {
                    'button': 'tab02',
                    'contents': 'tab02 contents'
                }, {
                    'button': 'tab03',
                    'contents': 'tab03 contents'
                }]
            }
        },
        render(createElement) {
            return createElement(
                'div', {
                    attrs: {
                        'class': 'module_tab',
                        'id': 'tab',
                        'data-module-tab': 'wrap'
                    }
                }, [
                    createElement(
                        'ul', [
                            createElement(
                                'li', {
                                    attrs: {
                                        'class': 'on'
                                    }
                                }, [
                                    createElement(
                                        'button', {
                                            attrs: {
                                                'type': 'button'
                                            }
                                        }, [
                                            createElement(
                                                'span', [this.items[0]['button']]
                                            )
                                        ]
                                    ),
                                    createElement(
                                        'div', {
                                            attrs: {
                                                'class': 'module_tab__contents'
                                            }
                                        }, [this.items[0]['contents']]
                                    )
                                ]
                            ),
                            createElement(
                                'li', [
                                    createElement(
                                        'button', {
                                            attrs: {
                                                'type': 'button'
                                            }
                                        }, [
                                            createElement(
                                                'span', [this.items[1]['button']]
                                            )
                                        ]
                                    ),
                                    createElement(
                                        'div', {
                                            attrs: {
                                                'class': 'module_tab__contents'
                                            }
                                        }, [this.items[1]['contents']]
                                    )
                                ]
                            ),
                            createElement(
                                'li', [
                                    createElement(
                                        'button', {
                                            attrs: {
                                                'type': 'button'
                                            }
                                        }, [
                                            createElement(
                                                'span', [this.items[2]['button']]
                                            )
                                        ]
                                    ),
                                    createElement(
                                        'div', {
                                            attrs: {
                                                'class': 'module_tab__contents'
                                            }
                                        }, [this.items[2]['contents']]
                                    )
                                ]
                            )
                        ]
                    )
                ]
            )
        }
    });

    var app = new Vue({
        el: '#app',
        data:{
            message: 'Hello'
        }
    })
</script>
</body>
</html>