<template>
    <div class="tbl-wrap">
        <table class="table" :class="tableTypeClass">
            <colgroup v-html="cols"></colgroup>
            <thead>
            <slot name="thead-cell"></slot>
            </thead>
            <tbody>
            <slot name="tbody-cell"></slot>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "BaseTable",
        props: ['tablestyle', 'colwidth', 'cellalign'],
        data() {
            return {
                defOptions: {
                    tableType: {
                        underline: 'table-cell-underline',
                        bordered: 'table-bordered',
                        data: 'type-data'
                    },
                    cellAlign: {
                        align1: 'cell-txt-align-1',
                        align2: 'cell-txt-align-2',
                        align3: 'cell-txt-align-3'
                    }
                },

                cols: '',
                tableTypeClass: '',

            }
        },
        created() {
            this.setColWidth();
            this.setStyle();
        },
        methods: {
            setColWidth() {
                let tmp = '';
                this.colwidth.forEach((col) => {
                    tmp += `<col width = ${col}>`;
                });

                this.cols = tmp;
            },

            setStyle() {
                let tmpClass = this.tablestyle.split(',');
                this.tableTypeClass = tmpClass.map((item) => {
                    return this.defOptions.tableType[item.trim()];
                });

                this.tableTypeClass.push(this.defOptions.cellAlign[this.cellalign]);
            }
        }
    }
</script>
