<template>
    <b-row>
        <b-col cols="12">
            <block-main-content-component></block-main-content-component>
        </b-col>
    </b-row>
</template>

<script>
    import BlockMainContentComponent from './section-status-energy/StatusEnergyContentMain'
    export default {
        name: "StatusEnergyFrameComponent",
        props:{

        },

        data () {
            return {

            }
        },
        mounted() {

        },
        methods:{

        },

        components:{
            BlockMainContentComponent
        }
    }
</script>