<template>
    <div>
        <h1 class="sr-only">태양광발전소 데이터 메인</h1>

        <main-top-summary-content></main-top-summary-content>

        <global-component></global-component>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <status-system></status-system>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <status-energy></status-energy>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <status-equipment></status-equipment>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <status-pcs></status-pcs>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <status-bms></status-bms>
            </div>
        </div>
    </div>
</template>

<script>
    import MainTopSummaryContent from './section-top-summary/SummaryContentMain'

    import StatusSystem from './xpanel-contents/XpanelStatusSystem'
    import StatusEnergy from './xpanel-contents/XpanelStatusEnergy'
    import StatusEquipment from './xpanel-contents/XpanelStatusEquipment'
    import StatusPcs from './xpanel-contents/XpanelStatusPcs'
    import StatusBms from './xpanel-contents/XpanelStatusBms'

    export default {
        name: "MainPageContent",
        props:['pageContents'],
        components:{
            MainTopSummaryContent,

            StatusSystem,
            StatusEnergy,
            StatusEquipment,
            StatusPcs,
            StatusBms
        }
    }
</script>