<template>
    <div id="weather-content" class="navbar-weather">
        <div class="inner">
            <canvas id="rain" class="skycon" width="40" height="40"></canvas><!-- id값을 통해 아이콘 제어 -->
            <span class="temper"><em>23</em>°C</span>
            <span class="date"><em>2017-09-25, 07:30</em></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TodayWeather"
    }
</script>
