<template>
    <div>
        <b-row>
            <b-col cols="8" xs="12">
                <block-main-content-component></block-main-content-component>
            </b-col>
            <b-col cols="4" xs="12">
                <block-battery-info-content></block-battery-info-content>
                <block-main-content-component></block-main-content-component>
            </b-col>
        </b-row>

        <b-row>
            <b-col cols="4" xs="12">
                <block-main-content-component></block-main-content-component>
            </b-col>
            <b-col cols="4" xs="12">
                <block-main-content-component></block-main-content-component>
            </b-col>
            <b-col cols="4" xs="12">
                <block-main-content-component></block-main-content-component>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import BlockMainContentComponent from './section-status-pcs/StatusPcsContentMain'
    import BlockBatteryInfoContent from './section-status-pcs/StatusPcsContentBatteryInfo'

    export default {
        name: "StatusPcsFrameComponent",
        components:{
            BlockMainContentComponent,
            BlockBatteryInfoContent
        },
        props:{
        },
        data () {
            return {

            }
        },
        mounted() {

        },
        methods:{

        },

    }
</script>