<template>
    <XpanelFrame class="sblock-0103-01" :isToolbox=true>
        <template slot="panel-title">
            PCS현황
        </template>
        <template slot ="panel-toolbox">
            <xpanel-toolbox>
                 <button>버튼</button>
            </xpanel-toolbox>
        </template>

        <template slot="panel-content">
            본문 내용......
            어쩌다가 저쩌다가 한글이 잘 써지나 안써지나
            
        </template>
    </XpanelFrame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolbox from '@/views/layout/page-frame/dashboard-components/XpanelToolbox'


    export default {
        name: "statusPcsMainContent",
        props:{

        },
        data(){
            return{

            }
        },
        methods:{

        },
        components:{
            XpanelFrame,
            XpanelToolbox,


        }
    }
</script>
