<template>
    <XpanelFrame class="sblock-0103-02" :isToolbox=false>
        <template slot="panel-title">
            배터리 정보
        </template>

        <template slot="panel-content">
            <component-table :tablestyle="'data, bordered'" :cellalign="'align1'" :colwidth="['30%','35%', '35%']">
                <template #thead-cell>
                    <tr>
                        <th>구분</th>
                        <th>배터리</th>
                        <th>DC링크</th>
                    </tr>
                </template>
                <template #tbody-cell>
                    <tr v-for = "(item, index) in tableData" :key="index">
                        <td>{{ item.title }}</td>
                        <td>{{ item.value1 }}</td>
                        <td>{{ item.value2 }}</td>
                    </tr>
                </template>
            </component-table>
        </template>
    </XpanelFrame>
</template>

<script>
    import { PAGE_COMPONENT_DATA, CHART_STYLE } from '@/common/GlobalConstant';
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'

    import ComponentTable from '@/views/components/tables/BaseTable';

    export default {
        name: "StatusPcsContentBatteryInfo",
        props:{

        },
        components:{
            XpanelFrame,
            ComponentTable

        },
        data(){
            return{
                tableData:[
                    {
                        title:'전압 (V)',
                        value1:'425.5',
                        value2:'411.1'
                    },
                    {
                        title:'전류 (A)',
                        value1:'-',
                        value2:'914.8'
                    },
                    {
                        title:'전력 (kW)',
                        value1:'-',
                        value2:'94.8'
                    }
                ]
            }
        },
        methods:{

        },

    }
</script>
