<template>
    <XpanelFrame class="sblock-0201" :isToolbox=true>
        <template slot="panel-title">
            충·방전 제어 목록
        </template>
        <template slot ="panel-toolbox">
            <xpanel-toolbox-exell></xpanel-toolbox-exell>
        </template>

        <template slot="panel-content">
            <!--<button @click="changeValue">{{ originalPrice }}</button>
            <button>{{ doublePrice }}</button>
            <button>{{ triplePrice }}</button>

            <h2>State Test:: {{ $store.state.datatable.datatableGap }} </h2>-->


            <data-table-header :header-link = "dtHeaderLink"></data-table-header>
            <data-table ref="table" :dataOptions="dtOptions" :dataFields="dtFields" :useCheckbox = "useDtCheckbox" :useActionTag="useActionTag"></data-table>
        </template>
    </XpanelFrame>
</template>

<script>
    import { EventBus } from "@/common/EventBus"
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolboxExell from '@/views/layout/page-frame/dashboard-components/XpanelToolboxExell'

    import DataTableHeader from '@/views/components/datatables/DataTableHeader'
    import DataTable from '@/views/components/datatables/BasicDatatable'

    import { createNamespacedHelpers } from 'vuex'
    const { mapActions, mapGetters } = createNamespacedHelpers("datatable");


    const axios = require('axios');
    const getData = () =>{
        try {
            return axios.get('https://my-json-server.typicode.com/jongjin7/demo/posts');
        } catch (error) {
            console.error(error)
        }
    }


    export default {
        name: "ControlChangeMainContent",
        props:{

        },
        data(){
            return{
                useDtCheckbox:true,
                useActionTag: true,
                dtHeaderLink:{
                    modal:{
                        modalCode:'popup-sblock-0201',
                        componentName: 'ModalControlChange',
                        title:'충·방전 제어 설정'
                    }
                },

                dtOptions:{
                    ajax:{
                        url:'https://my-json-server.typicode.com/jongjin7/demo/system_control',
                        dataSrc: (json) => {
                            let tmpArr =  [];
                            console.log('json', json)

                            json.forEach((obj, index) =>{
                                const controlMode = `
                                    <div class="align-left-right">
                                      <span class="lft">PCS Control</span>
                                      <span class="rgt" title="9월중 충방전 스케쥴 완료">
                                        <i class="i-icon icon-info"></i>
                                      </span>
                                    </div>`;

                                const statusAvailable = `
                                    <p class="custom-chk-sticky">
                                      <input type="checkbox" id="check-tc-s${index}" ${ obj.is_available ? 'checked' : ''}>
                                      <label for="check-tc-s${index}"><i></i><em>사용 ${ obj.is_available ? '가능' : '불가'} </em></label>
                                    </p>`;

                                const limitValue = obj.soc_limit.split(',').sort(function(a, b) {
                                    return a-b;
                                }).join('~');

                                tmpArr.push({
                                    id: obj.index + 1,
                                    plant: obj.plant,
                                    terrain: obj.terrain,
                                    equipment: obj.equipment,
                                    control_mode: controlMode,
                                    soc_limit: limitValue,
                                    active_power: obj.active_power,
                                    status_available: statusAvailable,
                                })
                            });

                            //console.log('1tmpArr', tmpArr)
                            return tmpArr.reverse();
                        }
                    },
                    dom: 'B<".tbl-etc-left1"<".board-list-count" i>><".mwrap"t>pr',
                },
                dtFields:{
                    id: { label: 'No.', sortable: true, searchable: true, width: '8%'  },
                    plant: { label: '발전소명', sortable: true, searchable: true, width: ''  },
                    terrain: { label: '지역', width:'13%' },
                    equipment:{ label:'장비명', width:'13%'},
                    control_mode:{ label:'제어모드', width:'15%'},
                    soc_limit:{ label:'SOC Limit (%)', width:'9%'},
                    active_power:{ label:'Active Power (kW)', width:'10%'},
                    status_available:{ label:'사용여부', width:'7%'},

                },
            }
        },
        computed:{
            //...mapGetters(['originalPrice', 'doublePrice', 'triplePrice'] )

            originalPrice() {
                return this.$store.getters.rootGetterGap;
            },
            doublePrice() {
                return this.$store.getters['datatable/doublePrice'];
            },

            ...mapGetters(['triplePrice'])

        },

        created(){
            this.testStoreAction();

            //root actions
            this.$store.dispatch('rootAction');




            EventBus.$on('deleteData', this.deleteData)


            console.log('aaaa', this.dtOptions, this.dtFields)



        },
        methods:{
            ...mapActions(['testStoreAction', 'storeChangeValue']),

            changeValue(){
                this.storeChangeValue();
            },

            createNewData(){
                console.log('createNewData!!!')
            },

            deleteData(){
                console.log('deleteData!!!')
            },

            fetchData(){

            }

        },

        components:{
            XpanelFrame,
            XpanelToolboxExell,

            DataTableHeader,
            DataTable
        }
    }
</script>
