<template>
    <form action="" method="post" novalidate>
        <fieldset class="tbl-setup-list first">
            <legend>충·방전 제어 설정 폼</legend>
            <table>
                <tbody>
                <tr>
                    <th><label for="mpc-fm-02-0101">사용자 지역</label></th>
                    <td>
                        <select id="mpc-fm-02-0101" class="selectbox">
                            <option>지역 선택</option>
                            <option value="">진도 태양광발전소</option>
                            <option value="">@@ 태양광발전소1</option>
                            <option value="">@@ 태양광발전소2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0102">장비명</label></th>
                    <td>
                        <select id="mpc-fm-02-0102" class="selectbox">
                            <option>장비 선택</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0103">장비설명</label></th>
                    <td>
                        <textarea id="mpc-fm-02-0103" class="form-control" name="message"></textarea>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0104">사용여부</label></th>
                    <td>
                        <select id="mpc-fm-02-0104" class="selectbox">
                            <option>사용 여부를 선택하세요</option>
                            <option value="">옵션1</option>
                            <option value="">옵션2</option>
                            <option value="">옵션3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0105">Active Power</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0105" class="form-control">
                        <span class="sm-txt">kW</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                <tr>
                    <th><label for="mpc-fm-02-0106">충전한계</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0106" class="form-control">
                        <span class="sm-txt">%</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="mpc-fm-02-0107">발전한계</label></th>
                    <td>
                        <input type="text" id="mpc-fm-02-0107" class="form-control">
                        <span class="sm-txt">%</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <fieldset class="tbl-setup-list second none-border">
            <legend>시간 설정 폼</legend>
            <table>
                <tbody>
                <tr>
                    <th><label for="mpc-fm-02-0111">시간 설정</label></th>
                    <td class="talign-right">
                        <select id="mpc-fm-02-0111" class="selectbox">
                            <option value="">Manual Discharge Mode</option>
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="set-time-calendar">
                            <div class="calendar-body">
                                <div class="set-calendar">
                                    <div class="tbl-calendar">
                                        <date-range-picker class="form-input-calendar" :options="datePickerOptions"></date-range-picker>
                                    </div>
                                </div>
                                <div class="set-today">
                                    <div class="inner-wrap">
                                        <p class="tit-today">25일, 화요일</p>
                                        <div class="ctrl-set-mode">
                                            <ul>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>01:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0101" name="stoday-n01">
                                                            <label for="stoday-0101">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0102" name="stoday-n01">
                                                            <label for="stoday-0102">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>02:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0201" name="stoday-n02">
                                                            <label for="stoday-0201">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0202" name="stoday-n02">
                                                            <label for="stoday-0202">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>03:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0301" name="stoday-n03">
                                                            <label for="stoday-0301">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0302" name="stoday-n03">
                                                            <label for="stoday-0302">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>04:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0401" name="stoday-n04">
                                                            <label for="stoday-0401">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0402" name="stoday-n04">
                                                            <label for="stoday-0402">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>05:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0501" name="stoday-n05">
                                                            <label for="stoday-0501">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0502" name="stoday-n05">
                                                            <label for="stoday-0502">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>06:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0601" name="stoday-n06">
                                                            <label for="stoday-0601">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0602" name="stoday-n06">
                                                            <label for="stoday-0602">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>07:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0701" name="stoday-n07">
                                                            <label for="stoday-0701">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0702" name="stoday-n07">
                                                            <label for="stoday-0702">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>08:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0801" name="stoday-n08">
                                                            <label for="stoday-0801">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0802" name="stoday-n08">
                                                            <label for="stoday-0802">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>09:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0901" name="stoday-n09">
                                                            <label for="stoday-0901">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-0902" name="stoday-n09">
                                                            <label for="stoday-0902">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>10:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1001" name="stoday-n10">
                                                            <label for="stoday-1001">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1002" name="stoday-n10">
                                                            <label for="stoday-1002">방전</label>
                                                        </p>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>11:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1101" name="stoday-n11">
                                                            <label for="stoday-1101">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1102" name="stoday-n11">
                                                            <label for="stoday-1102">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>12:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1201" name="stoday-n12">
                                                            <label for="stoday-1201">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1202" name="stoday-n12">
                                                            <label for="stoday-1202">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>13:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1301" name="stoday-n13">
                                                            <label for="stoday-1301">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1302" name="stoday-n13">
                                                            <label for="stoday-1302">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>14:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1401" name="stoday-n14">
                                                            <label for="stoday-1401">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1402" name="stoday-n14">
                                                            <label for="stoday-1402">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>15:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1501" name="stoday-n15">
                                                            <label for="stoday-1501">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1502" name="stoday-n15">
                                                            <label for="stoday-1502">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>16:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1601" name="stoday-n16">
                                                            <label for="stoday-1601">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1602" name="stoday-n16">
                                                            <label for="stoday-1602">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>17:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1701" name="stoday-n17">
                                                            <label for="stoday-1701">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1702" name="stoday-n17">
                                                            <label for="stoday-1702">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>18:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1801" name="stoday-n18">
                                                            <label for="stoday-1801">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1802" name="stoday-n18">
                                                            <label for="stoday-1802">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>19:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1901" name="stoday-n19">
                                                            <label for="stoday-1901">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-1902" name="stoday-n19">
                                                            <label for="stoday-1902">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>20:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2001" name="stoday-n20">
                                                            <label for="stoday-2001">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2002" name="stoday-n20">
                                                            <label for="stoday-2002">방전</label>
                                                        </p>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>21:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2101" name="stoday-n21">
                                                            <label for="stoday-2101">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2102" name="stoday-n21">
                                                            <label for="stoday-2102">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>22:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2201" name="stoday-n22">
                                                            <label for="stoday-2201">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2202" name="stoday-n22">
                                                            <label for="stoday-2202">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>23:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2301" name="stoday-n23">
                                                            <label for="stoday-2301">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2302" name="stoday-n23">
                                                            <label for="stoday-2302">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                      <span class="time-bars">
                                        <em class="bar"></em>
                                      </span>
                                                        <span class="time"><em>24:00</em></span>
                                                    </div>
                                                    <div class="btns">
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2401" name="stoday-n24">
                                                            <label for="stoday-2401">충전</label>
                                                        </p>
                                                        <p class="btn-toggle">
                                                            <input type="radio" id="stoday-2402" name="stoday-n24">
                                                            <label for="stoday-2402">방전</label>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time-wrap">
                                                        <span class="time"><em>01:00</em></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calendar-foot btns-group double">
                                <button type="button" class="btn btn-white"><i class="i-icon icon-docu-1"></i><em>해당 일 적용</em></button>
                                <button type="button" class="btn btn-white"><i class="i-icon icon-docu-2"></i><em>해당 월 전체 적용</em></button>
                                <button type="button" class="btn btn-white"><i class="i-icon icon-docu-3"></i><em>해당 년 전체 적용</em></button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <!-- 하단 버튼 -->
        <div class="btns-group talign-center double">
            <button type="submit" class="btn btn-txt btn-ok-2"><em>Save</em></button>
            <a href="" class="btn btn-txt btn-default" data-dismiss="modal"><em>Cancel</em></a>
        </div>
    </form>
</template>

<script>
    import DateRangePicker from '@/views/components/common/DateRangePicker'
    export default {
        name: "ModalControlChange",
        props:{
        },
        data(){
            return{
                datePickerOptions:{
                    inline: true,
                    noHeader: true,
                    noShortcuts: true,
                },
            }
        },
        created(){

        },
        mounted(){
            // 상태 class : li태그에 추가
            // 1. 충전 charge
            // 2. 방전 discharge

            $('.ctrl-set-mode .btn-toggle input').click(function(){
                var btnIdx = $(this).parent().index(); //현재 클릭된 버튼의 인덱스
                var currentTimeRange = $(this).closest('li'); //클릭된 버튼이 포함된 시간대의 엘리먼트(li태)
                //console.log('현재 클릭된 버튼의 인덱스:'+ btnIdx, '현재 선택된 li태그', currentTimeRange );


                if($(this).hasClass('on')){
                    console.log('활성버튼')
                    $(this).closest('.btns').find('input').removeClass('on');
                    $(this).prop('checked', false);
                    if(btnIdx == 0){
                        currentTimeRange.removeClass('charge');
                    }else if(btnIdx == 1){
                        currentTimeRange.removeClass('discharge');
                    }
                }else{
                    console.log('비활성버튼')
                    $(this).closest('.btns').find('input').removeClass('on');
                    $(this).addClass('on');
                    //bar 컬러타입 적용
                    if(btnIdx == 0){
                        currentTimeRange.removeClass('charge discharge').addClass('charge');
                    }else if(btnIdx == 1){
                        currentTimeRange.removeClass('charge discharge').addClass('discharge');
                    }
                }

            })
        },
        methods:{
            saveData(){
                console.log('데이터 저장완료')
                this.$emit('closeModalPop');
            }
        },
        components:{
            DateRangePicker
        }
    }
</script>