<template>
    <div>
        <!-- Using the VdtnetTable component -->
        <vdtnet-table
                ref="table"
                :fields="mergedFields"
                :opts="options"
                :select-checkbox="selectCheckbox"
                :containerClassName="'tbl-wrap'"
                :className="`table table-bordered type-data tbl-cell-hover cell-txt-align-3 mb-xscroll ${useActionTag? hasEditAction : ''}`"

                @edit="doAlertEdit"
                @delete="doAlertDelete"
                @reloaded="doAfterReload"
                @table-creating="doCreating"
                @table-created="doCreated"
        >
            <template slot="HEAD_description">
                <h1>desc</h1>
            </template>

            <!--<template-->
                    <!--slot="address"-->
                    <!--slot-scope="ctx"-->
            <!--&gt;-->
                <!--<span>{{ ctx.data.city }} </span>-->
            <!--</template>-->

            <!--<template-->
                    <!--slot="_details"-->
                    <!--slot-scope="ctx"-->
            <!--&gt;-->
                <!--<strong>I'm a child for {{ ctx.data.id }} yall</strong>-->
            <!--</template>-->
        </vdtnet-table>
    </div>
</template>

<script>
    // this demonstrate with buttons and responsive master/details row
    //import VdtnetTable from 'vue-datatables-net'
    import { EventBus } from "@/common/EventBus"
    import VdtnetTable from './VdtnetTable'

    import 'datatables.net-bs4'

    // import buttons and plugins
    import 'datatables.net-buttons/js/dataTables.buttons.js'
    import 'datatables.net-buttons/js/buttons.html5.js'
    import 'datatables.net-buttons/js/buttons.print.js'

    // import the rest
    import 'datatables.net-buttons-bs4'
    import 'datatables.net-select-bs4'

    import 'datatables.net-select-bs4/css/select.bootstrap4.min.css'
    import 'datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'

    let temp = 'myValue';


    export default {
        name: 'BasicTables',
        components: { VdtnetTable },
        props:{
            dataOptions:{
                type: Object,
                required: true
            },
            dataFields:{
                type: Object,
                required: true
            },
            useCheckbox: Boolean,
            useActionTag: {
                type: Boolean,
                required: true
            },
        },
        data() {
            const defFields = {

            };

            return {
                counter: 0,
                dataTable:'',
                selectCheckbox:'',
                isEditMode: false,
                mergedFields:null,
                hasEditAction:'has-edit-btn',
                options: {
                    // ajax: {
                    //     url:'https://my-json-server.typicode.com/jongjin7/demo/posts',
                    //     dataSrc: (json) => {
                    //
                    //     }
                    // },
                    buttons: ['copy', 'csv', 'print'],
                    /*eslint-disable */
                    dom: 'B<".tbl-etc-left"<".board-list-count" i>><".mwrap"t>pr',
                    /*eslint-enable */
                    responsive: true,
                    processing: false,
                    searching: true,
                    searchDelay: 1500,
                    destroy: true,
                    ordering: true,
                    lengthChange: true,
                    //serverSide: true,
                    fixedHeader: true,
                    saveState: true,
                    pageLength: 10,
                },

                fields:{
                    actions:{
                        isLocal: true,
                        label: 'Actions',
                        defaultContent: `
                                    <div class="btn-actions">
                                        <button data-action="edit" class="btn-primary badge"><i class="mdi mdi-square-edit-outline"></i> Edit</a></button>
                                        <button data-action="delete" class="btn-danger badge"><i class="mdi mdi-delete"></i>Delete</button>
                                    </div>
                                   `,
                        width:'10%',
                        visible: true
                    }
                },
                quickSearch: '',
                details: {},
                tableInfo:'',
            }
        },
        computed:{
            jq() {
                console.log('thisJq', this.jquery || window.jQuery)
                return this.jquery || window.jQuery
            },
        },
        created(){
            this.$EventBus.$on('dataSearch', this.doSearch);

            this.options = {...this.options, ...this.dataOptions };

            this.fields.actions.visible = this.useActionTag;
            console.log('before Fields', this.useActionTag, this.fields)
            this.mergedFields = {...this.fields, ...this.dataFields};

            console.log('after Merge Fields', this.mergedFields)


            if(typeof this.useCheckbox === 'boolean'){
                this.selectCheckbox = this.useCheckbox ? 1 : 0;
            }else{
                this.selectCheckbox = typeof this.useCheckbox === 'number' ? this.useCheckbox : alert('wrong data!');
            }

            EventBus.$on('reloadData', this.reloadedData)

            EventBus.$on('changeEditMode', this.changeEditMode)


            setInterval(() => {
                this.counter++
            }, 1000)

        },
        mounted(){
            //this.tableInfo = document.querySelector('.custom-chk-sticky');
            this.dataTable = this.$refs.table.$refs.table;
            const parms = this.$refs.table.$refs.table.tBodies[0];


            $(parms).on('click', 'label', (e)=> console.log('el', $(e.currentTarget).parent().find('input').prop('checked')))

        },

        beforeUpdate() {
            console.log('updateBefore',this.counter) // Logs the counter value every second, before the DOM updates.
        },

        updated() {
            // Fired every second, should always be true
            console.log('update!', this.counter)
        },

        methods: {

            changeEditMode(){
                console.log('editData!!!')

                this.isEditMode = !this.isEditMode;
                this.showEditDeleteCell();

            },
            showEditDeleteCell(){
                console.log('this.isEditMode', this.isEditMode)

                if(this.isEditMode){
                    $(this.dataTable).find('.select-checkbox').css('display', 'table-cell');
                    $(this.dataTable).find('[aria-label=Actions]').css('display', 'table-cell');
                    $(this.dataTable).find('.btn-actions').parent().css('display', 'table-cell');
                    //this.isEditMode = true;
                }else{
                    $(this.dataTable).find('.select-checkbox').css('display', 'none');
                    $(this.dataTable).find('[aria-label=Actions]').css('display', 'none');
                    $(this.dataTable).find('.btn-actions').parent().css('display', 'none');
                    //this.isEditMode = false;
                }

            },

            doAlertEdit(data) {
                window.alert(`row edit click for item ID: ${data.id}`)
            },
            doAlertDelete(data, row, tr, target) {
                window.alert(`deleting item ID: ${data.id}`)

                // row.remove() doesn't work when serverside is enabled
                // so we fake it with dom remove
                tr.remove()

                const table = this.$refs.table
                setTimeout(() => {
                    // simulate extra long running ajax
                    table.reload()
                }, 1500)
            },
            doAfterReload(data, table) {

                window.alert('data reloaded')
            },
            doCreating(comp, el) {
                console.log('creating')
            },
            doCreated(comp) {
                console.log('created', comp)

                comp.dataTable.on( 'order.dt',  function () {

                    //eventFired( 'Order' );
                } )
            },

            doSearch($keyword) {
                console.log('doSearch!!!', $keyword)
                this.$refs.table.search($keyword)
                console.log('this', this.$refs.table.dataTable.page.info())
            },

            reloadedData($payload){
                const table = this.$refs.table;
                setTimeout(() => {
                    console.log('basic data-table reloaded!!!!');
                    table.reload()
                }, 1500)
            },
            doExport(type) {
                const parms = this.$refs.table.getServerParams()
                parms.export = type
                window.alert('GET /api/v1/export?' + jQuery.param(parms))
            },
            formatCode(zipcode) {
                return zipcode.split('-')[0]
            }
        }
    }
</script>

