<template>
    <div class="cap-content">
        <!--<div class="tbl-etc-left">
            <div class="board-list-count">
                <span class="current">10</span> / <span class="total">255</span>
            </div>
        </div>-->
        <div class="tbl-etc-right data-tbl-action-buttons">
            <div class="btns-group board-top-btns">
                <button class="btn btn-link" @click="deleteDataAll" v-if="isEditMode"><i class="i-icon icon-delete"></i><em>Delete All</em></button>
                <button class="btn btn-link btn-hot" @click="showModal"><i class="i-icon icon-plus"></i><em>Add</em></button>
                <button class="btn btn-link" @click="editDataTable"><i class="i-icon icon-edit"></i><em>Edit</em></button>

            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from "@/common/EventBus"

    export default {
        name: "DataTableHeader",
        props:[
            'headerLink'
        ],
        data(){
            return{
                isEditMode: false,
            }
        },
        methods:{
            showModal(){
                let modalContent = {
                    modalCode: this.headerLink.modal.modalCode,
                    componentName: this.headerLink.modal.componentName,
                    title:this.headerLink.modal.title
                }

                EventBus.$emit('showModalPopup', modalContent);

                //EventBus.sendNewData();
            },

            editDataTable(){
                this.isEditMode = !this.isEditMode;
                EventBus.toggleEditMode();
            },

            deleteDataAll(){
                EventBus.$emit('deleteData');
            }
        }
    }
</script>
