<template>
    <!-- 알람 카운트 드롭다운 메뉴 컨텐츠 -->
    <b-card no-body class="alarm-content-wrap">
        <b-tabs card>
            <b-tab active>
                <template v-slot:title>
                    <!--<b-spinner type="grow" small></b-spinner>-->
                    <span>알람 리스트</span>
                    <b-badge variant="hot">99</b-badge>
                </template>

                <div class="alarm-list-content">
                    <h2 class="sr-only">알람 항목</h2>
                    <div class="scrolling">
                        <ul class="alarm-list">
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-alert">
                                        <!-- todo 상태 클래스
                                         .sta-alert
                                         .sta-warning
                                         .sta-normal
                                         -->
                                        <span class="label-status">
                              <i class="i-icon icon-sq-w"></i>
                                            <!-- todo 아이콘 구분
                                              .icon-sq-w
                                              .icon-bt-w
                                            -->
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[PCS] AC과전류 확인필요 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-warning"> <!-- 상태 클래스 -->
                                        <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[BMS] 통신장애 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-normal"> <!-- 상태 클래스 -->
                                        <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[PCS] AC과전류 정상 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-normal"> <!-- 상태 클래스 -->
                                        <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[PCS] AC과전류 정상 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-alert"> <!-- 상태 클래스 -->
                                        <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[PCS] AC과전류 확인 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                            <li>
                                <div class="bnt-alarm-list">
                                    <div class="status-icon sta-normal"> <!-- 상태 클래스 -->
                                        <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                    </div>
                                    <div class="status-desc">
                                        <span class="txt summary">[BMS] 마지막 통신장애 상태입니다.</span>
                                        <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                    </div>
                                    <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- 전체 리스트 삭제 버튼 -->
                    <div class="delete-all-btn-area">
                        <button type="button" class="btn-delete-all">
                            <em class ="icon-list-del"></em>
                            <em class="txt">전체 리스트 삭제</em>
                        </button>
                    </div>
                </div>
            </b-tab>
            <b-tab title="알람옵션 설정">
                <b-card no-body class="alarm-setting-content">
                    <b-tabs card>
                        <b-tab title="PCS" active class="aaaa">
                            <div class="inner-wrap">
                                <h3>PCS 알람 설정</h3>
                                <div class="tbl-wrap">
                                    <table class="table table-cell-underline">
                                        <colgroup>
                                            <col width="60%">
                                            <col width="40%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th class="bul">AC과전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s1" checked>
                                                    <label for="alcheck-tb1-s1"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">AC과전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s2">
                                                    <label for="alcheck-tb1-s2"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">AC저전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s3">
                                                    <label for="alcheck-tb1-s3"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC과전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s4">
                                                    <label for="alcheck-tb1-s4"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC과전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s5">
                                                    <label for="alcheck-tb1-s5"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC저전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s6">
                                                    <label for="alcheck-tb1-s6"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Fuse Broken</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s7">
                                                    <label for="alcheck-tb1-s7"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">과열</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s8">
                                                    <label for="alcheck-tb1-s8"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">정전상태</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s9">
                                                    <label for="alcheck-tb1-s9"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">시스템에러</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s10">
                                                    <label for="alcheck-tb1-s10"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Over Frequency</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s11">
                                                    <label for="alcheck-tb1-s11"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Under Frequency</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s12">
                                                    <label for="alcheck-tb1-s12"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">PCS 통신장애</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s13">
                                                    <label for="alcheck-tb1-s13"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Ground Fault Detection</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s14">
                                                    <label for="alcheck-tb1-s14"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">역전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s15">
                                                    <label for="alcheck-tb1-s15"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">상이동</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s16">
                                                    <label for="alcheck-tb1-s16"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">PEBB온도</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s17">
                                                    <label for="alcheck-tb1-s17"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </b-tab>
                        <b-tab title="MBS"><p class="msg">준비중입니다.</p></b-tab>
                        <b-tab title="Service"><p class="msg">준비중입니다.</p></b-tab>
                    </b-tabs>
                </b-card>
            </b-tab>
        </b-tabs>
    </b-card>

    <!--<div class="dropdown-menu alarm-content-wrap d-none">
        <div class="content-head">
            <h2 class="title">알람</h2>
        </div>
        &lt;!&ndash; 탭 메뉴 &ndash;&gt;
        <ul id="alarm-tab" class="nav nav-tabs alarm-nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab-content1" role="tab" data-toggle="tab" aria-expanded="true">
                    <span>알람 리스트</span>
                    <span class="badge badge-hot">99</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#tab-content2" role="tab" data-toggle="tab" aria-expanded="false">
                    <span>알람옵션 설정</span>
                </a>
            </li>
        </ul>
        &lt;!&ndash; 알람 카운트 탭 컨텐츠 &ndash;&gt;
        <div id="alarm-tab-content" class="tab-content">
            &lt;!&ndash; 알람 리스트 탭 컨텐츠 &ndash;&gt;
            <div role="tabpanel" class="tab-pane fade active in alarm-list-content" id="tab-content1" aria-labelledby="alarm-list-tab">
                <h2 class="text-hide">알람 항목</h2>
                <div class="scrolling">
                    <ul class="alarm-list">
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-alert">
                                    &lt;!&ndash; todo 상태 클래스
                                     .sta-alert
                                     .sta-warning
                                     .sta-normal
                                     &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-sq-w"></i>
                                        &lt;!&ndash; todo 아이콘 구분
                                          .icon-sq-w
                                          .icon-bt-w
                                        &ndash;&gt;
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[PCS] AC과전류 확인필요 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-warning"> &lt;!&ndash; 상태 클래스 &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[BMS] 통신장애 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-normal"> &lt;!&ndash; 상태 클래스 &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[PCS] AC과전류 정상 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-normal"> &lt;!&ndash; 상태 클래스 &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[PCS] AC과전류 정상 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-alert"> &lt;!&ndash; 상태 클래스 &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[PCS] AC과전류 확인 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                        <li>
                            <div class="bnt-alarm-list">
                                <div class="status-icon sta-normal"> &lt;!&ndash; 상태 클래스 &ndash;&gt;
                                    <span class="label-status">
                              <i class="i-icon icon-bt-w"></i>
                            </span>
                                </div>
                                <div class="status-desc">
                                    <span class="txt summary">[BMS] 마지막 통신장애 상태입니다.</span>
                                    <span class="txt time"><em class="time-value">5분</em><em>전</em></span>
                                </div>
                                <button type="button" class="btn-del" title="삭제"><em class="text-hide">삭제</em></button>
                            </div>
                        </li>
                    </ul>
                </div>

                &lt;!&ndash; 전체 리스트 삭제 버튼 &ndash;&gt;
                <div class="delete-all-btn-area">
                    <button type="button" class="btn-delete-all">
                        <em class ="icon-list-del"></em>
                        <em class="txt">전체 리스트 삭제</em>
                    </button>
                </div>

            </div>
            &lt;!&ndash; 알람 옵션 설정 탭 컨텐츠 &ndash;&gt;
            <div role="tabpanel" class="tab-pane fade alarm-setting-content" id="tab-content2" aria-labelledby="alarm-opt-tab">
                <h2 class="text-hide">알람 항목 설정</h2>
                &lt;!&ndash; 탭 메뉴 &ndash;&gt;
                <ul id="set-service-tab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#set-tab-content-1" role="tab" data-toggle="tab" aria-expanded="true">
                            <span>PCS</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#set-tab-content-2" role="tab" data-toggle="tab" aria-expanded="false">
                            <span>MBS</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#set-tab-content-3" role="tab" data-toggle="tab" aria-expanded="false">
                            <span>Service</span>
                        </a>
                    </li>
                </ul>
                &lt;!&ndash; 탭 컨텐츠 &ndash;&gt;
                <div class="scrolling">
                    <div id="set-service-tab-content" class="tab-content tab-service-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="set-tab-content-1" aria-labelledby="alarm-setting-tab">
                            <div class="inner-wrap">
                                <h3>PCS 알람 설정</h3>
                                <div class="tbl-wrap">
                                    <table class="table table-cell-underline">
                                        <colgroup>
                                            <col width="60%">
                                            <col width="40%">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th class="bul">AC과전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s1" checked>
                                                    <label for="alcheck-tb1-s1"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">AC과전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s2">
                                                    <label for="alcheck-tb1-s2"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">AC저전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s3">
                                                    <label for="alcheck-tb1-s3"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC과전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s4">
                                                    <label for="alcheck-tb1-s4"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC과전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s5">
                                                    <label for="alcheck-tb1-s5"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">DC저전압</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s6">
                                                    <label for="alcheck-tb1-s6"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Fuse Broken</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s7">
                                                    <label for="alcheck-tb1-s7"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">과열</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s8">
                                                    <label for="alcheck-tb1-s8"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">정전상태</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s9">
                                                    <label for="alcheck-tb1-s9"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">시스템에러</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s10">
                                                    <label for="alcheck-tb1-s10"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Over Frequency</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s11">
                                                    <label for="alcheck-tb1-s11"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Under Frequency</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s12">
                                                    <label for="alcheck-tb1-s12"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">PCS 통신장애</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s13">
                                                    <label for="alcheck-tb1-s13"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">Ground Fault Detection</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s14">
                                                    <label for="alcheck-tb1-s14"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">역전류</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s15">
                                                    <label for="alcheck-tb1-s15"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">상이동</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s16">
                                                    <label for="alcheck-tb1-s16"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="bul">PEBB온도</th>
                                            <td class="talign-right">
                                                <p class="custom-chk-sticky">
                                                    <input type="checkbox" id="alcheck-tb1-s17">
                                                    <label for="alcheck-tb1-s17"><i></i><em>선택</em></label>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="set-tab-content-2" aria-labelledby="alarm-setting-tab">
                            <p>2번탭</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="set-tab-content-3" aria-labelledby="alarm-setting-tab">
                            <p>3번탭</p>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash; 탭 컨텐츠 레이어 닫기 버튼 &ndash;&gt;
            <a href="#" class="btn-close"><i class="i-icon icon-arr-left"></i><span class="text-hide">닫기</span></a>
        </div>
    </div>-->
</template>

<script>
    export default {
        name: "AlarmContents"
    }
</script>
