<template>
    <ul class="navbar-user-info">
        <li class="user-profile">
           <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="user-profile-pic"></span>
                <span class="user-profile-info">
                  <span class="user-profile-name"></span>
                  <span class="user-profile-type">
                      ( <em class="user-type">일반 사용자</em> )
                  </span>
                </span>
            </a>-->
            <b-dropdown id="dropdown-1" right variant="link" text="홍길동( 일반 사용자 )">
                <b-dropdown-item>Profile</b-dropdown-item>
                <b-dropdown-item>Settingsn</b-dropdown-item>
                <b-dropdown-item>Log Out <font-awesome-icon icon="sign-out-alt" class="icon" /></b-dropdown-item>
            </b-dropdown>
        </li>

        <li class="ctrl-alarm">
            <p>
                <input type="checkbox" name="ctrl-alarm" id="chk-ctrl-alarm">
                <label for="chk-ctrl-alarm">
                    <span class="icon-box">
                        <i class="i-icon icon-volume"></i>
                    </span>
                </label>
            </p>
            <!--<button type="button" class="btn-ctrl-alarm" aria-pressed="false" data-sta-text="알림 ON OFF">-->
                <!--<i class="i-icon icon-volume"></i>-->
                <!--<span class="sr-only">OFF</span>-->
            <!--</button>-->
        </li>

        <li class="alarm-count">
            <b-button class="dropdown-toggle" :class="{ show: isAlarmContent }" @click="clickAlarmContent">
                <span class="sr-only">알람</span>
                <span class="badge">99</span>
            </b-button>

            <alarm-contents></alarm-contents>
        </li>
    </ul>
</template>

<script>
    import AlarmContents from './AlarmContents'
    export default {
        name: "UserCommonMenu",
        data(){
            return{
                isAlarmContent: false,
            }
        },
        methods:{
            clickAlarmContent(){
                this.isAlarmContent = !this.isAlarmContent
            }
        },
        components:{
            AlarmContents
        }
    }
</script>
