<template>
    <xpanel-frame class="sblock-main-01">
        <template slot="panel-title">
            <span>계통현황</span>
        </template>
        <template slot="panel-content" >
            <div class="img-holder">
                <img src="/images/graphics/ani.t_01.gif" alt="">
            </div>
            <ul class="label-status">
                <li><span>태양광 송전</span></li>
                <li><span>충전</span></li>
                <li><span>방전</span></li>
                <li><span>오류</span></li>
            </ul>
        </template>
    </xpanel-frame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    export default {
        name: "StatusSystem",
        props: {
            xpanelContents:{
                type: Object
            }
        },
        data(){
            return{

            }
        },
        components:{
            XpanelFrame
        }
    }
</script>
