<template>
    <xpanel-frame class="sblock-main-05" :isToolbox=true>
        <template slot="panel-title">
            <span>BMS</span>
            <i class="label-led warning"></i>
        </template>
        <template slot="panel-toolbox">
            <xpanel-toolbox-more-link :linkurl="linkUrl"></xpanel-toolbox-more-link>
        </template>

        <template slot="panel-content" >
            <div class="content-wrap">
                <div class="lft-content">
                    <ul id="bms-doughnut-chart" class="doughnut-list">
                        <li v-for="(item, index) in chartData" :key ="index">
                            <div class="chart-holder type-doughnut">
                                <doughnut-chart :chartdata="item" :chartoptions="chartOptions"></doughnut-chart>
                                <div class="inner-txt"><span>{{ item.dataPercentage }}%</span></div>
                            </div>
                            <span class="title">{{ item.labels[0] }}</span>
                        </li>
                    </ul>
                </div>

                <div class="rgt-content">
                    <component-table :tablestyle="'underline'" :colwidth="['50%','50%']">
                        <template #tbody-cell>
                            <tr v-for = "(item, index) in tableData" :key="index">
                                <th class="bul">{{ item.title }}</th>
                                <td class="talign-right">{{ item.value }}</td>
                            </tr>
                        </template>
                    </component-table>
                </div>
            </div>
        </template>
    </xpanel-frame>
</template>

<script>
    import { PAGE_COMPONENT_DATA, CHART_STYLE } from '@/common/GlobalConstant'

    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolboxMoreLink from '@/views/layout/page-frame/dashboard-components/XpanelToolboxMore'

    import DoughnutChart from '@/views/components/charts/DoughnutChart'
    import ComponentTable from '@/views/components/tables/BaseTable';

    export default {
        name: "StatusBms",
        props: {
            xpanelContents:{
                type: Object
            }
        },
        components:{
            XpanelFrame,
            XpanelToolboxMoreLink,

            DoughnutChart,
            ComponentTable
        },
        data(){
            const doughnutChartColors = [
                CHART_STYLE.colors.bgB[1],
                CHART_STYLE.colors.bgG[1]
            ];
            const doughnutBgGray = CHART_STYLE.colors.darkGray[1]

            return{
                linkUrl:'/system/StatusEnergy',

                getData:'',
                chartData:[
                    {
                        labels: ['SOC 충전상태'],
                        dataValue:'',
                        dataPercentage:'',
                        datasets: [
                            {
                                data:[],
                                borderWidth: 0,
                                backgroundColor: [doughnutChartColors[0], doughnutBgGray],
                                hoverBackgroundColor:[doughnutChartColors[0], doughnutBgGray],
                            }
                        ]
                    },{
                        labels: ['SOH 배터리수명'],
                        dataValue:'',
                        dataPercentage:'',
                        datasets: [
                            {
                                data:[], //max 10,000
                                borderWidth: 0,
                                backgroundColor: [doughnutChartColors[1], doughnutBgGray],
                                hoverBackgroundColor:[doughnutChartColors[1], doughnutBgGray],
                            }
                        ]
                    }
                ],
                chartOptions:{
                    customOption:{
                        xAxislabelString :'xAxes000',
                        yAxislabelString :'yAxes111'
                    }
                },

                tableData:[
                    {
                        title:'전압 (V)',
                        value: 984.4
                    },
                    {
                        title:'전류 (A)',
                        value: 210.9
                    },
                    {
                        title:'온도 (°C)',
                        value: '29-34.5'
                    }
                ]
            }
        },
        created(){
            //async Data
            // 실제 데이터의 마지막 값(방전된 값)은 계산되도록.
            this.getData = [
                6521.22, 3001.11, 3520.11
            ];

            this.chartData.forEach((chart, idx) =>{
                let startPoint;
                if(idx === 0) startPoint = Number(((this.getData[idx] /10000)*100).toFixed(2));
                else startPoint = Number(((this.getData[idx] / this.getData[0])*100).toFixed(2));
                let endPoint = Number((100 - startPoint).toFixed(2));

                chart.datasets[0].data.push(startPoint);
                chart.datasets[0].data.push(endPoint);
                //console.log('get', chart.labels, startPoint, endPoint, this.chartData[0].datasets[0].data[0])
                //차트 인포 데이타
                chart.dataValue = this.getData[idx].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                chart.dataPercentage = Math.round(startPoint);


            })
        },

    }
</script>
