<template>
    <xpanel-frame class="sblock-main-03"  :isToolbox=true>>
        <template slot="panel-title">
            <span>에너지 현황</span>
        </template>

        <template slot="panel-toolbox">
            <xpanel-toolbox-more-link :linkurl="linkUrl"></xpanel-toolbox-more-link>
        </template>

        <template slot="panel-content" >
            <div class="chart-holder">
                <line-chart-component :chartdata="chartData" :chartoptions="chartOptions" />
            </div>
        </template>
    </xpanel-frame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolboxMoreLink from '@/views/layout/page-frame/dashboard-components/XpanelToolboxMore'

    import LineChartComponent from '@/views/components/charts/LineChart'
    import { COMPONENT_DESIGN, CHART_STYLE } from '@/common/GlobalConstant'
    import { EventBus } from "@/common/EventBus"

    export default {
        name: "StatusEnergy",
        props: {
            xpanelContents:{
                type: Object
            }
        },
        components:{
            XpanelFrame,
            XpanelToolboxMoreLink,
            LineChartComponent
        },
        data(){
            return{
                linkUrl:'/system/StatusEnergy',
                chartData: {
                    //Data to be represented on x-axis
                    labels: ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23', '24'],
                    datasets: [
                        {
                            label: "태양광발전량",
                            backgroundColor:EventBus.hexToRgba(CHART_STYLE.colors.bgA[1], 0.3),
                            borderColor: CHART_STYLE.colors.bgA[1],
                            borderWidth: 2,
                            pointRadius: 1.5,
                            pointBackgroundColor:CHART_STYLE.colors.bgA[1],
                            //Data to be represented on y-axis
                            data: [ ]
                        },
                        {
                            label: "충전량",
                            backgroundColor: EventBus.hexToRgba(CHART_STYLE.colors.bgB[1], 0.3),
                            borderColor: CHART_STYLE.colors.bgB[1],
                            borderWidth: 2,
                            pointRadius: 1,
                            pointBackgroundColor:CHART_STYLE.colors.bgB[1],
                            //Data to be represented on y-axis
                            data: [ ]
                        },{
                            label: "방전량",
                            backgroundColor: EventBus.hexToRgba(CHART_STYLE.colors.bgC[1], 0.3) ,
                            borderColor: CHART_STYLE.colors.bgC[1],
                            borderWidth: 2,
                            pointRadius: 1,
                            pointBackgroundColor:CHART_STYLE.colors.bgC[1],
                            // 0이 존재하면 라인으로 출력, null이 존재하면 라인 출력안됨
                            data: [ ],
                        }
                    ]
                },
                chartOptions:{
                    customOption:{
                        xAxislabelString :'Hour',
                        yAxislabelString :'태양광발전량',
                        legend:{
                            display:true,
                        },
                        tooltips:{
                            display:true,
                        }
                    },

                }
            }
        },
        created(){
            this.createFakeData();
        },
        methods:{
            createFakeData(){
                let vm = this;
                this.chartData.datasets.forEach((dataset)=>{
                    vm.chartData.labels.forEach(()=>{
                        let randomValue = Math.round(Math.random()*1000);
                        let newRandomValue = Math.ceil((Math.abs(
                            randomValue < 500 ?
                                randomValue < 250 ? (500 - randomValue) : randomValue
                                :randomValue < 750 ? 750 - (750 - randomValue) : randomValue - 250
                        ))/28);
                        //console.log('r', randomValue, newRandomValue)
                        dataset.data.push(newRandomValue);
                    })
                });
            }
        }

    }
</script>
