<template>
    <xpanel-frame class="sblock-main-02" :isToolbox=false>
        <template slot="panel-title">
            <span>실시간 설비 상태</span>
        </template>
        <template slot="panel-content">
            <ul class="status-system">
                <li class="sta-critical">
                    <i class="i-icon icon-ms-critical"></i>
                    <span class="txt">Critical</span>
                    <span class="badge">9</span>
                </li>

                <li class="sta-major">
                    <i class="i-icon icon-ms-major"></i>
                    <span class="txt">Major</span>
                    <span class="badge">0</span>
                </li>

                <li class="sta-minor">
                    <i class="i-icon icon-ms-minor"></i>
                    <span class="txt">Minor</span>
                    <span class="badge">9</span>
                </li>

                <li class="sta-warning">
                    <i class="i-icon icon-ms-warning"></i>
                    <span class="txt">Warning</span>
                    <span class="badge">9</span>
                </li>
            </ul>
        </template>
    </xpanel-frame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    export default {
        name: "status-equipment",
        props: {
            xpanelContents:{
                type: Object
            }
        },
        data(){
            return{

            }
        },
        components:{
            XpanelFrame
        }
    }
</script>
