<template>
    <xpanel-frame class="sblock-main-04" :isToolbox=true>
        <template slot="panel-title">
            <span>PCS</span>
            <i class="label-led warning"></i>
        </template>
        <template slot="panel-toolbox">
            <xpanel-toolbox-more-link :linkurl="linkUrl"></xpanel-toolbox-more-link>
        </template>

        <template slot="panel-content" >
            <div class="content-wrap">
                <div class="lft-content">
                    <div class="img-holder"><img src="/images/graphics/PCS_Run.gif" alt=""></div>
                    <div class="desc">
                        <span class="tit">PCS운전상태</span>
                        <span class="txt">RUN</span>
                    </div>
                </div>

                <div class="rgt-content">
                    <component-table :tablestyle="'underline'" :colwidth="['50%','50%']">
                        <template #tbody-cell>
                            <tr v-for = "(item, index) in tableData" :key="index">
                                <th class="bul">{{ item.title }}</th>
                                <td class="talign-right">{{ item.value }}</td>
                            </tr>
                        </template>
                    </component-table>
                </div>
            </div>
        </template>
    </xpanel-frame>
</template>

<script>
    import { PAGE_COMPONENT_DATA, CHART_STYLE } from '@/common/GlobalConstant';

    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame';
    import XpanelToolboxMoreLink from '@/views/layout/page-frame/dashboard-components/XpanelToolboxMore';

    import ComponentTable from '@/views/components/tables/BaseTable';

    export default {
        name: "StatusPcs",
        props: {
            xpanelContents:{
                type: Object
            }
        },
        components:{
            XpanelFrame,
            XpanelToolboxMoreLink,
            ComponentTable
        },
        data(){
            return{
                linkUrl:'/system/StatusPcs',
                tableData:[
                    {
                        title:'충방전상태',
                        value: '9Charge (-975.4kW)'
                    },
                    {
                        title:'제어모드',
                        value: 'Remote Mode'
                    },
                    {
                        title:'PEBB Max',
                        value: '55 ℃'
                    }
                ]

            }
        }

    }
</script>