<template>
    <form action="" method="post" novalidate>
        <div class="login-content">
            <div class="inner-wrap">
                <!-- 폼 내용  -->
                <fieldset class="login-form">
                    <legend>회원가입 입력폼</legend>
                    <div class="form-group inline-field field">
                        <label for="login-name">이름</label>
                        <input type="text" id="login-name" class="form-control type-w" placeholder="이름" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-id">아이디</label>
                        <input type="text" id="login-id" class="form-control type-w" placeholder="ID (영문 또는 숫자 6~16자)" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-pwd">비밀번호</label>
                        <input type="password" id="login-pwd" class="form-control type-w" placeholder="Password (영문 + 숫자 10~64자)" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-pwd-rw">비밀번호 확인</label>
                        <input type="password" id="login-pwd-rw" class="form-control type-w" placeholder="Password Confirmation" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-mail">이메일</label>
                        <input type="email" id="login-mail" class="form-control type-w" placeholder="Email" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-addr">연락처</label>
                        <input type="tel" id="login-addr" class="form-control type-w" placeholder="연락처" required>
                    </div>
                </fieldset>

                <div class="login-btm">
                    <p class="btns-group talign-center">
                        <b-button type="submit" variant="btn btn-ok-2 btn-lg"><em>회원가입</em></b-button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

    export default {
        name: "AccountSignUp",
        props: {

        },
        data(){
            return{

            }
        },
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },

        components:{

        },

    }
</script>
