<template>
    <form action="" method="post" novalidate>
        <div class="login-content register-ok">
            <div class="inner-wrap">
                <!-- 폼 내용  -->
                <div class="top-cont">
                    <h1><span>사용자 등록이 완료되었습니다</span></h1>
                    <p class="desc">
                        확인 링크가 있는 메시지가 <strong>NBplusmanager@naver.com</strong>으로 전송되었습니다. <br>
                        이메일을 확인하시여 가입을 완료해 주시기 바랍니다.</p>
                </div>
                <div class="login-btm">
                    <span class="txt">이메일을 받지 못했습니까?</span>
                    <p class="btns-group talign-center">
                        <b-button type="submit" variant="btn btn-ok-2 btn-lg"><em>재전송</em></b-button>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountCompleteRegisterUser",
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>