<template>
    <form action="" method="post" novalidate>
        <div class="login-content">
            <div class="inner-wrap">

                <div class="msg-holder filled">
                    회원님의 아이디는 <strong>NBplusmanager</strong> 입니다.
                </div>

                <!-- 폼 내용  -->
                <fieldset class="login-form">
                    <legend>Login Form</legend>
                    <div class="form-group inline-field field">
                        <label for="login-id">id</label>
                        <input type="text" id="login-id" class="form-control type-w" placeholder="ID" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-pass">password</label>
                        <input type="password" id="login-pass" class="form-control type-w" placeholder="Password" required >
                    </div>

                    <div class="field">
                        <b-form-checkbox
                                id="login-save-id"
                                class="type-w"
                                name="login-save-id"
                                value="accepted"
                                unchecked-value="not_accepted"
                        >
                            <em>아이디 저장</em>
                        </b-form-checkbox>
                    </div>
                </fieldset>

                <div class="login-btm">
                    <p class="btns-group">
                        <b-button variant="btn btn-ok-1 btn-lg btn-block"><em>로그인</em></b-button>
                    </p>
                    <p class="fn-menu divider-menu">
                        <router-link :to="btn.link" v-for="btn in linkBtns" :key="btn.id">
                            <span>{{ btn.name }}</span>
                        </router-link>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

    export default {
        name: "AccountLoginAfterFindId",
        props: {

        },
        data(){
            return{
                linkBtns:[
                    {
                        link:'find_id',
                        name:'아이디 찾기'
                    },
                    {
                        link:'find_password',
                        name:'비밀번호 찾기'
                    },
                    {
                        link:'sign_up',
                        name:'회원가입'
                    }
                ],
            }
        },
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },

        components:{

        },
    }
</script>
