<template>
    <form action="" method="post" novalidate>
        <div class="login-content">
            <div class="inner-wrap">
                <div class="msg-holder">아이디를 찾으시려면 이메일과 비밀번호를 입력해 주세요.</div>
                <!-- 폼 내용  -->
                <fieldset class="login-form">
                    <legend>비밀번호 찾기</legend>
                    <div class="form-group inline-field field">
                        <label for="login-id">email</label>
                        <input type="email" id="login-id" class="form-control type-w" placeholder="E-mail" required="" />
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-pwd">password</label>
                        <input type="password" id="login-pwd" class="form-control type-w" placeholder="Password" required="" />
                    </div>
                </fieldset>
                <div class="login-btm text-center">
                    <p class="btns-group">
                        <b-button type="submit" variant="btn btn-ok-2 btn-lg"><em>내 아이디 확인</em></b-button>
                    </p>
                    <p class="fn-menu underline-menu">
                        <router-link :to="'/account/login'" class="underline-menu">
                            <span>로그인으로 돌아가기</span>
                        </router-link>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountFindId",
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>