<template>
    <form action="" method="post" novalidate>
        <div class="login-content">
            <div class="inner-wrap">
                <!-- 폼 내용  -->
                <fieldset class="login-form">
                    <legend>이메일 입력폼</legend>
                    <div class="form-group inline-field field">
                        <label for="login-email">이메일</label>
                        <input type="email" id="login-email" class="form-control type-w" placeholder="Email" required >
                    </div>
                </fieldset>
                <div class="login-btm">
                    <p class="btns-group talign-center">
                        <b-button type="submit" variant="btn btn-ok-2 btn-lg"><em>인증메일 발송</em></b-button>
                    </p>
                    <p class="fn-menu underline-menu">
                        <router-link :to="'/account/login'" class="underline-menu">
                            <span>로그인으로 돌아가기</span>
                        </router-link>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountFindPasswordSendMail",
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>