<template>
    <form action="" method="post" novalidate>
        <div class="login-content">
            <div class="inner-wrap">
                <div class="msg-holder">새 비밀번호를 입력하세요.</div>
                <!-- 폼 내용  -->
                <fieldset class="login-form">
                    <legend>비밀번호 업데이트</legend>
                    <div class="form-group inline-field field">
                        <label for="login-pwd-1">Password</label>
                        <input type="password" id="login-pwd-1" class="form-control type-w" placeholder="Password" required>
                    </div>
                    <div class="form-group inline-field field">
                        <label for="login-pwd-2">Password Confirmation</label>
                        <input type="password" id="login-pwd-2" class="form-control type-w" placeholder="Password Confirmation" required>
                    </div>
                </fieldset>

                <div class="login-btm">
                    <p class="btns-group talign-center">
                        <b-button type="submit" variant="btn btn-ok-1 btn-lg btn-block"><em>암호 업데이트</em></b-button>
                    </p>
                    <p class="fn-menu underline-menu">
                        <router-link :to="'/account/login'" class="underline-menu">
                            <span>로그인으로 돌아가기</span>
                        </router-link>
                    </p>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountUpdatePassword",
        created(){
            this.$EventBus.$emit('currentMajorCode', 'login')
        },
        destroyed(){

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>