<template>
    <div>
        <!--<keep-alive>-->
        <!--<component :is="dashBoardContents.middleComponentName" v-if="dashBoardContents.middleComponentName !== null"></component>-->
        <component :is="dashBoardContents.mainComponentName" :pageMainContentData = "pageMainContentData"></component>
        <!--</keep-alive>-->
    </div>
</template>

<script>
    import StatusEnergyFrameComponent from '@/views/pages/system-status/status-energy/StatusEnergyFrameComponent'
    import StatusPcsFrameComponent from '@/views/pages/system-status/status-pcs/StatusPcsFrameComponent'

    import ControlChangeFrameComponent from '@/views/pages/control-management/control-change/ControlChangeFrameComponent'
    import ControlChangeHistoryFrameComponent from '@/views/pages/control-management/control-change-history/ControlChangeHistoryFrameComponent'
    import ControlDeviceFrameComponent from '@/views/pages/control-management/control-device/ControlDeviceFrameComponent'

    export default {
        name: "SubContentDashboardFrame",
        props:['dashBoardContents'],
        data(){
            return{
                pageMainContentData: this.dashBoardContents.xPanelContentsData,
            }
        },
        computed:{

        },

        watch:{

        },
        created(){
            console.log('현재 페이지 컴포넌트', this.dashBoardContents )
        },
        mounted() {

        },

        updated(){

        },
        methods:{

        },
        components: {
            StatusEnergyFrameComponent,
            StatusPcsFrameComponent,

            ControlChangeFrameComponent,
            ControlChangeHistoryFrameComponent,
            ControlDeviceFrameComponent

        }
    }
</script>
