<template>
    <div class="page-title">
        <h1>{{ subPageTitle }}</h1>
    </div>
</template>

<script>
    export default {
        name: "PageTitleComponent",
        props:{
            subPageTitle:{
                Type: String,
                required: true
            }
        }
    }
</script>