<template>
    <div class="subpg-tab-menu">
        <ul class="nav nav-tabs">
            <li v-for="(item, index) in tabMenu"><a :href="item.link" @click.prevent.stop="getCurrentLink(item.link, index)">{{ item.title }}</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Depth3TabMenu",
        props:[
            'tabMenu'
        ],
        data(){
            return{

            }
        },
        created(){

            },
        methods:{
            getCurrentLink(name, idx){
                this.$EventBus.$emit('changeComponent', [name, idx])
            }
        },
        components:{

        }
    }
</script>