<template>
    <div id="app">
        <div class="container" :class="[ currentPageClass, sideNavClass ]">
            <div id="el-main-container" class="main-container">
                <header-component :currentHeader="changeHeaderType" />
                <router-view  />

                <div class="col-3 bg-light">
                    Window width: {{ windowWidth }}<br>
                    Window height: {{ windowHeight }}
                </div>
            </div>
        </div>

        <!-- 모달 팝업 -->
        <modal-pop-frame></modal-pop-frame>
    </div>
</template>
<script>
    import HeaderComponent from '@/views/layout/header-frame/Header.vue';
    import ModalPopFrame from '@/views/layout/modal/ModalPopupFrame';
    let oldWinWidth = null;
    let currentWinWidth = null;

    export default {
        name: 'App',
        props: {

        },
        data(){
            return{
                currentPageClass:'',
                sideNavClass:'nav-sm',
                changeHeaderType:'',
                modalContent:'',
            }
        },
        computed:{
            windowHeight() {
                return this.getWindowHeight();
            },
            windowWidth() {
                return this.getWindowWidth();
            }
        },
        created(){
            this.$EventBus.$on('currentMajorCode', this.changeCurrentPageClass);
            this.$EventBus.$on('changeSideNavClass', this.changeSideNavClass);

        },
        mounted(){
            // this.$nextTick(function() {
            //     window.addEventListener('resize', this.resizeHandler);
            // })


        },
        updated(){

        },

        methods:{
            resizeHandler(e){

                if(oldWinWidth === undefined) {
                    oldWinWidth = this.getWindowWidth(e);
                }else{
                    oldWinWidth = currentWinWidth;
                }

                currentWinWidth = this.getWindowWidth(e);

                console.log('e', oldWinWidth, currentWinWidth )
                if(currentWinWidth < 768){
                    console.log('mobile size')

                }else if(currentWinWidth >= 768 && currentWinWidth < 1024){
                    console.log('tablet size')
                    this.sideNavClass ='nav-sm';
                }else{
                    console.log('pc size')
                    this.sideNavClass ='nav-md';
                }
            },

            getWindowWidth(event) {
                return document.documentElement.clientWidth;
            },

            getWindowHeight(event) {
                return document.documentElement.clientHeight;
            },

            changeCurrentPageClass($payload){
                console.log('changeCurrentPageClass 외부에서 호출====>' , $payload)
                this.currentPageClass = $payload
                if((/login/gi).test($payload)) this.changeHeaderType = 'login'
                else this.changeHeaderType ='';
            },

            changeSideNavClass(){
                this.sideNavClass = this.sideNavClass === 'nav-sm'? 'nav-md' : 'nav-sm'
            }

        },
        components: {
            HeaderComponent,
            ModalPopFrame,
        }
    }
</script>

