<template>
    <div class="x-panel">
        <div class="x-title">
            <h2>
                <slot name="panel-title"></slot>
            </h2>
            <ul class="nav navbar-right panel-toolbox" v-if="isToolbox">
                <slot name="panel-toolbox"></slot>
            </ul>
        </div>
        <div class="x-content">
            <slot name="panel-content"></slot>
        </div>
        <slot name="panel-cotent-btm"></slot>
    </div>
</template>

<script>
    export default {
        name: 'XpanelFrame',
        props:{
            isToolbox: {
                type: Boolean,
            }
        },
    }
</script>
