<template>
    <li>
        <router-link :to="linkurl"><i class="i-icon icon-cross"></i><em class="text-hide">자세히보기</em></router-link>
    </li>
</template>

<script>
    export default {
        name: "XpanelToolboxLinkMore",
        props:['linkurl']
    }
</script>