<template>
    <li>
        <button type="button" @click="clickHandler"><i class="i-icon icon-exell"></i><em class="text-hide">엑셀받기</em></button>
    </li>
</template>

<script>
    export default {
        name: "XpanelToolboxExell",
        methods:{
            clickHandler(){
                // to datatables Component
                this.$EventBus.$emit('downloadExell');
            }
        }
    }
</script>