<template>
    <b-modal ref="ems-modal" hide-footer id="modalComponentId" scrollable :modal-class="modalRootClass">
        <template slot="modal-title">{{ modalTitle }}</template>
        <component :is="modalContentComponent" @closeModalPop="closeModal"></component>
    </b-modal>
</template>

<script>
    const AsyncComponent = (path) => ({
        // 로드하는 컴포넌트입니다. 반드시 Promise이어야합니다.
        component: import('@/views/pages/'+ path),
        // 비동기 컴포넌트가 로드되는 동안 사용할 컴포넌트
        //loading: LoadingComp,
        // 실패했을 경우 사용하는 컴포넌트
        //error: ErrorComp,
        // 로딩 컴포넌트를 보여주기전 지연하는 정도. 기본값: 200ms.
        delay: 200,
        // 시간이 초과되면 에러용 컴포넌트가 표시됩니다
        // 기본값: Infinity.
        timeout: 3000
    });

    import sampleContent1 from '@/views/pages/system-status/modal_test'
    import sampleContent2 from '@/views/pages/system-status/modal_test1'

    import ModalControlChange from '@/views/pages/control-management/control-change/section-control-change/ModalControlChange'
    import ModalControlDevice from '@/views/pages/control-management/control-device/section-contents/ModalControlDevice'


    export default {
        name: "ModalPopupFrame",
        props:{

        },
        data(){
          return{
              modalShow: false,
              modalRootClass:'',
              modalTitle:'',

              modalContentComponent:'',
          }
        },
        watch:{

        },

        created(){
            this.$EventBus.$on('showModalPopup', this.showModalPopup);
        },

        mounted() {
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                //console.log('Modal is about to be shown', bvEvent, modalId)
            })
        },

        updated(){

        },

        methods:{
            closeModal($payload){
                console.log('close!!!!', $payload)
                this.$refs['ems-modal'].hide();
                this.modalShow = false;
            },
            showModalPopup($payload){

                this.modalRootClass= $payload.modalCode;
                this.modalTitle = $payload.title;
                this.modalContentComponent = $payload.componentName;
                //this.$refs['ems-modal'].modalClass=$payload.modalCode;
                this.$refs['ems-modal'].show();
                this.modalShow = true;

               console.log('payload', this.$refs['ems-modal'], ' attrs:::',this.$refs['ems-modal'])
            }
        },

        components:{
            ModalControlChange,
            ModalControlDevice,

            sample1: sampleContent1,
            sample2: sampleContent2,

            myComponent:{
                render:function (createElement) {
                    var myParagraphVNode = createElement('p', 'hi~jongjin')
                    return createElement('div', [
                        // 이런 - Vnode가 중복입니다!
                        myParagraphVNode
                    ])
                }
            }
        }
    }
</script>