<template>
    <XpanelFrame class="sblock-0202" :isToolbox=true>
        <template slot="panel-title">
            충·방전 제어 이력 목록
        </template>
        <template slot ="panel-toolbox">
            <xpanel-toolbox-exell></xpanel-toolbox-exell>
        </template>

        <template slot="panel-content">
            <data-table :dataOptions="dtOptions" :dataFields="dtFields" :useCheckbox = "useDtCheckbox" :useActionTag="useActionTag"></data-table>
        </template>
    </XpanelFrame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolboxExell from '@/views/layout/page-frame/dashboard-components/XpanelToolboxExell'

    import DataTable from '@/views/components/datatables/BasicDatatable'

    export default {
        name: "ControlChangeHistoryMainContent",
        props:{

        },
        data(){
            return{
                useDtCheckbox:false,
                useActionTag: false,
                dtOptions:{
                    ajax:{
                        url:'https://next.json-generator.com/api/json/get/4Jzw5JKGO',
                        dataSrc: (json) => {
                            let tmpArr =  [];

                            json.forEach((obj, index) =>{
                                const controlMode = `
                                    <div class="align-left-right">
                                      <span class="lft">PCS Control</span>
                                      <span class="rgt" title="9월중 충방전 스케쥴 완료">
                                        <i class="i-icon icon-info"></i>
                                      </span>
                                    </div>`;

                                tmpArr.push({
                                    id: obj.index + 1,
                                    plant: obj.plant,
                                    terrain: obj.terrain,
                                    equipment: obj.equipment,
                                    control_mode: controlMode,
                                    active_mode: obj.active_mode,
                                    control_result: 'Ready',
                                    control_message: obj.control_message,
                                })
                            });

                            //console.log('1tmpArr', tmpArr)
                            return tmpArr.reverse();
                        }
                    },
                    dom: 'B<".tbl-etc-left1"<".board-list-count" i>><".mwrap"t>pr',
                },
                dtFields:{
                    id: { label: 'No.', sortable: true, searchable: true, width: '8%'  },
                    plant: { label: '발전소명', sortable: true, searchable: true, width: '21%'  },
                    terrain: { label: '지역', width:'13%' },
                    equipment:{ label:'장비명', width:'13%'},
                    control_mode:{ label:'제어모드', width:'15%'},
                    active_mode:{ label:'동작모드', width:'8%'},
                    control_result:{ label:'결과', width:'8%'},
                    control_message:{ label:'메시지', width:'14%'},
                },
            }
        },
        computed:{

        },

        created(){

        },
        methods:{

        },

        components:{
            XpanelFrame,
            XpanelToolboxExell,

            DataTable
        }
    }
</script>
