<template>
    <div class="sch-form-wrap">
        <form @submit.stop.prevent="doSearch">
            <fieldset>
                <legend>검색</legend>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="sch-txt-form" class="hide">Search keyword :</label>
                        <input type="search" id="sch-txt-form" class="form-control" placeholder="발전소명 / 장비명 / 지역명" v-model="quickSearch">
                    </div>
                    <div class="form-group">
                        <label for="sch-select-1" class="title">Mode :</label>
                        <div class="selectbox-group">
                            <select id="sch-select-1" class="selectbox">
                                <option>제어모드 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <select id="sch-select-2" class="selectbox">
                                <option>동작모드 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <select id="sch-select-3" class="selectbox">
                                <option>결과 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="sr-only">Sort by</span>
                        <date-range-picker class="form-input-calendar" :options="customOpts"></date-range-picker>
                    </div>

                    <div class="btn-wrap">
                        <button type="submit" class="btn btn-ok-2"><i class="i-icon icon-zoom-w"></i><em>Search</em></button>
                        <button type="reset" class="btn btn-default"><i class="i-icon icon-repeat-w"></i><em>Reset</em></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
    import DateRangePicker from '@/views/components/common/DateRangePicker'
    export default {
        name: "ControlChangeHistoryMiddleContent",
        data(){
            return{
                customOpts:{
                    format: "'hh:mm a'",
                },
                quickSearch:'',
            }
        },
        methods:{
            doSearch(){
                this.$EventBus.$emit('dataSearch', this.quickSearch)
                this.quickSearch = '';
            }
        },
        components:{
            DateRangePicker
        }
    }
</script>
