<template>
    <div id="top-nav-container" class="top-nav">
        <div class="site-logo">
            <router-link to="/"><span class="sr-only">진도 태양광 발전소</span></router-link>
        </div>

        <template v-if="currentHeader !== 'login'">
            <!-- 현재 기온 정보 -->
            <TodayWeather />

            <!-- User Content -->
            <user-common-menu></user-common-menu>

            <div class="nav-toggle">
                <a href="#sidebar-menu" @click.stop.prevent="changeGnbType">
                    <span class="hbars"><i></i></span>
                    <span class="sr-only">Menu</span>
                </a>
            </div>
        </template>
    </div>
</template>

<script>
    import TodayWeather from './header-common/TodayWeather'
    import UserCommonMenu from './header-user-contents/UserCommonMenu'


    export default {
        name: "HeaderComponent",
        props:[
            'currentHeader'
        ],
        methods:{
            changeGnbType(){
                this.$EventBus.$emit('changeSideNavClass');
            }
        },
        components:{
            TodayWeather,
            UserCommonMenu,

        }
    }
</script>
