<template>
    <div>
        <table id="datatable" class="table type-data">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>

        <div class="btns-group double">
            <b-button @click="$emit('closeModalPop')" class="btn-txt btn-ok-2">취소</b-button>
            <b-button variant="default" class="btn-txt" @click="saveData">저장</b-button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal",
        props:{
        },
        created(){

        },
        mounted(){
            console.log('td', $(this.$el).find('tbody td:last-child'))
            setTimeout(()=>{
                $(this.$el).find('tbody td').text('새롭게 열리다.'+ Math.random()*1000)
            },1000)
        },
        methods:{
            saveData(){
                console.log('데이터 저장완료')
                this.$emit('closeModalPop');
            }
        }
    }
</script>