<template>
    <div>
        <div>또다른 모달 콘텐츠</div>
        <div class="btns-group double">
            <b-button @click="$emit('closeModalPop', 11111)" class="btn-txt btn-ok-2">취소</b-button>
            <b-button variant="default" class="btn-txt">닫기</b-button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal_test1"
    }
</script>

<style scoped>

</style>