<template>
    <div class="w-100">
        <div class="login-wrapper">
            <router-view />
        </div>
    </div>
</template>

<script>
    export default {
        name: "Accounts",
        data() {
            return {

            }
        },
        created(){
            //this.$emit('currentMajorCode', 'login')
        },
        beforeDestroy(){
            console.log('퐈괴전')
        },
        destroyed(){
            //console.log('currentUrl', this.$route.params.page)

            if(!(/account/).test(this.$route.path)){
                console.log('파괴후...')
                this.$EventBus.$emit('currentMajorCode', '')
            }
        },
        props: {

        },
        methods:{

        },

        components: {

        },
    }
</script>
