<template>
    <page-frame>
        <template slot="main">
            <main-page-content></main-page-content>
        </template>
    </page-frame>
</template>

<script>
    // @ is an alias to /src
    import PageFrame from './PageContentFrame'
    import MainPageContent from '@/views/pages/main/MainPageContent'

    export default {
        name: 'Main',
        props: {},
        data() {
            return {

            }
        },
        created() {
            this.$EventBus.$emit('currentMajorCode', 'page-code-main')
        },
        components: {
            PageFrame,
            MainPageContent,
        }
    }
</script>
