<template>
    <div id="sidebar-menu" class="main-menu-side">
        <div class="inner-wrap">
            <!--<transition name="toggle">
                <h1 class="fade-test" v-if="fade" style="white-space: nowrap">트랜지션이 일어나는 제목</h1>
            </transition>
            <button @click="testTrans">transition Test</button>-->

            <ul class="side-menu">
                <li v-for="(item, index) in menuItems" :key ="index">
                    <router-link :to="item.link" :class="{ active : activeItem === item.link.replace('/','') }"><i class="nav-icon" :class="item.iconName"></i><span>{{ item.title }}</span></router-link>
                </li>
                <!--<li><router-link to="/system" class="active"><i class="nav-icon shuffle"></i><span>시스템현황</span></router-link></li>-->
                <!--<li><router-link to="/control"><i class="nav-icon gear"></i><span>시스템제어관리</span></router-link></li>-->
                <!--<li><router-link to="/analysis"><i class="nav-icon cross-square"></i><span>통계분석</span></router-link></li>-->
                <!--<li><router-link to="/operation"><i class="nav-icon line-dot"></i><span>운영</span></router-link></li>-->
                <!--<li><router-link to="/management"><i class="nav-icon monitor"></i><span>관리</span></router-link></li>-->
            </ul>

            <button class ="btn-close-side-menu" title="메뉴 닫기" @click="closeMobileNav">
                <span class="hbars"><i></i></span>
                <span class="text-hide">메뉴 닫기</span>
            </button>
        </div>

        <div class="overlay" @click="closeMobileNav"></div>
    </div>
</template>

<script>
    import { primaryDepthLinks } from '@/data/page_link_list';

    export default {
        name: "PageSideNav",
        computed:{

        },
        data(){
            return{
                fade: false,
                menuItems:primaryDepthLinks,
                activeItem:''
            }
        },
        created(){
            this.activeMenu()
        },
        methods:{
            activeMenu(){
                this.activeItem = this.$route.path.split('/')[1];
            },

            testTrans(){
                this.fade = !this.fade;
            },
            closeMobileNav(){
                this.$EventBus.$emit('changeSideNavClass', 'nav-sm')
            }
        },
        components:{

        }
    }
</script>

<style scoped>
    .toggle-enter-active, .toggle-leave-active{
        transition: opacity 1s
    }
    .toggle-enter , .toggle-leave-to{
        opacity:0;
        width:0px;
    }
    .toggle-enter-to , .toggle-leave {
        opacity:1;
        width:250px;
    }
</style>