<template>
    <div class="frame-body">
        <side-navigation></side-navigation>
        <div class="right-col" role="main">
            <slot name="main"></slot>
        </div>

        <div class="overlay"></div>
    </div>
</template>

<script>
    import sideNavigation from './PageSideNavigation'
    export default {
        name: 'PageFrame',
        data(){
            return{

            }
        },
        created(){

        },
        components:{
            sideNavigation
        }
    }
</script>