<template>
    <transition name="sub-page">
        <page-frame>
            <template slot="main">
                <sub-page-title-component :subPageTitle="subPageTitle"></sub-page-title-component>
                <secondary-depth-tab-menu :tabMenu="secondaryTabMenu"></secondary-depth-tab-menu>
                <dash-board-content-frame :dashBoardContents="dashBoardContentsData"></dash-board-content-frame>
            </template>
        </page-frame>
    </transition>
</template>

<script>
    // @ is an alias to /src
    import { secondaryDepthLinks } from '@/data/page_link_list';

    import PageFrame from './PageContentFrame'
    import SubPageTitleComponent from './subpage-layout/SubPageTitleComponent'
    import SecondaryDepthTabMenu from './subpage-layout/SubPage2DepthTabMenu'
    import DashBoardContentFrame from './subpage-layout/DashBoardContentFrame'

    import { PAGE_COMPONENT_DATA } from '@/common/GlobalConstant'


    export default {
        name: 'SubPageFrame',
        data(){
            return{
                currentPageUrl:'',

                subPageTitle:'',
                secondaryTabMenu:'',
                dashBoardContentsData:'',


                // 여기서는 레이아웃 구성용 컴포넌트 정보만 관리하고
                // 실제 데이터는 비동기적으로 받아오도록 한다.
                pageComponentData:{
                    main:{

                    },
                    system:{
                        // 시스템 현황
                        StatusEnergy:{
                            pageCode: 'page-code-0101',
                            mainComponentName:'StatusEnergyFrameComponent',
                            middleComponentName:null,
                            xPanelContentsData:{
                                xpanelTitle:'aaaa',
                                'sblock-0101':{
                                    title:'에너지 현황',
                                    contents:{

                                    }
                                },
                                'sblock-0102':{
                                    title:'데이타테이블 형식',
                                    contents:{
                                        blockContent1:{
                                            data:'content21',
                                        },
                                        blockContent2:{
                                            data:'content22'
                                        },
                                    }
                                }
                            }
                        },
                        StatusSunlight:{
                            pageCode: 'page-code-0102',
                            mainComponentName:'StatusSunlightMainContent',
                            middleComponentName:null,
                            middleContentData:{type:null, compData:null}, //type: null, controller, search, summary
                            xPanelContentsData:{
                                'sblock-0101':{
                                    title:'복합 형식',
                                    contents:{
                                        blockContent1:{
                                            data:'StatusSunlight content11',
                                        },
                                        blockContent2:{
                                            data:' StatusSunlight content12'
                                        },
                                    }
                                },
                                'sblock-0102':{
                                    title:'StatusSunlight Title',
                                    contents:{
                                        blockContent1:{
                                            data:'StatusSunlight content21',
                                        },
                                        blockContent2:{
                                            data:'StatusSunlight content22'
                                        },
                                    }
                                }
                            }
                        },

                    },
                    control:{
                        //시스템 제어관리
                        ControlChange:{
                            pageCode: 'page-code-0201',
                            mainComponentName:'ControlChangeFrameComponent',
                        }
                    },

                    sub1:{
                        pageTitle:'서브페이지1 타이틀',

                        componentName:'sub1',
                        pageCode: 'page-code-0103',
                        dataContents:{
                            blockPanel1:{
                                title:'서브1 블록 제목',
                                content:'블록 콘텐츠1'
                            }
                        }
                    },
                    sub2:{
                        pageTitle:'서브페이지2 타이틀',
                        componentName:'sub2',
                        pageCode: 'page-code-0103',
                        dataContents:{
                            blockPanel1:{
                                title:'서브2 PCS현황',
                                content:'블록 콘텐츠2-1'
                            },
                            blockPanel2:{
                                title:'서브2 배터리 정보',
                                content:'블록 콘텐츠2-2'
                            },
                            blockPanel3:{
                                title:'커스텀 스크롤 적용',
                                content:'블록 콘텐츠2-3',
                            }
                        }
                    },
                    chart:{
                        pageTitle:'Chart sample',
                        componentName:'chart',
                        pageCode: 'page-code-0101',
                        dataContents:{
                            blockPanel1:{
                                title:'복합 차트',
                                content:''
                            }
                        }
                    },
                    etc:{
                        pageTitle:'기타 컴포넌트',
                        componentName:'etc',
                        pageCode: 'page-code-0101',
                        dataContents:{
                            blockPanel1:{
                                title:'기타 컴포넌트 리스트',
                                content:''
                            }
                        }
                    },
                }

            }
        },
        watch: {
            // 라우터 객체를 감시하고 있다가 fetchData() 함수를 호출한다
            '$route': 'onloadComponent'
        },
        created(){
            this.$EventBus.$on('changeComponent', this.onChangeUrl);

            this.onloadComponent();

            //this.dashBoardContentsData = secondaryDir;
            //this.dashBoardContentsData = this.pageComponentData[primaryDir]['pages'][secondaryDir]

        },
        mounted(){

        },
        updated(){

        },
        destroyed(){
            this.$EventBus.$off('changeComponent');
        },
        methods:{
            onloadComponent(){
                this.currentPageUrl = this.$route.path.split('/');
                this.secondaryTabMenu = secondaryDepthLinks[this.currentPageUrl[1]].tabMenuLinks; //tab menu data
                this.onChangeComponent([this.currentPageUrl[2],0]);
            },

            onChangeUrl(payload){
                this.$router.push(payload[0]);
                //this.onChangeComponent(payload);
            },

            onChangeComponent(payload){
                let primaryDepth = this.currentPageUrl[1];
                let secondaryDepth = payload[0];
                console.log('payload:::', primaryDepth)
                this.subPageTitle = secondaryDepthLinks[primaryDepth].primaryTitle;
                this.dashBoardContentsData = PAGE_COMPONENT_DATA[primaryDepth][secondaryDepth];
                this.$EventBus.$emit('currentMajorCode', PAGE_COMPONENT_DATA[primaryDepth][secondaryDepth].pageCode);

                //console.log('onChangeComponent', this.dashBoardContentsData)
            },
        },
        components: {
            PageFrame,
            SubPageTitleComponent,
            SecondaryDepthTabMenu,
            DashBoardContentFrame,

            //sub1, sub2, chart, etc
        }
    }
</script>
