<template>
    <div class="row">
        <div class="total-summary-wrap">
            <h2 class="sr-only">발전내용 요약</h2>
            <ul class="list-wrap clearfix">
                <li v-for="(item, idx ) in contents" :key="idx">
                    <div class="list-item">
                        <div class="total-data">
                            <div class="data-wrap">
                                <span class="tit">{{ item.totalData.title }}</span>
                                <div class="value">
                                    <span class="data">{{ numComma(item.totalData.data) }}</span>
                                    <span class="unit">{{ item.unit }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="tbl-wrap">
                            <table class="table table-cell-underline state-battery-info-2">
                                <tbody>
                                <tr v-for="(list, lidx) in item.dataList" :key="lidx">
                                    <th class="bul">{{ list.title }}</th>
                                    <td class="talign-right">
                                        <span class="data">{{ numComma(list.data) }}</span>
                                        <span class="unit">{{ item.unit }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</template>
<script>
    export default{
        name:'SummaryContentMain',
        data(){
            return{
                contents:[
                    {
                        unit:'kWh',
                        totalData:{
                            title:'금일 발전량',
                            data:2204.12,
                        },
                        dataList:[
                            {
                                title:'전일 발전량',
                                data:1288.88
                            },
                            {
                                title:'금월 발전량',
                                data:6111.33
                            }
                        ]
                    },
                    {
                        unit:'kWh',
                        totalData:{
                            title:'금일 충전량',
                            data:200.00,
                        },
                        dataList:[
                            {
                                title:'전일 충전량',
                                data:188.88
                            },
                            {
                                title:'금월 충전량',
                                data:4111.33
                            }
                        ]
                    },
                    {
                        unit:'kWh',
                        totalData:{
                            title:'금일 방전량',
                            data:304.89,
                        },
                        dataList:[
                            {
                                title:'전일 방전량',
                                data:388.88
                            },
                            {
                                title:'금월 방전량',
                                data:9111.33
                            }
                        ]
                    },
                    {
                        unit:'Hour',
                        totalData:{
                            title:'금일 발전시간',
                            data:104.12,
                        },
                        dataList:[
                            {
                                title:'전일 발전시간',
                                data:188.88
                            },
                            {
                                title:'금월 발전시간',
                                data:3111.33
                            }
                        ]
                    }
                ],

            }
        },
        computed:{

        },
        methods: {
            //콤마찍기
            numComma(str) {
                str = String(str);
                return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
            },

            //콤마풀기
            unNumComma(str) {
                str = String(str);
                return str.replace(/[^\d]+/g, '');
            },

            //숫자만 리턴(저장할때)
            //alert(cf_getNumberOnly('1,2./3g')); -> 123 return
            cf_getNumberOnly(str) {
                var len = str.length;
                var sReturn = "";

                for (var i = 0; i < len; i++) {
                    if ((str.charAt(i) >= "0") && (str.charAt(i) <= "9")) {
                        sReturn += str.charAt(i);
                    }
                }
                return sReturn;
            }
        }
    }
</script>