<template>
    <div class="rgt-content">
        <div class="present-energy-data">

            <dl class="data-list" v-for="(item, index) in chartData" :key ="index">
                <dt>{{ item.labels[0] }}</dt>
                <dd class="data">
                    <span>{{ item.dataValue }}</span>
                    <span>MWh</span>
                </dd>
                <dd class="chart-holder type-doughnut">
                    <doughnut-chart :chartdata="item" :chartoptions="chartOptions"></doughnut-chart>
                    <div class="inner-txt"><span>{{ item.dataPercentage }}%</span></div>
                </dd>
            </dl>
            <!--<dl class="data-list">
                <dt>총 충전량</dt>
                <dd class="data">
                    <span>179.14</span>
                    <span>MWh</span>
                </dd>
                <dd class="chart-holder type-doughnut">
                    &lt;!&ndash;<doughnut-chart ></doughnut-chart>&ndash;&gt;
                    <div class="inner-txt"><span>73%</span></div>
                </dd>
            </dl>
            <dl class="data-list">
                <dt>총 방전량</dt>
                <dd class="data">
                    <span>333.26</span>
                    <span>MWh</span>
                </dd>
                <dd class="chart-holder type-doughnut">
                    &lt;!&ndash;<doughnut-chart></doughnut-chart>&ndash;&gt;
                    <div class="inner-txt"><span>72%</span></div>
                </dd>
            </dl>-->
        </div>
    </div>
</template>

<script>
    import DoughnutChart from '@/views/components/charts/DoughnutChart'
    import { PAGE_COMPONENT_DATA, CHART_STYLE } from '@/common/GlobalConstant'


    export default {
        name: "statusEnergyContentMainRightChart",
        data(){
            const doughnutChartColors = [
                CHART_STYLE.colors.bgA[1],
                CHART_STYLE.colors.bgB[1],
                CHART_STYLE.colors.bgC[1]
            ];
            const doughnutBgGray = CHART_STYLE.colors.darkGray[1]

            return{
                getData:'',
                chartData:[
                    {
                        labels: ['총 태양광발전량'],
                        dataValue:'',
                        dataPercentage:'',
                        datasets: [
                            {
                                data:[], //max 10,000
                                borderWidth: 0,
                                backgroundColor: [doughnutChartColors[0], doughnutBgGray],
                                hoverBackgroundColor:[doughnutChartColors[0], doughnutBgGray],
                            }
                        ]
                    },{
                        labels: ['총 충전량'],
                        dataValue:'',
                        dataPercentage:'',
                        datasets: [
                            {
                                data:[],
                                borderWidth: 0,
                                backgroundColor: [doughnutChartColors[1], doughnutBgGray],
                                hoverBackgroundColor:[doughnutChartColors[1], doughnutBgGray],
                            }
                        ]
                    }, {
                        labels: ['총 방전량'],
                        dataValue:'',
                        dataPercentage:'',
                        datasets: [
                            {
                                data:[],
                                borderWidth: 0,
                                backgroundColor: [doughnutChartColors[2], doughnutBgGray],
                                hoverBackgroundColor:[doughnutChartColors[2], doughnutBgGray],
                            }
                        ]
                    }
                ],

                chartOptions:{
                    customOption:{
                        chartColor:'myColor',
                        xAxislabelString :'xAxes000',
                        yAxislabelString :'yAxes111'
                    }
                }
            }
        },

        computed:{

        },

        beforeCreate(){

        },
        created(){
            //async Data
            // 실제 데이터의 마지막 값(방전된 값)은 계산되도록.
            this.getData = [
                6521.22, 3001.11, 3520.11
            ];

            this.chartData.forEach((chart, idx) =>{
                let startPoint;
                if(idx === 0) startPoint = Number(((this.getData[idx] /10000)*100).toFixed(2));
                else startPoint = Number(((this.getData[idx] / this.getData[0])*100).toFixed(2));
                let endPoint = Number((100 - startPoint).toFixed(2));

                chart.datasets[0].data.push(startPoint);
                chart.datasets[0].data.push(endPoint);
                //console.log('get', chart.labels, startPoint, endPoint, this.chartData[0].datasets[0].data[0])
                //차트 인포 데이타
                chart.dataValue = this.getData[idx].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                chart.dataPercentage = Math.round(startPoint);


            })
        },
        mounted(){
            //console.log('chartStyle', this.chartData[0].datasets)
        },
        methods:{

        },
        components:{
            DoughnutChart
        }
    }
</script>
