<template>
    <XpanelFrame class="sblock-0101" :isToolbox=true>
        <template slot="panel-title">
            <!--<span>{{ xpanelContents.xpanelTitle }}</span>-->
        </template>
        <template slot ="panel-toolbox">
            <xpanel-toolbox>
                 <date-range-picker class="form-input-calendar" :options="customOpts"></date-range-picker>
            </xpanel-toolbox>
        </template>

        <template slot="panel-content">
            <div class="content-wrap">
                <status-energy-left-content></status-energy-left-content>
                <status-energy-right-content></status-energy-right-content>
            </div>
        </template>
    </XpanelFrame>
</template>

<script>
    import XpanelFrame from '@/views/layout/page-frame/dashboard-components/XpanelFrame'
    import XpanelToolbox from '@/views/layout/page-frame/dashboard-components/XpanelToolbox'
    import DateRangePicker from '@/views/components/common/DateRangePicker'

    import StatusEnergyLeftContent from './StatusEnergyContentMainLeftChart'
    import StatusEnergyRightContent from './StatusEnergyContentMainRightChart'

    export default {
        name: "statusEnergyMainContent",
        props:{

        },
        data(){
            return{
                customOpts:{
                    format: "'hh:mm a'",
                    //onlyTime: true
                },
            }
        },
        methods:{
            test(){
                console.log( 'click button!')
            }
        },
        components:{
            XpanelFrame,
            XpanelToolbox,
            DateRangePicker,

            StatusEnergyLeftContent,
            StatusEnergyRightContent
        }
    }
</script>
