<template>
    <div>
        <button @click="showTitle">Click</button>
        <span>{{ title }}</span>
    </div>
</template>

<script>
    export default {
        name: 'global-component',
        data() {
            return {
                title: ''
            }
        },
        methods: {
            showTitle() {
                if(this.title.length === 0){
                    this.title = 'Global Component!!'
                }else{
                    this.title = ''
                }

            }
        }
    }
</script>

<style scoped>
    div {
        padding: 20px
    }

    div span {
        margin: 20px
    }
</style>